{% extends "base.html" %}

{% block content %}

<header class="pb-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <span class="fs-4">Wallet - chia keys show </span>
    </a>
</header>

<div class="p-1 mb-4 bg-light border rounded-3">
    <div class="container-fluid">
        <pre>{{ keys }}</pre>
    </div>
</div>

<p><b>NOTE: Machinaris will never display your private key here.</b></p>

<p>However, you may view it yourself by executing this from within the Docker container.
    <code>chia keys show --show-mnemonic-seed</code>
</p>

<p>Also, you may view the key file(s) on the host, which you mounted within the Docker container:</p>

<ul>
    {% for key_path in key_paths: %}
    <li>{{ key_path }}</li>
    {% endfor %}
</ul>

{% endblock %}