{% extends "base.html" %}

{% block content %}

<div class="modal fade" id="analyzeModal" tabindex="-1" aria-labelledby="analyzeModalLabel" aria-hidden="true">
    <div class="modal-dialog bg-dark rounded-3 modal-lg">
        <div class="modal-content bg-dark">
            <div class="modal-header bg-dark">
                <h5 class="modal-title" id="analyzeModalLabel">Plotting Analysis</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body bg-dark">
                <p>Analysis of the plotting job log shows time (seconds) spent in each phase:</p>
                <pre id="plotAnalyzeContent"></pre>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="checkModal" tabindex="-1" aria-labelledby="checkModalLabel" aria-hidden="true">
    <div class="modal-dialog bg-dark rounded-3 modal-lg">
        <div class="modal-content bg-dark">
            <div class="modal-header bg-dark">
                <h5 class="modal-title" id="checkModalLabel">Plot Check</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body bg-dark">
                <pre id="plotCheckContent"></pre>
            </div>
        </div>
    </div>
</div>

<div class="position-relative">
    <div class="position-absolute top-0 end-0" style="z-index: 2000; margin-top: -18px; margin-right: -3px;">
      <a href="https://github.com/guydavis/machinaris/wiki/Chia" target="_blank">
        <i class="fs-4 bi-question-circle"></i>
      </a>
    </div>
  </div>

<style>
    a.active.nav-link {
        background-color: #3d3f42 !important
    }
    td.analyze_cell {
        text-align: center;
        padding:0px 5px 0px 0px;
    }
    td.check_cell {
        text-align: center;
        padding:0px 5px 0px 0px;
    }
</style>

<nav class="navbar navbar-dark" style="padding-bottom: 0px;">
    <div class="container-fluid">
        <ul class="nav nav-tabs bg-dark">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ url_for('farming_plots') }}">Plots</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('farming_workers') }}">Workers</a>
            </li>
        </ul>
        <form class="d-flex" method="POST" style="padding-bottom:5px" id="main-form">
            <fieldset>
                    {% for farmer in farmers %}
                    <div class="btn-group">
                        <button type="button" class="btn btn-outline-success dropdown-toggle" data-bs-toggle="dropdown"
                            aria-expanded="false" id="{{ farmer.hostname }}_btn">
                            {{ farmer.displayname }}: {{farmer.farming_status()}}
                        </button>
                        <ul class="dropdown-menu bg-dark btn-outline-success">
                            {% for worker in farmer.workers %}
                            <li>
                                <a class="dropdown-item text-white text-decoration-none" href="#"
                                    onclick='ViewLogs("{{ worker.hostname }}","{{worker.blockchain}}");return false;'>
                                    <span class="align-text-bottom" style="padding-right:5px">{{worker.blockchain|capitalize}}</span>
                                    &nbsp;
                                    {% if worker.farming_status == 'farming' or worker.farming_status == 'harvesting' %}
                                        <i class="fs-4 bi-emoji-smile"></i>
                                    {% else %}
                                        <i class="fs-4 bi-exclamation-triangle"></i>
                                    {% endif %}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endfor %}
                <fieldset>
        </form>
    </div>
</nav>

<div>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    {% if category == 'message' %}
    <div class="alert alert-warning" role="alert">
        {% else %}
        <div class="alert alert-{{ category }}" role="alert">
            {% endif %}
            {{ message|safe }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

    <div class="p-3 mb-4 bg-light border rounded-3">
        <div class="table-responsive">
            <table id="data" class="table table-dark">
                <thead>
                    <tr>
                        {% for column in plots.columns %}
                        <th scope="col" class="text-success">{{ column }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    {% endblock %}

    {% block scripts %}
    <script>
        function ViewLogs(hostname, blockchain) {
            var d = new Date();
            var height = 600;
            var width = 900;
            var top = (screen.height - height) / 2;
            var left = (screen.width - width) / 2;
            window.open("{{ url_for('logs') }}?log=farming" + "&hostname=" + hostname + "&blockchain=" + blockchain, 'Farming Log for ' + blockchain + ' on ' + hostname, 'resizeable=yes,scrollbars=yes,height=' + height + ',width=' + width + ',top=' + top + ',left=' + left).focus();
        }
        function PlotAnalyze(plot) {
            var output = document.getElementById('plotAnalyzeContent');
            output.textContent = ""; // Clear any old analysis before requesting
            var xhr = new XMLHttpRequest();
            xhr.open('GET', "{{ url_for('farming_plots') }}?analyze=" + plot);
            xhr.send();
            xhr.onload = function () {
                output.textContent = xhr.responseText;
            };
        }
        function PlotCheck(plot) {
            var output = document.getElementById('plotCheckContent');
            output.textContent = ""; // Clear any old check before requesting
            var xhr = new XMLHttpRequest();
            xhr.open('GET', "{{ url_for('farming_plots') }}?check=" + plot);
            xhr.send();
            xhr.onload = function () {
                output.textContent = xhr.responseText;
            };
        }
        $(document).ready(function () {
            $('#data').DataTable({
                "pageLength": 25,
                "serverSide": true,
                "ajax": "{{ url_for('farming_data') }}",
                "order": [[6, "desc"]],
                "columnDefs": [
                    { 
                        targets: [9], "orderable": false, "className": 'analyze_cell',
                        "render": function ( data, type, row, meta ) {
                            if (data) {
                                arr = data.split("|");
                                seconds = arr[0].trim();
                                plot_id = arr[1].trim();
                                return '<a href="#" title="' + seconds + ' secs" data-bs-toggle="modal" data-bs-target="#analyzeModal" onclick=\'PlotAnalyze("'+plot_id+'");return false;\'><i class="fs-4 bi-stopwatch"></i></a>'
                            }
                            return "";
                        }
                    },
                    { 
                        targets: [8], "orderable": true, "className": 'check_cell',
                        "render": function ( data, type, row, meta ) {
                            if (data) {
                                arr = data.split("|");
                                status = arr[0].trim();
                                plot_id = arr[1].trim();
                                if (status == 'GOOD') {
                                    return '<a href="#" title="Good Plot" data-bs-toggle="modal" data-bs-target="#checkModal" onclick=\'PlotCheck("'+plot_id+'");return false;\'><i class="fs-4 bi-check-circle"></i></a>';
                                } else {
                                    return '<a href="#" title="Bad Plot" data-bs-toggle="modal" data-bs-target="#checkModal" onclick=\'PlotCheck("'+plot_id+'");return false;\'><i class="fs-4 bi-exclamation-triangle"></i></a>';
                                }
                            }               
                            return "";
                        }
                    }, 
                ],
            });
        });
    </script>
    {% endblock %}