{% extends "base.html" %}

{% block content %}

<div class="modal fade" id="analyzeModal" tabindex="-1" aria-labelledby="analyzeModalLabel" aria-hidden="true">
    <div class="modal-dialog bg-dark rounded-3 modal-lg">
        <div class="modal-content bg-dark">
            <div class="modal-header bg-dark">
                <h5 class="modal-title" id="analyzeModalLabel">{{_('Plotting Analysis')}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body bg-dark">
                <p>{{_('Analysis of the plotting job log shows time (seconds) spent in each phase:')}}</p>
                <pre id="plotAnalyzeContent"></pre>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="checkModal" tabindex="-1" aria-labelledby="checkModalLabel" aria-hidden="true">
    <div class="modal-dialog bg-dark rounded-3 modal-lg">
        <div class="modal-content bg-dark">
            <form method="POST" id="check-form">
                <div class="modal-header bg-dark">
                    <h5 class="modal-title" id="checkModalLabel">{{_('Plot Check')}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body bg-dark">
                    <pre id="plotCheckContent" style="height: 40pc; overflow-y: scroll; white-space: pre-wrap;"></pre>
                    <input type="hidden" name="plot_id" id="plotCheckId"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="btnCloseSettings" data-bs-dismiss="modal">{{_('Close')}}</button>
                    <button type="button" class="btn btn-outline-success" id="btnRecheckPlot" data-bs-dismiss="modal">{{_('Recheck')}}</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="position-relative">
    <div class="position-absolute top-0 end-0" style="z-index: 2000; margin-top: -18px; margin-right: -3px;">
        <a href="#" title="{{_('Settings')}}" data-bs-toggle="modal" data-bs-target="#settingsModal" target="_blank"><i class="fs-4 bi-gear"></i></a>
        &nbsp;
        <a href="https://github.com/guydavis/machinaris/wiki/Chia" target="_blank">
            <i class="fs-4 bi-question-circle"></i>
        </a>
    </div>
</div>

<style>
    a.active.nav-link {
        background-color: #3d3f42 !important
    }
    td.analyze_cell {
        text-align: center;
        padding:0px 5px 0px 0px;
    }
    td.check_cell {
        text-align: center;
        padding:0px 5px 0px 0px;
    }
    td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 20em;
    }
</style>

<div class="modal fade" id="settingsModal" tabindex="-1" aria-labelledby="settingsModalLabel" aria-hidden="true">
    <div class="modal-dialog bg-dark rounded-3">
      <div class="modal-content bg-dark">
        <div class="modal-header bg-dark">
          <h5 class="modal-title" id="settingsModalLabel">{{_('Settings')}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body bg-dark">
          <form method="POST" id="settings-form">
            <div class="mb-3">
                <div class="row align-items-center">
                    <div class="col">
                        <label for="replot_blockchain_field" class="col-form-label">{{_('Blockchain')}}:</label> 
                        <select type="text" class="form-control" id="replot_blockchain_field" name="replot_blockchain"
                            onchange="ToggleBlockchainReplottingSettings(this); return false;">
                        {% for blockchain in settings.replotting.keys() %}
                            <option value="{{blockchain}}">{{blockchain|capitalize}}</option>
                        {% endfor %}
                        </select>
                    </div>
                    {% for blockchain in settings.replotting.keys() %}
                    <div class="replotting_{{blockchain}} col" {% if not loop.first %} style="display:none"{%endif%}>
                        <label class="col-form-label">{{_('Replotting')}}:</label> 
                        <div class="row align-items-center">
                            <div class="col">
                                <input type="radio" id="replotting_{{blockchain}}_enabled" name="replotting_{{blockchain}}" value="false"
                                {% if not settings.replotting[blockchain].enabled %}checked="checked"{% endif %}>
                                <label for="replotting_{{blockchain}}_enabled" class="col-form-label">{{_('Disabled')}}</label>
                            </div>
                            <div class="col">
                                <input type="radio" id="replotting_{{blockchain}}_disabled" name="replotting_{{blockchain}}" value="true"
                                {% if settings.replotting[blockchain].enabled %}checked="checked"{% endif %}>
                                <label for="replotting_{{blockchain}}_enabled" class="col-form-label">{{_('Enabled')}}</label>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <br/>
                {% for blockchain in settings.replotting.keys() %}
                <div class="replotting_{{blockchain}} row align-items-center" {% if not loop.first %} style="display:none"{%endif%}>
                    <label class="col-form-label">{{_('Free up space for new plots of k-size')}}:</label>
                    {% for ksize in ksizes %}
                    <div class="col">
                        <input type="radio" id="replotting_{{blockchain}}_free_k{{ksize}}" name="replotting_{{blockchain}}_free_ksize"
                          {% if ksize == settings.replotting[blockchain].free_ksize %} checked="checked" {% endif %} value='{{ksize}}' />
                        <label for="replotting_{{blockchain}}_free_k{{ksize}}" class="col-form-label">k{{ksize}}</label>
                    </div>
                    {% endfor %}
                </div>
                <div class="replotting_{{blockchain}} row align-items-center" {% if not loop.first %} style="display:none"{%endif%}>
                    <label class="col-form-label">{{_('Criteria for selecting plots to delete')}} (ORed, not ANDed):</label>
                    <div class="col">
                        <input type="checkbox" id="replotting_{{blockchain}}_delete_solo" name="replotting_{{blockchain}}_delete_solo"
                          {% if settings.replotting[blockchain].delete_solo %} checked="checked" {% endif %} value='true'/>
                        <label for="replotting_{{blockchain}}_delete_solo" class="col-form-label">{{_('Delete Solo Plots - Keep Portable Plots')}}</label>
                    </div>
                </div>
                <div class="replotting_{{blockchain}} row align-items-center" {% if not loop.first %} style="display:none"{%endif%}>
                    <div class="col">
                        <input type="checkbox" id="replotting_{{blockchain}}_delete_uncompressed" name="replotting_{{blockchain}}_delete_uncompressed"
                          {% if settings.replotting[blockchain].delete_uncompressed %} checked="checked" {% endif %} value='true'/>
                        <label for="replotting_{{blockchain}}_delete_uncompressed" class="col-form-label">{{_('Delete Uncompressed Plots - Keep Compressed Plots')}}</label>
                    </div>
                </div>
                <div class="replotting_{{blockchain}} row align-items-start" {% if not loop.first %} style="display:none"{%endif%}>
                    <div class="col">
                        <input type="checkbox" id="replotting_{{blockchain}}_delete_before" name="replotting_{{blockchain}}_delete_before"
                          {% if settings.replotting[blockchain].delete_before %} checked="checked" {% endif %} value='true'/>
                        <label for="replotting_{{blockchain}}_delete_before" class="col-form-label">{{_('Delete Plots Older Than')}}:</label>
                    </div>
                    <div class="col">
                        <input class="form-control" id="replotting_{{blockchain}}_delete_before_date" name="replotting_{{blockchain}}_delete_before_date" 
                            type="date" value="{{settings.replotting[blockchain].delete_before_date}}">
                    </div>
                </div>
                <div class="replotting_{{blockchain}} row align-items-center" {% if not loop.first %} style="display:none"{%endif%}>
                    <div class="col">
                        <input type="checkbox" id="replotting_{{blockchain}}_delete_by_ksize" name="replotting_{{blockchain}}_delete_by_ksize"
                          {% if settings.replotting[blockchain].delete_by_ksize %} checked="checked" {% endif %} value='true'/>
                        <label for="replotting_{{blockchain}}_delete_by_ksize" class="col-form-label">{{_('Delete K-Sizes')}}:</label>
                        &nbsp;&nbsp;
                        {% for ksize in ksizes %}
                        <input type="checkbox" id="replotting_{{blockchain}}_delete_by_ksizes_{{ksize}}" name="replotting_{{blockchain}}_delete_by_ksizes"
                        {% if ksize in settings.replotting[blockchain].delete_by_ksizes %} checked="checked" {% endif %} value="{{ksize}}"/>
                        &nbsp;<label for="replotting_{{blockchain}}_delete_by_ksizes_{{ksize}}" class="col-form-label">k{{ksize}}</label>&nbsp;
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
                <br/>
                <p>{{_('When enabled, this action will repeatedly DELETE a few selected plots from each folder on all farmers and harvesters, freeing space for new plots.  Are you sure?')}}</p>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id="btnCancelSettings" data-bs-dismiss="modal">{{_('Cancel')}}</button>
          <button type="button" class="btn btn-outline-success" id="btnSaveSettings">{{_('Save')}}</button>
        </div>
      </div>
    </div>
  </div>

<div class="modal fade" id="walletModal" tabindex="-1" aria-labelledby="walletModalLabel" aria-hidden="true">
    <div class="modal-dialog bg-dark rounded-3 modal-lg">
      <div class="modal-content bg-dark">
        <div class="modal-header bg-dark">
          <h5 class="modal-title" id="walletModalLabel">{{_('Wallet Settings')}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body bg-dark">
          <form method="POST" id="wallet-form">
            <input type="hidden" id="blockchain_field" name="blockchain" value="" />
            <div class="mb-3">
              <a style='float:right' href="https://github.com/guydavis/machinaris/wiki/Wallets" target="_blank">
                  <i class="fs-4 bi-question-circle"></i>
              </a>
              <label for="cold_wallet_address" class="col-form-label">{{_('Cold Wallet Address:')}}</label>
              <input type="text" class="form-control" id="cold_wallet_address_field" name="cold_wallet_address"/>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id="btnCancelWallet" data-bs-dismiss="modal">{{_('Cancel')}}</button>
          <button type="button" class="btn btn-outline-success" id="btnSave">{{_('Save')}}</button>
        </div>
      </div>
    </div>
  </div>

<nav class="navbar navbar-dark" style="padding-bottom: 0px;">
    <div class="container-fluid">
        <ul class="nav nav-tabs bg-dark">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ url_for('farming_plots') }}">{{_('Plots')}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('farming_workers') }}">{{_('Workers')}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('farming_warnings') }}">{{_('Warnings')}}</a>
            </li>
        </ul>
        <form class="d-flex" method="POST" style="padding-bottom:5px" id="main-form">
            <fieldset>
                    {% for farmer in farmers %}
                    <div class="btn-group" {% if loop.last %}style="padding-right:50px"{% endif %} >
                        <button type="button" class="btn btn-outline-success dropdown-toggle" data-bs-toggle="dropdown"
                            aria-expanded="false" id="{{ farmer.hostname }}_btn">
                            {{ farmer.displayname }}: {{farmer.farming_status()}}
                        </button>
                        <ul class="dropdown-menu bg-dark btn-outline-success">
                            {% for worker in farmer.workers %}
                            <li>
                                <a class="dropdown-item text-white text-decoration-none" href="#"
                                    onclick='ViewLogs("{{ worker.hostname }}","{{worker.blockchain}}");return false;'>
                                    {% if worker.connection_status == 'offline' or worker.connection_status == 'Connection Refused' %}
                                        <i class="fs-4 bi-dash-circle text-danger" title="{{_('Worker is offline.')}}"></i>
                                    {% elif worker.farming_status == 'not available' %}
                                        <i class="fs-4 bi-dash-circle text-danger" title="{{_('Farming not started successfully.')}}"></i>
                                    {% elif worker.farming_status == 'farming' or worker.farming_status == 'harvesting' %}
                                        <i class="fs-4 bi-check-circle text-success" title="{{worker.farming_status|capitalize}}"></i>
                                    {% else %}
                                        <i class="fs-4 bi-exclamation-triangle text-warning" title="{{worker.farming_status}}"></i>
                                    {% endif %} &nbsp;
                                    <span class="align-text-bottom" style="padding-right:5px">{{worker.blockchain|capitalize}}</span>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endfor %}
                <fieldset>
        </form>
    </div>
</nav>

<div>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    {% if category == 'message' %}
    <div class="alert alert-warning" role="alert">
        {% else %}
        <div class="alert alert-{{ category }}" role="alert">
            {% endif %}
            {{ message|safe }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

    <div class="p-3 mb-4 bg-light border rounded-3">
        <div class="table-responsive">
            <table id="data" class="table table-dark">
                <thead>
                    <tr>
                        {% for column in plots.columns %}
                        <th scope="col" class="text-success">{{ column }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    {% endblock %}

    {% block scripts %}
    <script>
        function ToggleBlockchainReplottingSettings(sel) {
            {% for blockchain in settings.replotting.keys() %}
            if (sel.value == '{{blockchain}}') {
                $('.replotting_{{blockchain}}').show();
            } else {
                $('.replotting_{{blockchain}}').hide();
            }
            {% endfor %}
        }
        function ViewLogs(hostname, blockchain) {
            var d = new Date();
            var height = 600;
            var width = 900;
            var top = (screen.height - height) / 2;
            var left = (screen.width - width) / 2;
            window.open("{{ url_for('logs') }}?log=farming" + "&hostname=" + hostname + "&blockchain=" + blockchain, '{{_('Farming Log for ')}}' + blockchain + ' - ' + hostname, 'resizeable=yes,scrollbars=yes,height=' + height + ',width=' + width + ',top=' + top + ',left=' + left).focus();
        }
        function PlotAnalyze(plot) {
            var output = document.getElementById('plotAnalyzeContent');
            output.textContent = ""; // Clear any old analysis before requesting
            var xhr = new XMLHttpRequest();
            xhr.open('GET', "{{ url_for('farming_plots') }}?analyze=" + plot);
            xhr.send();
            xhr.onload = function () {
                output.textContent = xhr.responseText;
            };
        }
        function PlotCheck(plot) {
            var output = document.getElementById('plotCheckContent');
            output.textContent = ""; // Clear any old check before requesting
            var plotCheckId = document.getElementById('plotCheckId');
            plotCheckId.value = plot;
            var xhr = new XMLHttpRequest();
            xhr.open('GET', "{{ url_for('farming_plots') }}?check=" + plot);
            xhr.send();
            xhr.onload = function () {
                output.textContent = xhr.responseText;
            };
        }
        $(document).ready(function () {
            $("#btnSaveSettings").click(function () {
                $("#btnCancelSettings").prop("disabled", true);
                $(this).prop("disabled", true);
                $(this).html(
                    `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Saving...`
                );
                $("#settings-form").submit();
            });
            $("#btnRecheckPlot").click(function () {
                var plotCheckId = document.getElementById('plotCheckId');
                var xhr = new XMLHttpRequest();
                xhr.open('GET', "{{ url_for('farming_plots') }}?check=" + plotCheckId.value + "&force_recheck=true");
                xhr.send();
                alert("Plot check initiated. Please refresh in a few minutes.\n\nNote that all plots will be checked slowly in the background so you don't need to check each one individually.  Please be patient.");
            });
            $('#data').DataTable({
                "stateSave": true,
                "pageLength": 25,
                "serverSide": true,
                "ajax": "{{ url_for('farming_data') }}",
                "order": [[6, "desc"]],
                "columnDefs": [
                    { 
                        targets: [9], "orderable": false, "className": 'analyze_cell',
                        "render": function ( data, type, row, meta ) {
                            if (data) {
                                arr = data.split("|");
                                seconds = arr[0].trim();
                                plot_id = arr[1].trim();
                                return '<a href="#" title="' + seconds + ' secs" data-bs-toggle="modal" data-bs-target="#analyzeModal" onclick=\'PlotAnalyze("'+plot_id+'");return false;\'><i class="fs-4 bi-stopwatch"></i></a>'
                            }
                            return "";
                        }
                    },
                    { 
                        targets: [8], "orderable": true, "className": 'check_cell',
                        "render": function ( data, type, row, meta ) {
                            if (data) {
                                arr = data.split("|");
                                status = arr[0].trim();
                                plot_id = arr[1].trim();
                                if (status == 'GOOD') {
                                    return '<a href="#" title="{{_('Good Plot')}}" data-bs-toggle="modal" data-bs-target="#checkModal" onclick=\'PlotCheck("'+plot_id+'");return false;\'><i class="fs-4 bi-check-circle text-success"></i></a>';
                                } else if (status == 'BAD') {
                                    return '<a href="#" title="{{_('Bad Plot')}}" data-bs-toggle="modal" data-bs-target="#checkModal" onclick=\'PlotCheck("'+plot_id+'");return false;\'><i class="fs-4 bi-exclamation-triangle text-warning"></i></a>';
                                } else {
                                    return '<a href="#" title="{{_('Unknown')}}" data-bs-toggle="modal" data-bs-target="#checkModal" onclick=\'PlotCheck("'+plot_id+'");return false;\'><i class="fs-4 bi-question-circle text-white"></i></a>';
                                }
                            }
                            return '<a href="#" title="{{_('Unchecked')}}" data-bs-toggle="modal" data-bs-target="#checkModal" onclick=\'PlotCheck("'+row[2]+'");return false;\'><i class="fs-4 bi-question-circle text-white"></i></a>';
                        }
                    }, 
                ],
                {% if lang != 'en' %}
                "language": {
                    "url": "{{ url_for('static', filename='3rd_party/i18n/datatables.'+lang+'.json') }}"
                },
                {% endif %}
            });
        });
    </script>
    {% endblock %}