{% extends "base.html" %}

{% block content %}

<div class="position-relative">
    <div class="position-absolute top-0 end-0" style="z-index: 2000; margin-top: -18px; margin-right: -8px;">
      <a href="https://github.com/guydavis/machinaris/wiki/Workers" target="_blank">
        <i class="fs-4 bi-question-circle"></i>
      </a>
    </div>
  </div>

<style>
    a.active.nav-link {
        background-color: #3d3f42 !important
    }
    button.active.nav-link {
        background-color: #3d3f42 !important
    }
</style>
<nav class="navbar navbar-dark" style="padding-bottom: 0px;">
    <div class="container-fluid">
        <ul class="nav nav-tabs bg-dark">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('farming_plots') }}">{{_('Plots')}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ url_for('farming_workers') }}">{{_('Workers')}}</a>
            </li>
        </ul>
    </div>
</nav>

<div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    {% if category == 'message' %}
    <div class="alert alert-warning" role="alert">
        {% else %}
        <div class="alert alert-{{ category }}" role="alert">
            {% endif %}
            {{ message|safe }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

    <div class="p-1 mb-4 bg-light border rounded-3">
        {% for farmer in farmers %}
        <div class="row">
            <div class="col" style="margin-top:5px; margin-bottom:5px;">
                <div class="h-100 p-2 text-white">
                    <h6 class="display-6 text-center">{{ farmer.displayname }}</h6>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-5" style="padding-left: 10px">
                <div class="fs-4">{{_('Details')}}</div>
                <table id="worker" class="table table-dark">
                    <tbody>
                    <tr>
                        <th scope="col" class="text-success">{{_('IP Address')}}</th>
                        <td>{{farmer.hostname}}</td>
                    </tr>
                    <tr>
                        <th scope="col" class="text-success">{{_('Hostname')}}</th>
                        <td><a class='text-white' href="{{ url_for('workers') }}">{{farmer.displayname}}</a></td>
                    </tr>
                    <tr>
                        <th scope="col" class="text-success">{{_('Blockchains Farming')}}</th>
                        <td>{{daily_summaries[farmer.displayname].keys()|join(', ')}}</td>
                    </tr>
                    <tr>
                        <th scope="col" class="text-success">{{_('Plot Counts')}}</th>
                        <td>{{ farmer.plot_counts }}</td>
                    </tr>
                    <tr>
                        <th scope="col" class="text-success">{{_('Plot Types')}}</th>
                        <td>{{ farmer.plot_types }}</td>
                    </tr>
                    <tr>
                        <th scope="col" class="text-success">{{_('Drive Count')}}</th>
                        <td><a class='text-white' href="{{ url_for('drives') }}">{{farmer.drive_count}} {{_('devices')}}</a></td>
                    </tr>
                    <tr>
                        <th scope="col" class="text-success">{{_('Drive Usage')}}</th>
                        <td>{{farmer.drive_usage}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-1"></div>
            <div class="col-6">
                {% if farmer.displayname in daily_summaries %}
                <div id="carousel-{{farmer.displayname}}" class="carousel slide" data-bs-ride="carousel" style="padding-top:10px;padding-right:10px">
                    <div class="carousel-inner">
                        {% for blockchain, summary in daily_summaries[farmer.displayname].items() %}
                        {% if blockchain != 'mmx' %}
                        <div class="carousel-item {% if blockchain == 'chia' %} active {% endif %}" data-bs-interval="10000">
                            <h4 class="text-center">{{ blockchain|capitalize }} - {{_('Daily Summary')}}</h4>
                            {% if summary %}
                            <div style="white-space:pre-wrap;margin:10px;">{{ summary }}</div>
                            {% else %}
                            <div style="margin:10px;">{{_('No daily summary found for %(blockchain)s on %(displayname)s.', blockchain=blockchain, displayname=farmer.displayname)}}
                            <br/><br/>
                            {{_('Please check that your Machinaris container for this blockchain is running. Also please verify settings on the Alerts page.')}}
                            </div>
                            {% endif %}
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" style="align-items: initial; justify-content: left; padding-top: 0px; width: 5%; height: 50px;" type="button" data-bs-target="#carousel-{{farmer.displayname}}" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">{{_('Previous')}}</span>
                      </button>
                      <button class="carousel-control-next" style="align-items: initial; justify-content: right; padding-top: 0px; width: 5%; height: 50px;" type="button" data-bs-target="#carousel-{{farmer.displayname}}" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">{{_('Next')}}</span>
                      </button>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-12" style="margin-top:15px; margin-bottom:5px;">
                {% if disk_usage[farmer.hostname] %}
                <canvas id="disk_{{farmer.hostname}}" width="400"></canvas>
                {% if disk_usage[farmer.hostname]['paths']|length >= MAX_COLUMNS_ON_CHART %}
                    <p class="small text-center text-muted" style="padding-top: 15px">
                        {{_('For legibility, the chart shows only a random selection of paths when a worker has many of them.')}}
                    </p>
                {% endif %}
                {% else %}
                {% autoescape false %}
                <p>{{_('No plots disk stats recorded recently for %(hostname)s with Chia blockchain. Please ensure all paths containing plots have been %(wiki_link_open)s configured %(wiki_link_close)s. Also ensure the Chia worker is reporting into the controller on the Workers page.', 
                    hostname=farmer.hostname, wiki_link_open='<a target="_blank" href="https://github.com/guydavis/machinaris/wiki/FAQ#can-i-use-two-or-more-final-destination-directories-to-hold-my-plots">', wiki_link_close='</a>')}}
                </p>
                {% endautoescape %}
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>

    {% endblock %}

    {% block scripts %}
    <script>
        Chart.register(ChartDataLabels);
    </script>
    {% for farmer in farmers %}
    {% if disk_usage[farmer.hostname] %}
    <script>
        var ctx = document.getElementById('disk_{{farmer.hostname}}');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: {{ disk_usage[farmer.hostname].paths | safe }},
                datasets: [{
                    label: "{{_('Disk Space Used (TB)')}}",
                    data: {{ disk_usage[farmer.hostname].used | safe }},
                    datalabels: { align: 'end', anchor: 'end', 
                        formatter: function(value, context) {
                            return Math.round(context.chart.data.datasets[0].data[context.dataIndex] / 
                                (context.chart.data.datasets[0].data[context.dataIndex] + 
                                context.chart.data.datasets[1].data[context.dataIndex]) * 100) + "% {{_('full')}}";
                        }
                    },
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgba(255, 99, 132, 1)',
                },
                {
                    label: "{{_('Disk Space Free (TB)')}}",
                    data: {{ disk_usage[farmer.hostname].free | safe }},
                    datalabels: { labels: { title: null } },
                    backgroundColor: 'rgba(54, 162, 235, 0.2)',
                    borderColor: 'rgba(54, 162, 235, 1)',
                }],
            },
            borderWidth: 1,
            plugins: [ChartDataLabels],
            options: {
                plugins: {  
                    legend: {
                        labels: {
                            color: "#c7c7c7",  
                            font: {
                                size: 18 
                            }
                        }
                    }
                },
                responsive: true,
                scales: {
                    x: {
                        stacked: true,
                        ticks: {
                          color: "#c7c7c7",
                          font: {
                            size: 16 
                          }  
                        },
                    },
                    y: {
                        stacked: true,
                        beginAtZero: true,
                        ticks: {
                          color: "#c7c7c7",
                          font: {
                            size: 16 
                          }  
                        },
                    }
                }
            }
        });
    </script>
    {% endif %}
    {% endfor %}
    {% endblock %}