{% extends "base.html" %}

{% block content %}

<style>
    a.active.nav-link {
        background-color: #3d3f42 !important
    }
    button.active.nav-link {
        background-color: #3d3f42 !important
    }
</style>
<nav class="navbar navbar-dark" style="padding-bottom: 0px;">
    <div class="container-fluid">
        <ul class="nav nav-tabs bg-dark">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('farming_plots') }}">Plots</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ url_for('farming_workers') }}">Workers</a>
            </li>
        </ul>
    </div>
</nav>

<div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    {% if category == 'message' %}
    <div class="alert alert-warning" role="alert">
        {% else %}
        <div class="alert alert-{{ category }}" role="alert">
            {% endif %}
            {{ message|safe }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

    <div class="p-1 mb-4 bg-light border rounded-3">
        {% for farmer in farmers %}
        <div class="row">
            <div class="col" style="margin-top:5px; margin-bottom:5px;">
                <div class="h-100 p-2 text-white">
                    <h6 class="display-6 text-center">{{ farmer.displayname }}</h6>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4" style="margin-top:5px; margin-bottom:5px;">
                {% if farmer.displayname in daily_summaries %}
                <div id="carousel-{{farmer.displayname}}" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        {% for blockchain, summary in daily_summaries[farmer.displayname].items() %}
                        <div class="carousel-item {% if blockchain == 'chia' %} active {% endif %}" data-bs-interval="10000">
                            <h4 class="text-center">{{ blockchain|capitalize }} - Daily Summary</h4>
                            {% if summary[0] %}
                            <div style="white-space:pre-wrap;margin:10px;">{{ summary[0] }}</div>
                            {% else %}
                            <div style="margin:10px;">No daily summary found for {{ blockchain }} on {{farmer.displayname}}.
                            <br/><br/>
                            Please check that your Machinaris container for this fork is running. Also please verify 
                            settings on the Alerts page.
                            </div>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" style="align-items: initial; justify-content: left; padding-top: 0px; width: 5%; height: 50px;" type="button" data-bs-target="#carousel-{{farmer.displayname}}" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" style="align-items: initial; justify-content: right; padding-top: 0px; width: 5%; height: 50px;" type="button" data-bs-target="#carousel-{{farmer.displayname}}" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                </div>
                {% endif %}
            </div>
            <div class="col-8" style="margin-top:5px; margin-bottom:5px;">
                {% if disk_usage[farmer.hostname] %}
                <canvas id="disk_{{farmer.hostname}}" width="400"></canvas>
                {% else %}
                <p>
                    No plots disk stats recorded recently for {{farmer.hostname}}. 
                    Please ensure all paths containing plots have been 
                    <a target="_blank" href="https://github.com/guydavis/machinaris/wiki/FAQ#can-i-use-two-or-more-final-destination-directories-to-hold-my-plots">configured</a>. 
                    Also ensure the worker is reporting into the controller on the
                    Workers page.
                </p>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>

    {% endblock %}

    {% block scripts %}
    {% for farmer in farmers %}
    {% if disk_usage[farmer.hostname] %}
    <script>
        var ctx = document.getElementById('disk_{{farmer.hostname}}');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: {{ disk_usage[farmer.hostname].paths | safe }},
                datasets: [{
                    label: "Disk Space Used (TB)",
                    data: {{ disk_usage[farmer.hostname].used | safe }},
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgba(255, 99, 132, 1)',
                },
                {
                    label: 'Disk Space Free (TB)',
                    data: {{ disk_usage[farmer.hostname].free | safe }},
                    backgroundColor: 'rgba(54, 162, 235, 0.2)',
                    borderColor: 'rgba(54, 162, 235, 1)',
                }],
            },
            borderWidth: 1,
            options: {
                plugins: {  
                    legend: {
                        labels: {
                            color: "#c7c7c7",  
                            font: {
                                size: 18 
                            }
                        }
                    }
                },
                responsive: true,
                scales: {
                    x: {
                        stacked: true,
                        ticks: {
                          color: "#c7c7c7",
                          font: {
                            size: 16 
                          }  
                        },
                    },
                    y: {
                        stacked: true,
                        beginAtZero: true,
                        ticks: {
                          color: "#c7c7c7",
                          font: {
                            size: 16 
                          }  
                        },
                    }
                }
            }
        });
    </script>
    {% endif %}
    {% endfor %}
    {% endblock %}