apscheduler
click
jinja2
flask == 2.3.3
flask-smorest >= 0.42.1
python-dotenv
marshmallow
sqlalchemy
sqlalchemy-utils
flask-sqlalchemy
marshmallow-sqlalchemy
marshmallow-toplevel
gunicorn
pytz
wheel
requests
pexpect
flask-migrate
ruamel.yaml
psutil
pytest
flask-babel
beautifulsoup4
geoip2
gdown
pendulum
py-spy