apscheduler==3.8.0
click==7.1.2
jinja2==3.0.3
flask
flask-smorest
python-dotenv
marshmallow
sqlalchemy
sqlalchemy-utils
flask-sqlalchemy
marshmallow-sqlalchemy
marshmallow-toplevel
gunicorn
pytz
wheel
requests
pexpect
flask-migrate
ruamel.yaml
psutil
pytest
flask-babel
beautifulsoup4
geoip2