{% extends "base.html" %}

{% block content %}

<div class="modal fade" id="startModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="startModalLabel" aria-hidden="true">
    <div class="modal-dialog bg-dark rounded-3">
        <div class="modal-content bg-dark">
            <div class="modal-header bg-dark">
                <h5 class="modal-title" id="startModalLabel">Start Archiving</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body bg-dark">
                This action will start Plotman archiving from the configured 'dst' folder. Completed
                plots will be disributed locally or transferred remotely. Continue?
            </div>
            <div class="modal-footer bg-dark">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btnCancelStart">Cancel</button>
                <button type="button" class="btn btn-outline-success" id="btnConfirmStart">
                    Start
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="stopModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="stopModalLabel" aria-hidden="true">
    <div class="modal-dialog bg-dark rounded-3">
        <div class="modal-content bg-dark">
            <div class="modal-header bg-dark">
                <h5 class="modal-title" id="stopModalLabel">Stop Archiving</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body bg-dark">
                This action will stop Plotman archiving from the configured 'dst' folder, preventing further completed plot transfers.
                Continue?
            </div>
            <div class="modal-footer bg-dark">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btnCancelStop">Cancel</button>
                <button type="button" class="btn btn-outline-success" id="btnConfirmStop">
                    Stop
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="disabledModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="disabledModalLabel" aria-hidden="true">
    <div class="modal-dialog bg-dark rounded-3">
        <div class="modal-content bg-dark">
            <div class="modal-header bg-dark">
                <h5 class="modal-title" id="disabledModalLabel">Worker Offline</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body bg-dark">
                This worker is not currently configured for Plotman <a target="_blank" 
                href="https://github.com/guydavis/machinaris/wiki/Plotman#archiving">archiving</a> to enable local 
                or remote transfer of completed plots.  Please visit the Settings | Plotting page to configure this worker.
            </div>
            <div class="modal-footer bg-dark">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btnOk">OK</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="offlineModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="offlineModalLabel" aria-hidden="true">
    <div class="modal-dialog bg-dark rounded-3">
        <div class="modal-content bg-dark">
            <div class="modal-header bg-dark">
                <h5 class="modal-title" id="offlineModalLabel">Worker Offline</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body bg-dark">
                This worker is not currently online and responding to pings from the controller.  Please
                check the Workers page and bring the system back online.
            </div>
            <div class="modal-footer bg-dark">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btnOk">OK</button>
            </div>
        </div>
    </div>
</div>

<style>
    a.active.nav-link {
        background-color: #3d3f42 !important
    }
</style>
<nav class="navbar navbar-dark" style="padding-bottom: 0px;">
    <div class="container-fluid">
        <ul class="nav nav-tabs bg-dark">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('plotting_jobs') }}">Plots</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ url_for('plotting_workers') }}">Workers</a>
            </li>
        </ul>
        <form method="POST" id="plotman-form" style="padding-bottom: 10px;">
            <input type="hidden" id="hostname" name="hostname" />
            <input type="hidden" id="blockchain" name="blockchain" />
            <fieldset>
                <b style="vertical-align: bottom; font-weight: 500">Archiving: </b>
                {% for plotter in plotters %}
                <div class="btn-group">
                    <button type="button" class="btn btn-outline-success dropdown-toggle" data-bs-toggle="dropdown"
                        aria-expanded="false" id="{{ plotter.hostname }}_btn">
                        {{ plotter.displayname }}: {{plotter.archiving_status()}}
                    </button>
                    <ul class="dropdown-menu bg-dark btn-outline-success">
                        {% for worker in plotter.workers %}
                        <li>
                            <a class="dropdown-item text-white text-decoration-none" 
                                data-bs-hostname="{{ plotter.hostname }}" 
                                data-bs-blockchain="{{ worker.blockchain }}" 
                                href="#" {% 
                                if worker.archiving_status == 'disabled' %}
                                data-bs-toggle="modal" data-bs-target="#disabledModal">
                                <i class="fs-4 bi-dash-circle"></i>
                                {% elif worker.archiving_status == 'offline' %}
                                data-bs-toggle="modal" data-bs-target="#offlineModal">
                                <i class="fs-4 bi-dash-circle"></i>
                                {% elif worker.archiving_status == 'running' %}
                                data-bs-toggle="modal" data-bs-target="#stopModal">
                                <i class="fs-4 bi-pause-circle"></i>
                                {% else %}
                                data-bs-toggle="modal" data-bs-target="#startModal">
                                <i class="fs-4 bi-play-circle"></i>
                                {% endif %}
                                &nbsp;
                                <span class="align-text-bottom">{{ worker.blockchain }}</span>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endfor %}
            </fieldset>
        </form>
    </div>
</nav>

<div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    {% if category == 'message' %}
    <div class="alert alert-warning" role="alert">
        {% else %}
        <div class="alert alert-{{ category }}" role="alert">
            {% endif %}
            {{ message|safe }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

    <div class="p-1 mb-4 bg-light border rounded-3">
        {% for plotter in plotters %}
        <div class="row">
            <div class="col" style="margin-top:5px; margin-bottom:5px;">
                <div class="h-100 p-2 text-white">
                    <h6 class="display-6 text-center">{{ plotter.displayname }}</h6>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12" style="margin-top:5px; margin-bottom:5px;">
                {% if disk_usage[plotter.hostname] %}
                <canvas id="disk_{{plotter.hostname}}"></canvas>
                {% else %}
                <p>
                    No plotting disk stats recorded recently for {{plotter.hostname}}. 
                    Please check that valid plotting paths (aka "tmp") are set 
                    in the worker's Plotman config on the Settings | Archiving page. 
                    Also ensure the worker is reporting into the controller on the
                    Workers page.
                </p>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>

    {% endblock %}

    {% block scripts %}
    <script>
        const COLORS = [
            '#3aac59',
            '#4dc9f6',
            '#f67019',
            '#f53794',
            '#537bc4',
            '#acc236',
            '#166a8f',
            '#00a950',
            '#58595b',
            '#8549ba'
        ];

        function color(index) {
            return COLORS[index % COLORS.length];
        }
    </script>
    {% for plotter in plotters %}
    {% if disk_usage[plotter.hostname] %}
    <script>
        var ctx = document.getElementById('disk_{{plotter.hostname}}');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: {{ disk_usage[plotter.hostname].dates | safe }},
                datasets: [
                {% for path in disk_usage[plotter.hostname].paths %}
                    {
                        label: "{{path}}",
                        data: {{ disk_usage[plotter.hostname][path] | safe }},
                        backgroundColor: color({{ loop.index - 1 }}),
                    },
                {% endfor %}
                ],
            },
            borderWidth: 1,
            options: {
                plugins: {  
                    legend: {
                        labels: {
                            color: "#c7c7c7",  
                            font: {
                                size: 18 
                            }
                        }
                    }
                },
                scales: {
                    x: {
                        type: 'time',
                        time: {
                            tooltipFormat: 'DD T'
                        },
                        title: {
                            display: true,
                            text: 'Time - Last 24 Hours',
                            color: "#c7c7c7",  
                            font: {
                                size: 18 
                            }
                        },
                        ticks: {
                          color: "#c7c7c7",
                          font: {
                            size: 16 
                          }  
                        },
                    },
                    y: {
                        beginAtZero: true,
                        title: {
                            display: true,
                            text: "Archiving Disk Usage (GB)",
                            color: "#c7c7c7",  
                            font: {
                                size: 18 
                            }
                        },
                        ticks: {
                          color: "#c7c7c7",
                          font: {
                            size: 16 
                          }  
                        },
                    }
                }
            }
        });
        $(document).ready(function () {
            $("#btnConfirmStart").click(function () {
                $("#btnCancelStart").prop("disabled", true);
                $(this).prop("disabled", true);
                $(this).html(
                    `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Starting...`
                );
                $('#plotman-form').append('<input type="hidden" id="service" name="service" value="archiving" />');
                $('#plotman-form').append('<input type="hidden" id="action" name="action" value="start" />');
                $("#plotman-form").submit();
            });
            $("#btnConfirmStop").click(function () {
                $("#btnCancelStop").prop("disabled", true);
                $(this).prop("disabled", true);
                $(this).html(
                    `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Stopping...`
                );
                $('#plotman-form').append('<input type="hidden" id="service" name="service" value="archiving" />');
                $('#plotman-form').append('<input type="hidden" id="action" name="action" value="stop" />');
                $("#plotman-form").submit();
            });
            var startModal = document.getElementById('startModal')
            startModal.addEventListener('show.bs.modal', function (event) {
                var button = event.relatedTarget
                var hostname = button.getAttribute('data-bs-hostname')
                var blockchain = button.getAttribute('data-bs-blockchain')
                document.getElementById('hostname').value = hostname
                document.getElementById('blockchain').value = blockchain
            });
            var stopModal = document.getElementById('stopModal')
            stopModal.addEventListener('show.bs.modal', function (event) {
                var button = event.relatedTarget
                var hostname = button.getAttribute('data-bs-hostname')
                var blockchain = button.getAttribute('data-bs-blockchain')
                document.getElementById('hostname').value = hostname
                document.getElementById('blockchain').value = blockchain
            });
            var disabledModal = document.getElementById('disabledModal')
            disabledModal.addEventListener('show.bs.modal', function (event) {
                var button = event.relatedTarget
                var hostname = button.getAttribute('data-bs-hostname')
                var blockchain = button.getAttribute('data-bs-blockchain')
                document.getElementById('hostname').value = hostname
                document.getElementById('blockchain').value = blockchain
            });
        });
    </script>
    {% endif %}
    {% endfor %}
    {% endblock %}