{% extends "base.html" %}

{% block content %}

<style>
    a.active.nav-link {
        background-color: #3d3f42 !important
    }
</style>
<nav class="navbar navbar-dark" style="padding-bottom: 0px;">
    <div class="container-fluid">
        <ul class="nav nav-tabs bg-dark">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('plotting_jobs') }}">Plots</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ url_for('plotting_workers') }}">Workers</a>
            </li>
        </ul>
    </div>
</nav>

<div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    {% if category == 'message' %}
    <div class="alert alert-warning" role="alert">
        {% else %}
        <div class="alert alert-{{ category }}" role="alert">
            {% endif %}
            {{ message|safe }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

    <div class="p-1 mb-4 bg-light border rounded-3">
        {% for plotter in plotters %}
        <div class="row">
            <div class="col" style="margin-top:5px; margin-bottom:5px;">
                <div class="h-100 p-2 text-white">
                    <h6 class="display-6 text-center">{{ plotter.displayname }}</h6>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12" style="margin-top:5px; margin-bottom:5px;">
                {% if disk_usage[plotter.hostname] %}
                <canvas id="disk_{{plotter.hostname}}"></canvas>
                {% else %}
                <p>
                    No plotting disk stats recorded recently for {{plotter.hostname}}. 
                    Please check that valid plotting paths (aka "tmp") are set 
                    in the worker's Plotman config on the Settings | Plotting page. 
                    Also ensure the worker is reporting into the controller on the
                    Workers page.
                </p>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>

    {% endblock %}

    {% block scripts %}
    <script>
        const COLORS = [
            '#3aac59',
            '#4dc9f6',
            '#f67019',
            '#f53794',
            '#537bc4',
            '#acc236',
            '#166a8f',
            '#00a950',
            '#58595b',
            '#8549ba'
        ];

        function color(index) {
            return COLORS[index % COLORS.length];
        }
    </script>
    {% for plotter in plotters %}
    {% if disk_usage[plotter.hostname] %}
    <script>
        var ctx = document.getElementById('disk_{{plotter.hostname}}');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: {{ disk_usage[plotter.hostname].dates | safe }},
                datasets: [
                {% for path in disk_usage[plotter.hostname].paths %}
                    {
                        label: "{{path}}",
                        data: {{ disk_usage[plotter.hostname][path] | safe }},
                        backgroundColor: color({{ loop.index - 1 }}),
                    },
                {% endfor %}
                ],
            },
            borderWidth: 1,
            options: {
                plugins: {  
                    legend: {
                        labels: {
                            color: "#c7c7c7",  
                            font: {
                                size: 18 
                            }
                        }
                    }
                },
                scales: {
                    x: {
                        type: 'time',
                        time: {
                            tooltipFormat: 'DD T'
                        },
                        title: {
                            display: true,
                            text: 'Time - Last 24 Hours',
                            color: "#c7c7c7",  
                            font: {
                                size: 18 
                            }
                        },
                        ticks: {
                          color: "#c7c7c7",
                          font: {
                            size: 16 
                          }  
                        },
                    },
                    y: {
                        beginAtZero: true,
                        title: {
                            display: true,
                            text: "Plotting Disk Usage (GB)",
                            color: "#c7c7c7",  
                            font: {
                                size: 18 
                            }
                        },
                        ticks: {
                          color: "#c7c7c7",
                          font: {
                            size: 16 
                          }  
                        },
                    }
                }
            }
    });
    </script>
    {% endif %}
    {% endfor %}
    {% endblock %}