<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='3rd_party/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='3rd_party/icons/bootstrap-icons.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='3rd_party/dataTables.bootstrap5.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='3rd_party/leaflet.css') }}" />
    <title>{{_('Machinaris')}}</title>
    {% if reload_seconds %}
    <meta http-equiv="refresh" content="{{ reload_seconds }}">
    {% endif %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    {% block header %}{% endblock %}
</head>

<body>
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                    <a href="{{ url_for('index') }}"
                        class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        <i class="fs-4 bi-flower1"></i>&nbsp;<span class="fs-5 d-none d-sm-inline">{{_('Machinaris')}}</span>
                    </a>
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
                        id="menu">
                        <li class="nav-item">
                            <a href="{{ url_for('summary') }}" class="nav-link px-0 align-middle text-success">
                                <i class="fs-4 bi-card-list"></i> <span class="ms-1 d-none d-sm-inline ">{{_('Summary')}}</span>
                            </a>
                        </li>
                        {% if global_config.plotting_enabled %}
                        <li>
                            <a href="{{ url_for('plotting_jobs') }}" class="nav-link px-0 align-middle text-success">
                                <i class="fs-4 bi-speedometer"></i> <span class="ms-1 d-none d-sm-inline">{{_('Plotting')}}</span> </a>
                        </li>
                        {% endif %}
                        {% if global_config.farming_enabled %}
                        <li>
                            <a href="{{ url_for('farming_plots') }}" class="nav-link px-0 align-middle text-success">
                                <i class="fs-4 bi-tree"></i> <span class="ms-1 d-none d-sm-inline">{{_('Farming')}}</span></a>
                        </li>
                        {% endif %}
                        {% if global_config.farming_enabled %}
                        <li>
                            <a href="{{ url_for('wallet') }}" class="nav-link px-0 align-middle text-success">
                                <i class="fs-4 bi-wallet"></i> <span class="ms-1 d-none d-sm-inline">{{_('Wallets')}}</span></a>
                        </li>
                        {% endif %}
                        {% if global_config.farming_enabled %}
                        <li>
                            <a href="{{ url_for('keys') }}" class="nav-link px-0 align-middle text-success">
                                <i class="fs-4 bi-key"></i> <span class="ms-1 d-none d-sm-inline">{{_('Keys')}}</span></a>
                        </li>
                        {% endif %}
                        {% if global_config.farming_enabled %}
                        <li>
                            <a href="{{ url_for('blockchains') }}"
                                class="nav-link px-0 align-middle text-success">
                                <i class="fs-4 bi-link-45deg"></i> <span class="ms-1 d-none d-sm-inline">{{_('Blockchains')}}</span></a>
                        </li>
                        {% endif %}
                        {% if global_config.farming_enabled %}
                        <li>
                            <a href="{{ url_for('connections') }}"
                                class="nav-link px-0 align-middle text-success">
                                <i class="fs-4 bi-globe"></i> <span class="ms-1 d-none d-sm-inline">{{_('Connections')}}</span></a>
                        </li>
                        {% endif %}
                        {% if global_config.farming_enabled %}
                        <li>
                            <a href="{{ url_for('alerts') }}" class="nav-link px-0 align-middle text-success">
                                <i class="fs-4 bi-bell"></i> <span class="ms-1 d-none d-sm-inline">{{_('Alerts')}}</span></a>
                        </li>
                        {% endif %}
                        {% if global_config.is_controller %}
                        <li>
                            <a href="{{ url_for('pools') }}" class="nav-link px-0 align-middle text-success">
                                <i class="fs-4 bi-x-diamond"></i> <span class="ms-1 d-none d-sm-inline">{{_('Pools')}}</span></a>
                        </li>
                        <li>
                            <a href="{{ url_for('workers') }}" class="nav-link px-0 align-middle text-success">
                                <i class="fs-4 bi-diagram-3"></i> <span class="ms-1 d-none d-sm-inline">{{_('Workers')}}</span></a>
                        </li>
                        <li>
                            <a href="{{ url_for('drives') }}" class="nav-link px-0 align-middle text-success">
                                <i class="fs-4 bi-device-hdd"></i> <span class="ms-1 d-none d-sm-inline">{{_('Drives')}}</span></a>
                        </li>
                        {% endif %}
                        <li>
                            <a href="#submenu3" data-bs-toggle="collapse"
                                class="nav-link px-0 align-middle text-success">
                                <i class="fs-4 bi-gear"></i> <span class="ms-1 d-none d-sm-inline">{{_('Settings')}}</span> </a>
                            <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                                {% if global_config.farming_enabled %}
                                <li>
                                    <a href="{{ url_for('settings_alerts') }}" class="nav-link px-0"> <i class="fs-4 bi-bell"></i>
                                        <span class="d-none d-sm-inline text-white">{{_('Alerts')}}</span> </a>
                                </li>
                                {% endif %}
                                {% if global_config.farming_enabled %}
                                <li>
                                    <a href="{{ url_for('settings_farming') }}" class="nav-link px-0"> <i class="fs-4 bi-tree"></i>
                                        <span class="d-none d-sm-inline text-white">{{_('Farming')}}</span> </a>
                                </li>
                                {% endif %}
                                {% if global_config.plotting_enabled %}
                                <li class="w-100">
                                    <a href="{{ url_for('settings_plotting') }}" class="nav-link px-0"> <i class="fs-4 bi-speedometer"></i>
                                        <span class="d-none d-sm-inline text-white">{{_('Plotting')}}</span> </a>
                                </li>
                                {% endif %}
                                {% if global_config.farming_enabled %}
                                <li>
                                    <a href="{{ url_for('settings_pools') }}" class="nav-link px-0"> <i class="fs-4 bi-x-diamond"></i>
                                        <span class="d-none d-sm-inline text-white">{{_('Pools')}}</span> </a>
                                </li>
                                {% endif %}
                                {% if global_config.farming_enabled %}
                                <li>
                                    <a href="{{ url_for('settings_tools') }}" class="nav-link px-0"> <i class="fs-4 bi-tools"></i>
                                        <span class="d-none d-sm-inline text-white">{{_('Tools')}}</span> </a>
                                </li>
                                {% endif %}
                            </ul>
                        </li>
                    </ul>
                    <hr>
                    <div class="dropdown pb-4">
                        <a href="https://github.com/guydavis/machinaris" target="_blank"
                            class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                            id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fs-4 bi-github"></i>&nbsp;<span class="ms-1 d-none d-sm-inline">{{_('About')}}</span> </a>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                            <li><a class="dropdown-item" target="_blank" href="https://machinaris.app">{{_('Install')}}</a></li>
                            <li><a class="dropdown-item" target="_blank"
                                    href="https://github.com/guydavis/machinaris">{{_('Project')}}</a></li>
                            <li><a class="dropdown-item" target="_blank"
                                    href="https://github.com/guydavis/machinaris/wiki">{{_('Wiki')}}</a></li>
                            <li><a class="dropdown-item" target="_blank"
                                    href="https://github.com/guydavis/machinaris/issues">{{_('Issues')}}</a></li>
                            <li><a class="dropdown-item" target="_blank"
                                    href="https://github.com/guydavis/machinaris/blob/main/LICENSE">{{_('License')}}</a></li>
                            <li><a class="dropdown-item" target="_blank"
                                    href="https://github.com/guydavis/machinaris/blob/main/CREDITS.md">{{_('Credits')}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col py-3">

                {% block content %}{% endblock %}

                <footer class="pt-1 mt-1">
                    <div class="row">
                        <div class="col">
                            <small><i>{{ global_config.now }}</i></small>
                        </div>
                        {% if global_config.bladebit_version %}
                        <div class="col">
                            <small><i>{{_('Bladebit')}} {{ global_config.bladebit_version }}</i></small>
                        </div>
                        {% endif %}
                        <div class="col">
                            <small><i>{{ global_config.enabled_blockchains[0] | capitalize }} {{ global_config.blockchain_version }}</i></small>
                        </div>
                        <div class="col">
                            <small><i>Chiadog {{ global_config.chiadog_version }}</i></small>
                        </div>
                        <div class="col">
                            <small><i title="mode={{ global_config.machinaris_mode }}">{{_('Machinaris')}} {{
                                    global_config.machinaris_version }}</i></small>
                        </div>
                        <div class="col">
                            <small><i>{{_('Plotman')}} {{ global_config.plotman_version }}</i></small>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='3rd_party/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='3rd_party/jquery.min.js') }}"></script>
    <script type="text/javascript" charset="utf8"
        src="{{ url_for('static', filename='3rd_party/dataTables.min.js') }}"></script>
    <script type="text/javascript" charset="utf8"
        src="{{ url_for('static', filename='3rd_party/dataTables.bootstrap5.js') }}"></script>
    <script src="{{ url_for('static', filename='3rd_party/chart.umd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='3rd_party/luxon.min.js') }}"></script>
    <script src="{{ url_for('static', filename='3rd_party/chartjs-adapter-luxon.umd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='3rd_party/chartjs-plugin-datalabels.min.js') }}"></script>
    <script src="{{ url_for('static', filename='3rd_party/leaflet.js') }}"></script>
    <script src="{{ url_for('static', filename='3rd_party/leaflet-layervisibility.js') }}"></script>
    {% block scripts %}{% endblock %}
</body>

</html>
