{% extends "base.html" %}

{% block content %}

<div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    {% if category == 'message' %}
    <div class="alert alert-warning" role="alert">
      {% else %}
      <div class="alert alert-{{ category }}" role="alert">
        {% endif %}
        {{ message|safe }}
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
    </div>

<div class="modal fade" id="settingsModal" tabindex="-1" aria-labelledby="settingsModalLabel" aria-hidden="true">
    <div class="modal-dialog bg-dark rounded-3 modal-sm">
      <div class="modal-content bg-dark">
        <div class="modal-header bg-dark">
          <h5 class="modal-title" id="settingsModalLabel">{{_('Settings')}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body bg-dark">
          <form method="POST" id="settings-form">
            <div class="mb-3">
              <label for="local_currency" class="col-form-label">{{_('Local Currency:')}}</label>
              <select type="text" class="form-control" id="local_currency_field" name="local_currency">
                {% for rate in exchange_rates %}
                  {% if exchange_rates[rate]['type'] == 'fiat' %}
                    <option {% if local_currency == rate %} selected {% endif %}
                        value="{{rate}}">{{exchange_rates[rate]['name']}} ({{exchange_rates[rate]['unit']}})</option>
                    {% endif %}
                {% endfor %}
              </select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id="btnCancel" data-bs-dismiss="modal">{{_('Cancel')}}</button>
          <button type="button" class="btn btn-outline-success" id="btnSave">{{_('Save')}}</button>
        </div>
      </div>
    </div>
  </div>

<div class="position-relative">
    <div class="position-absolute top-0 end-0" style="z-index: 2000; margin-top: -18px; margin-right: -8px;">
      <a href="#" title="{{_('Settings')}}" data-bs-toggle="modal" data-bs-target="#settingsModal" target="_blank"><i class="fs-4 bi-gear"></i></a>
        &nbsp;
      <a href="https://github.com/guydavis/machinaris/wiki/Blockchains" target="_blank">
        <i class="fs-4 bi-question-circle"></i>
      </a>
    </div>
  </div>

<style>
    a.active.nav-link {
        background-color: #3d3f42 !important
    }
    button.active.nav-link {
        background-color: #3d3f42 !important
    }
    td.icon_cell {
        text-align: center;
        padding:0px 5px 0px 0px;
    }
</style>

<header class="pb-3 mb-4 border-bottom">
    <span class="fs-4">{{_('Blockchain Summary')}}</span>
</header>

{% if blockchains.rows|length > 0 %}
<form method="POST" id="blockchain-form" style="padding-bottom: 10px;">
    <table id="data" class="table table-dark">
        <thead>
            <tr>
                <th scope="col" class="text-success">{{_('Blockchain')}}</th>
                <th scope="col" class="text-success">{{_('Status')}}</th>
                <th scope="col" class="text-success">{{_('Price')}} {{local_cur_sym|upper}}</th>
                <th scope="col" class="text-success">{{_('Peak Height')}}</th>
                <th scope="col" class="text-success">{{_('Peak Time')}}</th>
                <th scope="col" class="text-success">{{_('Updated At')}}</th>
                <th scope="col" class="text-success"></th>
                <th scope="col" class="text-success"></th>
            </tr>
        </thead>
        <tbody>
            {% for blockchain in blockchains.rows %}
            <tr>
                <td>
                  {% if blockchain.blockchain in fullnodes %}
                  <a class="text-white" href="{{ url_for('worker_route') }}?hostname={{ fullnodes[blockchain.blockchain].hostname }}&blockchain={{ blockchain.blockchain }}">{{blockchain.blockchain}}</a>
                  {% else %}
                  {{blockchain.blockchain}}
                  {% endif %}
                </td>
                <td>
                    {% if blockchain.status == 'Offline' %}
                      <i class="bi-dash-circle text-danger"></i>
                    {% elif blockchain.status.lower().startswith('synced') %}
                        <i class="bi-check-circle text-success"></i>
                    {% else %}
                      <i class="bi-exclamation-triangle text-warning"></i>
                    {% endif %} &nbsp;
                    {{blockchain.status}}
                </td>
                <td>{{blockchain.fiat_price}}</td>
                <td>{{blockchain.peak_height}}</td>
                <td>{{blockchain.peak_time}}</td>
                <td>{{blockchain.updated_at | datetimefilter}}</td>
                <td class='icon_cell'>{% 
                    if blockchain.blockchain == 'mmx' 
                    %}<a href="https://github.com/madMAx43v3r/mmx-node#mmx-node" target="_blank" title="{{_('View Blockchain Details')}}" ><i class="fs-4 bi-box-arrow-up-right"></i></a>{% 
                     else 
                     %}<a href="{{ blockchain.blockchain|alltheblocks_blockchainlink}}" target="_blank" title="{{_('Blockchain Details')}}" ><i class="fs-4 bi-box-arrow-up-right"></i></a>{% 
                    endif 
                    %}</td>
                <td class='icon_cell'>
                    <a href="#" title="{{_('View Blockchain Log')}}" onclick='ViewLogs("{{ blockchain.hostname }}","{{ blockchain.blockchain }}");return false;'>
                        <i class="fs-4 bi-file-text"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</form>

<header class="pb-3 mt-4">
    <span class="fs-4">{{_('Blockchain Details')}}</span>
</header>

<nav class="navbar navbar-expand-lg navbar-dark" style="padding-bottom: 0px;">
    <div class="h-100 p-2 text-white">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            {% for blockchain in blockchains.rows %}
            <li class="nav-item" role="presentation">
                <button class="nav-link {% if blockchain.blockchain == selected_blockchain %}active{% endif %}" id="{{blockchain.blockchain}}-tab" data-bs-toggle="tab" data-bs-target="#{{blockchain.blockchain}}"
                    type="button" role="tab" aria-controls="{{blockchain.blockchain}}" aria-selected="{% if blockchain.blockchain == selected_blockchain %}true{% else %}false{% endif %}">{{ blockchain.blockchain }}</button>
            </li>
            {% endfor %}
        </ul>
        <div class="tab-content">
            {% for blockchain in blockchains.rows %}
            <div class="tab-pane {% if blockchain.blockchain == selected_blockchain %}active{% endif %}" id="{{blockchain.blockchain}}" role="tabpanel" aria-labelledby="{{blockchain.blockchain}}-tab">
                <br/>
                <pre>{{ blockchain.details}}</pre>
            </div>
            {% endfor %}
        </div>
    </div>
</nav>
{% else %}
<div class="text-center" style="padding-top:50 px; padding-bottom: 50px">
    <h6>{{_('No blockchains found from any farmers. Not added?')}}</h6>
    <h6>{{_('Try running "chia show --state" on your farmers to verify.')}}</h6>
</div>
{% endif %}

{% endblock %}

{% block scripts %}
<script>
function ViewLogs(hostname, blockchain) {
    var d = new Date();
    var height = 600;
    var width = 900;
    var top = (screen.height - height) / 2;
    var left = (screen.width - width) / 2;
    window.open("{{ url_for('logs') }}?log=farming" + "&hostname=" + hostname + "&blockchain=" + blockchain, '{{_('Fullnode Log for ')}}' + blockchain + ' - ' + hostname, 'resizeable=yes,scrollbars=yes,height=' + height + ',width=' + width + ',top=' + top + ',left=' + left).focus();
}
$(document).ready(function () {
    $("#btnSave").click(function () {
        $("#btnCancel").prop("disabled", true);
        $(this).prop("disabled", true);
        $(this).html(
            `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Saving...`
        );
        $("#settings-form").submit();
    });
    $('#data').DataTable({
        "stateSave": true,
        "pageLength": 25,
        "columnDefs": [
            {
                targets: [5,6], "orderable": false,
            }
        ],
        {% if lang != 'en' %}
        "language": {
            "url": "{{ url_for('static', filename='3rd_party/i18n/datatables.'+lang+'.json') }}"
        },
        {% endif %}
    });
})
</script>
{% endblock %}