{% extends "base.html" %}

{% block content %}

<div class="position-relative">
    <div class="position-absolute top-0 end-0" style="z-index: 2000; margin-top: -18px; margin-right: -8px;">
      <a href="https://github.com/guydavis/machinaris/wiki/Blockchains" target="_blank">
        <i class="fs-4 bi-question-circle"></i>
      </a>
    </div>
  </div>

<style>
    a.active.nav-link {
        background-color: #3d3f42 !important
    }
    button.active.nav-link {
        background-color: #3d3f42 !important
    }
</style>

<header class="pb-3 mb-4 border-bottom">
    <span class="fs-4">Blockchain Summary</span>
</header>

{% if blockchains.rows|length > 0 %}
<form method="POST" id="blockchain-form" style="padding-bottom: 10px;">
    <table id="data" class="table table-dark">
        <thead>
            <tr>
                <th scope="col" class="text-success">Blockchain</th>
                <th scope="col" class="text-success">Status</th>
                <th scope="col" class="text-success">Peak Height</th>
                <th scope="col" class="text-success">Peak Time</th>
                <th scope="col" class="text-success">Updated At</th>
            </tr>
        </thead>
        <tbody>
            {% for blockchain in blockchains.rows %}
            <tr>
                <td>{{blockchain.blockchain}}</td>
                <td>{{blockchain.status}}</td>
                <td>{{blockchain.peak_height}}</td>
                <td>{{blockchain.peak_time}}</td>
                <td>{{blockchain.updated_at | datetimefilter}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</form>

<header class="pb-3 mt-4">
    <span class="fs-4">Blockchain Details</span>
</header>

<nav class="navbar navbar-expand-lg navbar-dark" style="padding-bottom: 0px;">
    <div class="h-100 p-2 text-white">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            {% for blockchain in blockchains.rows %}
            <li class="nav-item" role="presentation">
                <button class="nav-link {% if blockchain.blockchain == selected_blockchain %}active{% endif %}" id="{{blockchain.blockchain}}-tab" data-bs-toggle="tab" data-bs-target="#{{blockchain.blockchain}}"
                    type="button" role="tab" aria-controls="{{blockchain.blockchain}}" aria-selected="{% if blockchain.blockchain == selected_blockchain %}true{% else %}false{% endif %}">{{ blockchain.blockchain }}</button>
            </li>
            {% endfor %}
        </ul>
        <div class="tab-content">
            {% for blockchain in blockchains.rows %}
            <div class="tab-pane {% if blockchain.blockchain == selected_blockchain %}active{% endif %}" id="{{blockchain.blockchain}}" role="tabpanel" aria-labelledby="{{blockchain.blockchain}}-tab">
                <br/>
                <pre>{{ blockchain.details}}</pre>
            </div>
            {% endfor %}
        </div>
    </div>
</nav>
{% else %}
<div class="text-center" style="padding-top:50 px; padding-bottom: 50px">
    <h6>No blockchains found from any farmers. Not added?</h6>
    <h6>Try running 'chia show --state' on your farmers to verify.</h6>
</div>
{% endif %}

{% endblock %}

{% block scripts %}
<script>
$(document).ready(function () {
    $('#data').DataTable({
        "pageLength": 25,
    });
})
</script>
{% endblock %}