{% extends "base.html" %}

{% block content %}

<div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    {% if category == 'message' %}
    <div class="alert alert-warning" role="alert">
        {% else %}
        <div class="alert alert-{{ category }}" role="alert">
            {% endif %}
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

    <div class="modal fade" id="settingsModal" tabindex="-1" aria-labelledby="settingsModalLabel" aria-hidden="true">
        <div class="modal-dialog bg-dark rounded-3 modal-sm">
          <div class="modal-content bg-dark">
            <div class="modal-header bg-dark">
              <h5 class="modal-title" id="settingsModalLabel">{{_('Settings')}}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body bg-dark">
              <form method="POST" id="settings-form">
                <div class="mb-3">
                    <a style='float:right' href="https://github.com/guydavis/machinaris/wiki/Connections#maxmind" target="_blank">
                        <i class="fs-4 bi-question-circle"></i>
                    </a>
                    <label for="maxmind_account" class="col-form-label">{{_('Maxmind Account (Required):')}}</label>
                    <input type="text" class="form-control" id="maxmind_account_field" name="maxmind_account" value="{{maxmind_license.account}}" />
                    <a style='float:right' href="https://github.com/guydavis/machinaris/wiki/Connections#maxmind" target="_blank">
                        <i class="fs-4 bi-question-circle"></i>
                    </a>
                    <label for="maxmind_license_key" class="col-form-label">{{_('Maxmind License Key (Required):')}}</label>
                    <input type="text" class="form-control" id="maxmind_license_key_field" name="maxmind_license_key" value="{{maxmind_license.license_key}}"/>
                    <a style='float:right' href="https://github.com/guydavis/machinaris/wiki/Connections#mapbox" target="_blank">
                        <i class="fs-4 bi-question-circle"></i>
                    </a>
                    <label for="mapbox_access_token" class="col-form-label">{{_('Mapbox Access Token (Optional):')}}</label>
                    <input type="text" class="form-control" id="mapbox_access_token_field" name="mapbox_access_token" value="{{mapbox_license.access_token}}"/>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" id="btnCancelSettings" data-bs-dismiss="modal">{{_('Cancel')}}</button>
              <button type="button" class="btn btn-outline-success" id="btnSaveSettings">{{_('Save')}}</button>
            </div>
          </div>
        </div>
      </div>

    <div class="position-relative">
        <div class="position-absolute top-0 end-0" style="z-index: 2000; margin-top: -20px; margin-right: -8px;">
            <a href="#" title="{{_('Settings')}}" data-bs-toggle="modal" data-bs-target="#settingsModal" target="_blank"><i class="fs-4 bi-gear"></i></a>
            &nbsp;
            <a href="https://github.com/guydavis/machinaris/wiki/Connections target="_blank"><i class="fs-4 bi-question-circle"></i></a>
        </div>
    </div>

    <style>
        a.active.nav-link {
            background-color: #3d3f42 !important
        }
        button.active.nav-link {
            background-color: #3d3f42 !important
        }
        #map { 
            height: 500px; 
        }
        {% for blockchain in marker_hues.keys() %}
        img.hue_{{blockchain}} { filter: hue-rotate({{marker_hues[blockchain]}}deg); }
        {% endfor %}
    </style>

{% if maxmind_license %}

<header class="pb-3">
    <div class="row justify-content-between">
        <div class="col-5 fs-4">{{_('Connections Map')}}</div>
        <div class="col-7 mt-2">
            <b>Blockchains:</b>
            {% for blockchain in marker_hues.keys() %}
                <img src="{{ url_for('static', filename='3rd_party/images/marker-icon.png') }}" 
                    class="hue_{{blockchain}}" style="padding-left:3px; height:25px;" title="{{blockchain}}" />
            {% endfor %}
        </div>
    </div>
</header>

<div id="map"></div>

<header class="pb-3 mt-4">
    <span class="fs-4">{{_('Connection Details')}}</span>
</header>

{% endif %}

    {% if connections.rows|length > 0 %}
    <nav class="navbar navbar-expand-lg navbar-dark" style="padding-bottom: 0px; display: block">
        <div class="h-100 p-2 text-white">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                {% for connection in connections.rows %}
                <li class="nav-item" role="presentation">
                    <button class="nav-link {% if connection.blockchain == selected_blockchain %}active{% endif %}"
                        id="{{connection.blockchain}}-tab" data-bs-toggle="tab"
                        data-bs-target="#{{connection.blockchain}}" type="button" role="tab"
                        aria-controls="{{connection.blockchain}}"
                        aria-selected="{% if connection.blockchain == selected_blockchain %}true{% else %}false{% endif %}">
                        {% if connection.status == 'Connection Refused' %}
                          <i class="bi-dash-circle text-danger" title="{{connection.status}} - connections table is stale."></i>
                        {% endif %}
                        {{ connection.blockchain }}</button>
                </li>
                {% endfor %}
            </ul>
            <div class="tab-content">
                {% for connection in connections.rows %}
                <div class="tab-pane {% if connection.blockchain == selected_blockchain %}active{% endif %}" id="{{connection.blockchain}}"
                    role="tabpanel" aria-labelledby="{{connection.blockchain}}-tab">
                    <br />
                    <form method="POST" id="form_{{connection.displayname}}_{{connection.blockchain}}">
                        <input type="hidden" name="blockchain" value="{{connection.blockchain}}" />
                        <div class="table-responsive">
                            <table id="conns_{{connection.displayname}}_{{connection.blockchain}}"
                                class="table table-dark">
                                <thead>
                                    <tr>
                                        <th scope="col" class="text-success"></th>
                                        <th scope="col" class="text-success">{{_('Type')}}</th>
                                        <th scope="col" class="text-success">{{_('IP Address')}}</th>
                                        {% if maxmind_license %}
                                        <th scope="col" class="text-success">{{_('City')}}</th>
                                        <th scope="col" class="text-success">{{_('Country')}}</th>
                                        {% endif %}
                                        <th scope="col" class="text-success">{{_('Ports')}}</th>
                                        <th scope="col" class="text-success">{{_('SB Height')}}</th>
                                        <th scope="col" class="text-success">{{_('Last Connect')}}</th>
                                        <th scope="col" class="text-success">{{_('MiB Up')}}</th>
                                        <th scope="col" class="text-success">{{_('MiB Down')}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for row in connections.blockchains[connection.blockchain] %}
                                    <tr>
                                        <td class="text-center">
                                            {% if row.type == "FULL_NODE" or (row.type == "WALLET" and row.ip !=
                                            "127.0.0.1") %}
                                            <input type="checkbox" name="nodeid" value="{{ row.nodeid }}" />
                                            {% endif %}
                                        </td>
                                        <td>{{row.type}}</td>
                                        <td>{{row.ip}}</td>
                                        {% if maxmind_license %}
                                        <td>{{row.city}}</td>
                                        <td>{{row.country}}</td>
                                        {% endif %}
                                        <td>{{row.ports}}</td>
                                        <td>{{row.height}}</td>
                                        <td>{{row.last_connect}}</td>
                                        <td>{{row.mib_up}}</td>
                                        <td>{{row.mib_down}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <input type="hidden" name="hostname" value="{{connection.hostname}}" />
                        <fieldset>
                            <div class="row g-3 mt-2">
                                <div class="col-sm">
                                    {% if connection.blockchain != 'mmx' %}
                                    <button form="form_{{connection.displayname}}_{{connection.blockchain}}"
                                        type="submit" name="action" value="remove" class="btn btn-outline-success"
                                        id="btnRemove_{{connection.displayname}}_{{connection.blockchain}}">{{_('Disconnect Selected')}}</button>
                                    {% endif %}
                                </div>
                                <div class="col-sm"><a class="btn btn-outline-success" role="button"
                                        href="https://www.yougetsignal.com/tools/open-ports/?port={{connection.farmer_port}}"
                                        target="_blank" class="text-white">
                                        {{_('Check Port Forwarding')}}
                                    </a>
                                </div>
                                <div class="col-sm-3">
                                    {% if connection.blockchain != 'mmx' %}
                                    <input class="form-control me-2"
                                        id="connection_{{connection.displayname}}_{{connection.blockchain}}"
                                        name="connection" type="text" placeholder="{{connection.add_exmample}}"
                                        aria-label="Add">
                                    {% endif %}
                                </div>
                                <div class="col-sm-2">
                                    {% if connection.blockchain != 'mmx' %}
                                    <button class="btn btn-outline-success text-nowrap text-right" type="submit"
                                        name="action" value="add"
                                        id="btnAdd_{{connection.displayname}}_{{connection.blockchain}}"
                                        form="main-form">{{_('Add New Connection')}}</button>
                                    {% endif %}
                                </div>
                        </fieldset>
                    </form>
                </div>
                {% endfor %}
            </div>
        </div>
    </nav>
    {% else %}
    <div class="text-center" style="padding-top:50 px; padding-bottom: 50px">
        <h6>{{_('No connections found from any farmers yet. Perhaps just starting?')}}</h6>
        <h6>{{_('After a while, try running "chia show --connections" on your farmers to verify.')}}</h6>
    </div>
    {% endif %}

    {% endblock %}

    {% block scripts %}
    <script>
        {% if maxmind_license %}
        var map = new L.Map('map', {
            center: [20, 0],
            zoom: 2,
            layers: [
                {% if mapbox_license %}
                new L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
                    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                    maxZoom: 18,
                    id: 'mapbox/streets-v11',
                    tileSize: 512,
                    zoomOffset: -1,
                    accessToken: '{{mapbox_license['access_token']}}'
                })
                {% else %}
                new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    'attribution': 'Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors'
                })
                {% endif %}
            ]
        });
        function load_map_points(map) {
            {% for connection in connections.rows %}
                {% for row in connections.blockchains[connection.blockchain] %}
                    {% if row.latitude %}
                        var marker = L.marker([{{row.latitude}},{{row.longitude}}]).addTo(map).bindPopup('{{connection.blockchain|capitalize}} - {{row.ip}}<br>{% if row.city %}{{row.city}}, {% endif %}{{row.country}}');
                        marker._icon.classList.add("hue_{{connection.blockchain}}");
                    {% endif %}
                {% endfor %}
            {% endfor %}
        }
        {% endif %}
        $(document).ready(function () {
            {% for connection in connections.rows %}
            $('#conns_{{connection.displayname}}_{{connection.blockchain}}').DataTable({
                {% if lang != 'en' %}
                "language": {
                    "url": "{{ url_for('static', filename='3rd_party/i18n/datatables.'+lang+'.json') }}"
                },
                {% endif %}
                "columnDefs": [{ "orderable": false, targets: [0] }],
            });
            $("#btnAdd_{{connection.displayname}}_{{connection.blockchain}}").click(function () {
                $(this).prop("disabled", true);
                $(this).html(
                    `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Adding...`
                );
                $('#form_{{connection.displayname}}_{{connection.blockchain}}').append('<input type="hidden" id="action" name="action" value="add" />');
                $("#form_{{connection.displayname}}_{{connection.blockchain}}").submit();
            });
            $("#btnRemove_{{connection.displayname}}_{{connection.blockchain}}").click(function () {
                $(this).prop("disabled", true);
                $(this).html(
                    `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Removing...`
                );
                $('#form_{{connection.displayname}}_{{connection.blockchain}}').append('<input type="hidden" id="action" name="action" value="remove" />');
                $("#form_{{connection.displayname}}_{{connection.blockchain}}").submit();
            });
            $("#btnSaveSettings").click(function () {
                $("#btnCancelSettings").prop("disabled", true);
                $(this).prop("disabled", true);
                $(this).html(
                    `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Saving...`
                );
                $("#settings-form").submit();
            });
            {% endfor %}
            {% if mapbox_license %}
            load_map_points(map);
            {% endif %}
        })
    </script>
    {% endblock %}