<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='3rd_party/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='3rd_party/icons/bootstrap-icons.css') }}">
    <script src="{{ url_for('static', filename='3rd_party/jquery.min.js') }}"></script>
    <title>{{_('Machinaris')}}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>

    <main>
        <div class="container py-4">

            <div class="p-5 mb-4 bg-light rounded-3">
                <div class="container-fluid py-5">
                    <h1 class="display-4">
                        <img src="{{ url_for('static', filename='hierarchy.png') }}" style= />
                        <span>{{_('Machinaris Worker')}}</span>
                    </h1>
                    <hr class="my-4">
                    <p>{{_('This Machinaris worker is controlled at:')}} <a href="{{ controller_url}}">{{ controller_url}}</a></p>
                </div>
            </div>
        </div>
    </main>

    <script src="{{ url_for('static', filename='3rd_party/bootstrap.bundle.min.js') }}"></script>
</body>

</html>
