{% extends "base.html" %}

{% block header %}
<script>
  function setCookie(name,value,days) {
    var expires = "";
    if (days) {
        var date = new Date();
        date.setTime(date.getTime() + (days*24*60*60*1000));
        expires = "; expires=" + date.toUTCString();
    }
    document.cookie = name + "=" + (value || "")  + expires + "; path=/";
  }
  function getCookie(name) {
    var nameEQ = name + "=";
    var ca = document.cookie.split(';');
    for(var i=0;i < ca.length;i++) {
        var c = ca[i];
        while (c.charAt(0)==' ') c = c.substring(1,c.length);
        if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
    }
    return null;
  }
  function eraseCookie(name) {   
    document.cookie = name +'=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
  }
  function getQueryParam(name) {
    if (name = (new RegExp('[?&]' + encodeURIComponent(name) + '=([^&]*)')).exec(location.search))
        return decodeURIComponent(name[1]);
  }
  // Save user's choice of view (grid vs table) and redirect if needed
  var selectedView = getQueryParam('view');
  var cookieView = getCookie('machinaris_drives_view_mode');
  if (selectedView) { // Update cookie for selected view arrival
    //console.log("Landed on selected view for Drives page: " + selectedView);
    setCookie('machinaris_drives_view_mode', selectedView, 365*10); // Store view choice
  } else if (cookieView) { // Landed on default page and have previous cookie set, so redirect 
    //console.log("Redirecting to preferred Drives page view: " + cookieView);
    window.location.href = window.location.href + '?view=' + cookieView;
  } else {
    //console.log("Landed on default Drives page, with no existing cookie. Taking no action.");
  }
</script>
{% endblock %}

{% block content %}

<div class="modal fade" id="smartctlModal" tabindex="-1" aria-labelledby="smartctlModalLabel" aria-hidden="true">
  <div class="modal-dialog bg-dark rounded-3 modal-lg">
      <div class="modal-content bg-dark">
          <div class="modal-header bg-dark">
              <h5 class="modal-title" id="smartctlModalLabel">{{_('Smartctl Status')}}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body bg-dark">
              <p id='smartctlHeader'></p>
              <pre id="smartctlContent"></pre>
          </div>
      </div>
  </div>
</div>

<div class="modal fade" id="settingsModal" tabindex="-1" aria-labelledby="settingsModalLabel" aria-hidden="true">
  <div class="modal-dialog bg-dark rounded-3">
    <div class="modal-content bg-dark">
      <div class="modal-header bg-dark">
        <h5 class="modal-title" id="settingsModalLabel">{{_('Settings')}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body bg-dark">
        <form method="POST" id="settings-form">
          <h6>Temperatures</h6>
          <label class="col-form-label"><i class="bi-check-circle text-success"></i> {{_('Good')}}</label>
          &nbsp;&lt;&nbsp;
          <input name="good_below_temperature" size="1" style="direction: rtl;" value="{{settings.good_below_temperature}}"/> &deg;C
          &nbsp;<label class="col-form-label"><i class="bi-exclamation-triangle text-warning"></i> {{_('Warn')}}</label>
          &nbsp;&lt;&nbsp;
          <input name="warn_below_temperature" size="1" style="direction: rtl;" value="{{settings.warn_below_temperature}}"/> &deg;C
          &nbsp;&lt;&nbsp;
          &nbsp;<label class="col-form-label"><i class="bi-dash-circle text-danger"></i> {{_('Alert')}}</label>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="btnCancel" data-bs-dismiss="modal">{{_('Cancel')}}</button>
        <button type="button" class="btn btn-outline-success" id="btnSave">{{_('Save')}}</button>
      </div>
    </div>
  </div>
</div>

<div class="position-relative">
  <div class="position-absolute top-0 end-0">
      <a href="{{ url_for('drives') }}?view=grid" title="Grid View"><i class="fs-4 bi-grid"></i></a>
      <a href="{{ url_for('drives') }}?view=table" title="Table View"><i class="fs-4 bi-table"></i></a>
      &nbsp;
      <a href="#" title="{{_('Settings')}}" data-bs-toggle="modal" data-bs-target="#settingsModal" target="_blank"><i class="fs-4 bi-gear"></i></a>
      &nbsp;
      <a class="text-white" href="https://github.com/guydavis/machinaris/wiki/Drives" target="_blank"><i class="fs-4 bi-question-circle"></i></a>
  </div>
</div>

<header class="pb-3 mb-4 border-bottom">
  <span class="fs-4">{{_('Drives')}}</span>
</header>

<div>
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category, message in messages %}
  {% if category == 'message' %}
  <div class="alert alert-warning" role="alert">
    {% else %}
    <div class="alert alert-{{ category }}" role="alert">
      {% endif %}
      {{ message|safe }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
  </div>

  {% if drives.rows|length > 0 %}
  <form method="POST" id="drives-form" style="padding-bottom: 10px;">
    <fieldset>
      {% if (request.args.get('view') == 'table' or drives.rows|length >= 10) and request.args.get('view') != 'grid' %}
      <table id="data" class="table table-dark">
        <thead>
          <tr>
            <th scope="col" class="text-success text-center">
              <input type="checkbox" name="unique_id_master" onclick="checkPage(this)"/>
            </th>
            <th scope="col" class="text-success">{{_('Worker')}}</th>
            <th scope="col" class="text-success">{{_('Device')}}</th>
            <th scope="col" class="text-success">{{_('Model')}}</th>
            <th scope="col" class="text-success">{{_('Serial #')}}</th>
            <th scope="col" class="text-success">{{_('Capacity')}}</th>
            <th scope="col" class="text-success">{{_('Status')}}</th>
            <th scope="col" class="text-success">{{_('Temperature')}}</th>
            <th scope="col" class="text-success">{{_('Powered On')}}</th>
            <th scope="col" class="text-success">{{_('Updated At')}}</th>
            <th scope="col" class="text-success"></th>
          </tr>
        </thead>
        <tbody>
          {% for drive in drives.rows %}
          <tr>
            <td class="text-center"><input type="checkbox" name="unique_id"
              value="{{ drive.hostname }}|{{drive.device}}" /></td>
            <td>{% if drive.worker %}{{drive.worker}}{% endif %}</td>
            <td>{% if drive.device %}{{drive.device}}{% endif %}</td>
            <td> {% if drive.model_family %}
                   {{drive.model_family}}
                 {% elif drive.device_model %}
                  {{drive.device_model}}
                 {% endif %}
            </td>
            <td>{% if drive.serial_number %}{{drive.serial_number}}{% endif %}</td>
            <td>{% if drive.size_gibs and drive.capacity %}{{drive.size_gibs}}|{{drive.capacity}}{% endif %}</td>
            <td>
              {% if not drive.status %}
                &nbsp;
              {% elif drive.status == 'PASSED' %}
                <i class="bi-check-circle text-success"></i> {{_('Passed')}}
              {% else %}
                <i class="bi-dash-circle text-danger" title="{{ drive.status }}"></i>
                {{_(drive.status)}}
              {% endif %}
            </td>
            <td>
              {% if not drive.temperature %}
                &nbsp;
              {% elif drive.temperature < settings.good_below_temperature %}
                <i class="bi-check-circle text-success"></i> {{ drive.temperature }} &deg;C
              {% elif drive.temperature < settings.warn_below_temperature %}
                <i class="bi-exclamation-triangle text-warning"></i> {{ drive.temperature }} &deg;C
              {% else %}
                <i class="bi-dash-circle text-danger"></i> {{ drive.temperature }} &deg;C
              {% endif %}
            </td>
            <td>
              {% if drive.power_on_hours %}
                {{drive.power_on_hours}}
              {% endif %}
            </td>  
            <td>{{drive.updated_at | datetimefilter}}</td>
            <td style="padding:0px">
              <a href="#" title="View Details" data-bs-toggle="modal" data-bs-target="#smartctlModal" onclick='SmartctlDeviceInfo("{{ drive.hostname }}", "{{ drive.device }}", "{{ drive.worker }}", "{{ drive.device_model }}", "{{ drive.model_family }}");return false;'><i class="fs-4 bi-file-text"></i></a>
            </td>  
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <button form="drives-form" type="submit" name="action" value="remove" class="btn btn-outline-success"
          id="btnRemove">{{_('Remove Selected')}}</button>
      <button form="drives-form" type="submit" name="action" value="purge" class="btn btn-outline-success"
          id="btnPurge">{{_('Remove All')}}</button>
      {% else %}
      {% for drive in drives.rows %}
      {% if loop.index % 2 == 1 %}
      <div class="row align-items-md-stretch">
      {% endif %}
        <div class="col-md-6" style="margin-top:5px; margin-bottom:5px;">
          <div class="h-100 p-2 text-white bg-dark rounded-3">
            <h5 class="text-white">
              <a href="#" title="View Details" data-bs-toggle="modal" data-bs-target="#smartctlModal" style="float:right"
                onclick="SmartctlDeviceInfo('{{ drive.hostname }}', '{{ drive.device | escape_single_quotes }}', '{{ drive.worker | escape_single_quotes }}', '{{ drive.device_model | escape_single_quotes }}', '{{ drive.model_family | escape_single_quotes }}');return false;"><i class="fs-4 bi-file-text"></i></a>
                 {{drive.worker}} - {{drive.device}} -
                 {% if drive.model_family %}
                   {{drive.model_family}}
                 {% else %}
                   {{drive.device_model}}
                 {% endif %}
            </h5>
            <small class="text-success">{{ drive.device_model }} 
              {% if drive.serial_number %}
                ({{ drive.serial_number }})
              {% endif %}
            </small>
            <table class="text-muted" style="width: 100%">
              <tr>
                <td>S.M.A.R.T</td>
                <td>{{_('Temperature')}}</td>
                <td>{{_('Capacity')}}</td>
                <td>{{_('Powered On')}}</td>
              </tr>
              <tr>
                <td>
                  {% if not drive.status %}
                    &nbsp;
                  {% elif drive.status == 'PASSED' %}
                    <i class="bi-check-circle text-success"></i> {{_('Passed')}}
                  {% else %}
                    <i class="bi-dash-circle text-danger" title="{{ drive.status }}"></i>
                    {{_(drive.status)}}
                  {% endif %}
                </td>
                <td>
                  {% if not drive.temperature %}
                    &nbsp;
                  {% elif drive.temperature < settings.good_below_temperature %}
                    <i class="bi-check-circle text-success"></i> {{ drive.temperature }} &deg;C
                  {% elif drive.temperature < settings.warn_below_temperature %}
                    <i class="bi-exclamation-triangle text-warning"></i> {{ drive.temperature }} &deg;C
                  {% else %}
                    <i class="bi-dash-circle text-danger"></i> {{ drive.temperature }} &deg;C
                  {% endif %}
                </td>
                <td>
                  {% if drive.capacity %}
                    {{drive.capacity}}
                  {% endif %}
                </td>
                <td>
                  {% if drive.power_on_hours %}
                    {% set drive_power_split = drive.power_on_hours.split('|') %}
                    {{drive_power_split[1]}}
                  {% endif %}
                </td>  
            </tr>
            </table>
          </div>
        </div>
      {% if loop.index % 2 == 0 %}
      </div>
      {% endif %}
      {% endfor %}
      <small class="text-muted text-center">{{_('Drive status updated')}} {{drives.rows[0].updated_at | datetimefilter}}</small>
      {% endif %}
    </fieldset>
  </form>

  {% else %}

  {% autoescape false %}
  <div class="text-center" style="padding-top:100 px; padding-bottom: 0px">
    <h6>{{_('No drives accessible to smartctl inside the Machinaris containers.')}}</h6>
    <h6>{{_('Please configure Docker to allow smartctl access to host devices.')}}</h6>
    <h6>{{_('For more, see the Machinaris %(wiki_link_open)swiki%(wiki_link_close)s.', 
        wiki_link_open='<a href="https://github.com/guydavis/machinaris/wiki/Drives" target="_blank">',
        wiki_link_close='</a>')}}
    </h6>
  </div>
  {% endautoescape %}
  <br />
  <br />
  {% endif %}


  {% endblock %}

  {% block scripts %}
  <script>
    function MachinarisLog(type, hostname, blockchain) {
        var d = new Date();
        var height = 600;
        var width = 900;
        var top = (screen.height - height) / 2;
        var left = (screen.width - width) / 2;
        window.open("{{ url_for('logs') }}?log=" + type + "&hostname=" + hostname + "&blockchain=" + blockchain, 'Machinaris ' + type + '.log on ' + hostname, 'resizeable=yes,scrollbars=yes,height=' + height + ',width=' + width + ',top=' + top + ',left=' + left).focus();
    }
    function SmartctlDeviceInfo(ip_addr, device, hostname, model, family) {
            var output = document.getElementById('smartctlHeader');
            output.textContent = device + ' - ' + family + ' - ' + model + ' (' + hostname + ')';
            var output = document.getElementById('smartctlContent');
            output.textContent = ""; // Clear any old info before requesting
            var xhr = new XMLHttpRequest();
            xhr.open('GET', "{{ url_for('drives') }}?hostname=" + encodeURIComponent(ip_addr) + "&device=" + encodeURIComponent(device));
            xhr.send();
            xhr.onload = function () {
                output.textContent = xhr.responseText;
            };
        }
    $(document).ready(function () {  
      $("#btnSave").click(function () {
        $("#btnCancel").prop("disabled", true);
        $(this).prop("disabled", true);
        $(this).html(
            `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Saving...`
        );
        $("#settings-form").submit();
      });
      $("#btnRemove").click(function () {
          $('#btnRemove').prop("disabled", true);
          $('#btnRemove').html(
              `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> {{_('Removing...')}}`
          );
          $('#drives-form').append('<input type="hidden" id="action" name="action" value="remove" />');
          $("#drives-form").submit();
      });
      $("#btnPurge").click(function () {
          $('#btnPurge').prop("disabled", true);
          $('#btnPurge').html(
              `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> {{_('Purging...')}}`
          );
          $('#drives-form').append('<input type="hidden" id="action" name="action" value="purge" />');
          $("#drives-form").submit();
      });
      $('#data').DataTable({
          "stateSave": true,
          "pageLength": 25,
          "lengthMenu": [ [25, 50, 100, 200, -1], [25, 50, 100, 200, "All"] ],
          "order": [[2, "asc"]],
          "columnDefs": [
            {
                targets: [0,9], "orderable": false,
            },
            {   targets: [5], "orderable": true, "render": function ( data, type, row, meta ) {
                    if (data && data.includes('|')) {
                        arr = data.split("|");
                        size_gibs = arr[0].trim();
                        capacity = arr[1].trim();
                        if (type == 'sort' || type == 'type') {
                          return size_gibs;
                        } else {
                          return capacity;
                        }
                    }
                    return data;
                }
            },
            {   targets: [8], "orderable": true, "render": function ( data, type, row, meta ) {
                    if (data && data.includes('|')) {
                        arr = data.split("|");
                        pwr_on_hrs = arr[0].trim();
                        pwr_on_readable = arr[1].trim();
                        if (type == 'sort' || type == 'type') {
                          return pwr_on_hrs;
                        } else {
                          return pwr_on_readable;
                        }
                    }
                    return data;
                }
            }
          ],
          {% if lang != 'en' %}
          "language": {
              "url": "{{ url_for('static', filename='3rd_party/i18n/datatables.'+lang+'.json') }}"
          },
          {% endif %}
      });
    })
    function checkPage(bx) {
      for (var tbls = document.getElementsByTagName("table"), i = tbls.length; i--;)
          for (var bxs = tbls[i].getElementsByTagName("input"), j = bxs.length; j--;)
              if (bxs[j].type == "checkbox")
                  bxs[j].checked = bx.checked;
    }
  </script>
  {% endblock %}