{% extends "base.html" %}

{% block content %}

<header class="pb-3 mb-4 border-bottom">
    <div class="row align-items-md-stretch" style="width:100%">
        <div class="col-md-4 fs-4">Farming: {{ farming.plot_count }} plots.</div>
        <div class="col-md-4 fs-4">Chia ETW: <i class="text-success">{{ farming.expected_time_to_win }}</i></div>
        {% if global_config.flax_enabled %}
        <div class="col-md-4 fs-4">Flax ETW: <i class="text-success">{{ farming.flax_expected_time_to_win }}</i></div>
        {% endif %}
    </div>
</header>

<div class="modal fade" id="analyzeModal" tabindex="-1" aria-labelledby="analyzeModalLabel" aria-hidden="true">
    <div class="modal-dialog bg-dark rounded-3 modal-lg">
        <div class="modal-content bg-dark">
            <div class="modal-header bg-dark">
                <h5 class="modal-title" id="analyzeModalLabel">Plotting Analysis</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body bg-dark">
                <p>Analysis of the plotting job log shows time (seconds) spent in each phase:</p>
                <pre id="plotAnalyzeContent"></pre>
            </div>
        </div>
    </div>
</div>

<div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    {% if category == 'message' %}
    <div class="alert alert-warning" role="alert">
        {% else %}
        <div class="alert alert-{{ category }}" role="alert">
            {% endif %}
            {{ message|safe }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

    <style>
        .accordion-button:after {
            background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c63e4'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
        }
    </style>

    {% if (daily_notifications.daily_summary_chia|length > 0)  or (daily_notifications.daily_summary_flax|length > 0) %}
    <div class="accordion" style="padding-bottom:15px; background: #15171a; color: #c7c7c7;"
        id="farming_summary_accordion">

        <div class="accordion-item" style="background: #15171a">
            <h2 class="accordion-header" id="headingChia">
                <button class="accordion-button collapsed text-white bg-dark fs-4" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseChia" aria-expanded="false"
                    aria-controls="collapseChia">
                    Chia - Daily Farming Summary
                </button>
            </h2>
            <div id="collapseChia" class="accordion-collapse collapse" aria-labelledby="headingChia"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <div class="row align-items-md-stretch">
                        {% for daily in daily_notifications.daily_summary_chia %}
                        <div class="col-md-3" style="margin-top:5px; margin-bottom:5px;">
                            <div class="h-100 p-2 text-white bg-dark rounded-3">
                                <h6 class="display-6 text-center">{{ daily.hostname }}</h6>
                                <div style="white-space:pre-wrap; margin-bottom:0px; padding-bottom: 0px;">{{
                                    daily.message }}</div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        {% if global_config.flax_enabled %}
        <div class="accordion-item" style="background: #15171a">
            <h2 class="accordion-header" id="headingFlax">
                <button class="accordion-button collapsed text-white bg-dark fs-4" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseFlax" aria-expanded="false"
                    aria-controls="collapseFlax">
                    Flax - Daily Farming Summary
                </button>
            </h2>
            <div id="collapseFlax" class="accordion-collapse collapse" aria-labelledby="headingFlax"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <div class="row align-items-md-stretch">
                        {% for daily in daily_notifications.daily_summary_flax %}
                        <div class="col-md-3" style="margin-top:5px; margin-bottom:5px;">
                            <div class="h-100 p-2 text-white bg-dark rounded-3">
                                <h6 class="display-6 text-center">{{ daily.hostname }}</h6>
                                <div style="white-space:pre-wrap; margin-bottom:0px; padding-bottom: 0px;">{{
                                    daily.message
                                    }}</div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

    </div>
    {% endif %}

    <form method="POST" style="padding-bottom:5px; width:100%;" id="main-form">
        <fieldset>
            <div style="width: 100%; padding-bottom: 10px;">
                {% for farmer in farmers %}
                <div class="btn-group">
                    <button type="button" class="btn btn-outline-success dropdown-toggle" data-bs-toggle="dropdown"
                        aria-expanded="false" id="{{ farmer.hostname }}_btn">
                        {{ farmer.displayname }}: {{farmer.farming_status}}
                    </button>
                    <ul class="dropdown-menu bg-dark btn-outline-success">
                        <li>
                            <a class="dropdown-item text-white text-decoration-none" href="#"
                                onclick='ViewLogs("{{ farmer.hostname }}","chia");return false;'>
                                <i class="fs-4 bi-text-indent-left"></i>
                                <span class="align-text-bottom"></span>View Chia Log</span>
                            </a>
                        </li>
                        {% if global_config.flax_enabled %}
                        <li>
                            <a class="dropdown-item text-white text-decoration-none" href="#"
                                onclick='ViewLogs("{{ farmer.hostname }}","flax");return false;'>
                                <i class="fs-4 bi-text-indent-left"></i>
                                <span class="align-text-bottom"></span>View Flax Log</span>
                            </a>
                        </li>
                        {% endif %}
                        <li>
                            <a class="dropdown-item text-white text-decoration-none" href="#"
                                onclick='CheckPlots("{{ farmer.hostname }}");return false;'>
                                <i class="fs-4 bi-text-indent-left"></i>
                                <span class="align-text-bottom"></span>Check Plots</span>
                            </a>
                        </li>
                    </ul>
                </div>
                {% endfor %}
            </div>
            <fieldset>
    </form>

    <div class="table-responsive">
        <table id="data" class="table table-dark">
            <thead>
                <tr>
                    {% for column in plots.columns %}
                    <th scope="col" class="text-success">{{ column }}</th>
                    {% endfor %}
                    <th scope="col" class="text-success"></th>
                </tr>
            </thead>
            <tbody>
                {% for row in plots.rows %}
                <tr>
                    {% for column in plots.columns %}
                    {% if column == "size" %}
                    <td>{{ row[column] | bytesfilter}}</td>
                    {% elif column == "plot" %}
                    <td>{{ row[column] | plotnameshortener}}</td>
                    {% else %}
                    <td>{{ row[column] }}</td>
                    {% endif %}
                    {% endfor %}
                    <td class="align-middle" style="padding:0px 5px 0px 0px">
                        <!-- Careful, VS Code likes to format a space into 'plot' quotes for some reason -->
                        <a href="#" title="Analyze Plotting Job" data-bs-toggle="modal" data-bs-target="#analyzeModal"
                            onclick='PlotJobAnalyze("{{ row['plot'] }}");return false;'>
                            <i class="fs-4 bi-stopwatch"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% endblock %}

    {% block scripts %}
    <script>
        function ViewLogs(hostname, blockchain) {
            var d = new Date();
            var height = 600;
            var width = 900;
            var top = (screen.height - height) / 2;
            var left = (screen.width - width) / 2;
            window.open("{{ url_for('logs') }}?log=farming" + "&hostname=" + hostname + "&blockchain=" + blockchain, 'Farming Log for ' + blockchain + ' on ' + hostname, 'resizeable=yes,scrollbars=yes,height=' + height + ',width=' + width + ',top=' + top + ',left=' + left).focus();
        }
        function CheckPlots(hostname) {
            var d = new Date();
            var height = 600;
            var width = 900;
            var top = (screen.height - height) / 2;
            var left = (screen.width - width) / 2;
            window.open("{{ url_for('plots_check') }}?hostname=" + hostname, 'Plots Check on ' + hostname, 'resizeable=yes,scrollbars=yes,height=' + height + ',width=' + width + ',top=' + top + ',left=' + left).focus();
        }
        function PlotJobAnalyze(plot) {
            var output = document.getElementById('plotAnalyzeContent');
            output.textContent = ""; // Clear any old analysis before requesting
            var xhr = new XMLHttpRequest();
            xhr.open('GET', "{{ url_for('farming') }}?analyze=" + plot);
            xhr.send();
            xhr.onload = function () {
                output.textContent = xhr.responseText;
            };
        }
        $(document).ready(function () {
            $('#data').DataTable({
                "order": [[4, "desc"]],
                "columnDefs": [{ "orderable": false, targets: [6] }],
            });
        });
    </script>
    {% endblock %}