{% extends "base.html" %}

{% block content %}

<div>
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category, message in messages %}
  {% if category == 'message' %}
  <div class="alert alert-warning" role="alert">
    {% else %}
    <div class="alert alert-{{ category }}" role="alert">
      {% endif %}
      {{ message|safe }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
  </div>

  <div class="row align-items-md-stretch">
    <div class="col-md-6" style="margin-top:5px; margin-bottom:5px;">
      <div class="h-20 p-2 bg-light border rounded-3">
        <h6 class="display-6 text-center">Plotting:
          <span {% if plotting.display_status=='Active' %} class="text-success" {% endif %}>
            {{ plotting.display_status }}
          </span>
        </h6>
      </div>
    </div>
    <div class="col-md-6" style="margin-top:5px; margin-bottom:5px;">
      <div class="h-20 p-2 bg-light border rounded-3">
        <h6 class="display-6 text-center">Farming:
          <span {% if farming.display_status=='Active' %} class="text-success" {% endif %}>
            {{ farming.display_status }}
          </span>
        </h6>
      </div>
    </div>
  </div>

  <div class="row align-items-md-stretch">
    <div class="col-md-6" style="margin-top:5px; margin-bottom:5px;">
      <div class="h-100 p-2 text-white bg-dark rounded-3">
        <h4 class="display-4 text-center text-success" data-toggle="tooltip" data-placement="left" data-html="true"
          title="{{ daily_diff.plot_count }}">{{farming.plot_count }}</h4>
        <h6 class="display-6 text-center">Total Plots</h6>
      </div>
    </div>
    <div class="col-md-6" style="margin-top:5px; margin-bottom:5px;">
      <div class="h-100 p-2 text-white bg-dark rounded-3">
        <h4 class="display-4 text-center text-success" data-toggle="tooltip" data-placement="left" data-html="true"
          title="{{ daily_diff.plots_size }}">{{farming.plots_display_size }}</h4>
        <h6 class="display-6 text-center">Total Plots Size</h6>
      </div>
    </div>
  </div>

  {% if farming.expected_time_to_win != '-' %}
  <div class="row align-items-md-stretch" style="margin-top:5px; margin-bottom:5px;">
    <div class="col-md-12">
      <div class="h-30 p-2 text-white bg-dark rounded-3">
        <h4 class="text-center">Chia - Expected Time to Win:
          <span class="text-success">{{ farming.expected_time_to_win }}</span>
        </h4>
      </div>
    </div>
  </div>
  {% endif %}

  <div class="row align-items-md-stretch">
    <div class="col-md-6" style="margin-top:5px; margin-bottom:5px;">
      <div class="h-100 p-2 text-white bg-dark rounded-3">
        <h4 class="display-4 text-center text-success" data-toggle="tooltip" data-placement="left" data-html="true"
          title="{{ daily_diff.total_chia }}">{{farming.total_chia }}</h4>
        <h6 class="display-6 text-center">Chia Farmed</h6>
      </div>
    </div>
    <div class="col-md-6" style="margin-top:5px; margin-bottom:5px;">
      <div class="h-100 p-2 text-white bg-dark rounded-3"
        style="padding-top:12px !important; padding-bottom:12px !important;">
        <h4 class="display-4 text-center text-success" data-toggle="tooltip" data-placement="left" data-html="true"
          title="{{ daily_diff.netspace_chia }}">{{farming.netspace_display_size }}</h4>
        <h6 class="display-6 text-center">Chia Netspace</h6>
      </div>
    </div>
  </div>

  {% if global_config.flax_enabled %}
  {% if farming.flax_expected_time_to_win != '-' %}
  <div class="row align-items-md-stretch" style="margin-top:5px; margin-bottom:5px;">
    <div class="col-md-12">
      <div class="h-30 p-2 text-white bg-dark rounded-3">
        <h4 class="text-center">Flax - Expected Time to Win:
          <span class="text-success">{{ farming.flax_expected_time_to_win }}</span>
        </h4>
      </div>
    </div>
  </div>
  {% endif %}
  <div class="row align-items-md-stretch" style="margin-top:5px; margin-bottom:5px;">
    <div class="col-md-6" style="margin-top:5px; margin-bottom:5px;">
      <div class="h-100 p-2 text-white bg-dark rounded-3">
        <h4 class="display-4 text-center text-success" data-toggle="tooltip" data-placement="left" data-html="true"
          title="{{ daily_diff.total_flax }}">{{farming.total_flax }}</h4>
        <h6 class="display-6 text-center">Flax Farmed</h6>
      </div>
    </div>
    <div class="col-md-6" style="margin-top:5px; margin-bottom:5px;">
      <div class="h-100 p-2 text-white bg-dark rounded-3"
        style="padding-top:12px !important; padding-bottom:12px !important;">
        <h4 class="display-4 text-center text-success" data-toggle="tooltip" data-placement="left" data-html="true"
          title="{{ daily_diff.netspace_flax }}">{{farming.flax_netspace_display_size }}</h4>
        <h6 class="display-6 text-center">Flax Netspace</h6>
      </div>
    </div>
  </div>
  {% endif %}

  {% if global_config.farming_enabled %}
  <div class="col-md-12" style="margin-top:5px; margin-bottom:5px;">
    <div class="h-100 p-2 text-white bg-dark rounded-3" id="challenges-table-div">
      <canvas id="challenges_chart"></canvas>
    </div>
  </div>
  {% endif %}

  {% if partials.rows|length > 0 %}
  <div class="col-md-12" style="margin-top:5px; margin-bottom:5px;">
    <div class="h-100 p-2 text-white bg-dark rounded-3" id="challenges-table-div">
      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">Blockchain</th>
            <th scope="col">Pool</th>
            <th scope="col">Response</th>
            <th scope="col">Launcher</th>
            <th scope="col">Date</th>
          </tr>
        </thead>
        <tbody>
          {% for partial in partials.rows %}
          <tr>
            <td>{{partial.blockchain}}</td>
            <td>{{partial.pool_url}}</td>
            <td>{{partial.pool_response}}</td>
            <td>{{partial.launcher_id|launcheridshortener}}</td>
            <td>{{partial.created_at}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  {% endif %}

  {% endblock %}

  {% block scripts %}
  {% if global_config.farming_enabled %}
  <script>
    const COLORS = [
        '#3aac59',
        '#4dc9f6',
        '#f67019',
        '#f53794',
        '#537bc4',
        '#acc236',
        '#166a8f',
        '#00a950',
        '#58595b',
        '#8549ba'
    ];

    function color(index) {
        return COLORS[index % COLORS.length];
    }

    $(document).ready(function () {
      $('[data-toggle="tooltip"]').tooltip();

      var ctx = document.getElementById('challenges_chart');
      var myChart = new Chart(ctx, {
          type: 'scatter',
          data: {
              labels: {{ challenges_chart_data.labels | safe }},
              datasets: [
              {% for key in challenges_chart_data.data %}
                  {
                      label: "{{key}}",
                      data: {{ challenges_chart_data.data[key] | safe }},
                      backgroundColor: color({{ loop.index - 1 }}),
                  },
              {% endfor %}
              ],
          },
          borderWidth: 1,
          options: {
              plugins: {
                title: {
                  display: true,
                  text: 'Blockchain Challenges',
                }
              },
              scales: {
                  x: {
                      type: 'time',
                      time: {
                          tooltipFormat: 'DD T'
                      },
                      title: {
                          display: true,
                          text: 'Time - Last Hour'
                      }
                  },
                  y: {
                      beginAtZero: true,
                      title: {
                          display: true,
                          text: "Time Taken (seconds)",
                      }
                  }
              }
          }
        });
    })
  </script>
  {% endif %}
  {% endblock %}