{% extends "base.html" %}

{% block content %}

<div>
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category, message in messages %}
  {% if category == 'message' %}
  <div class="alert alert-warning" role="alert">
    {% else %}
    <div class="alert alert-{{ category }}" role="alert">
      {% endif %}
      {{ message|safe }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
  </div>

  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      {% for blockchain in farms.keys()|sort(case_sensitive=False) %}
      <div class="carousel-item {% if blockchain == selected_blockchain %} active {% endif %}" data-bs-interval="10000">

        {% if farms[blockchain].expected_time_to_win != '-' %}
        <div class="row align-items-md-stretch" style="margin-top:0px; margin-bottom:5px;">
          <div class="col-md-12">
            <div class="h-30 p-2 text-white bg-dark rounded-3">
              <h4 class="text-center">{{ blockchain|capitalize }} - Expected Time to Win:
                <span class="text-success">{{ farms[blockchain].expected_time_to_win }}</span>
              </h4>
            </div>
          </div>
        </div>
        {% endif %}

        <div class="row align-items-md-stretch">
          <div class="col-md-6" style="margin-top:5px; margin-bottom:5px;">
            <div class="h-20 p-2 bg-light border rounded-3">
              <h6 class="display-6 text-center">Plotting:
                <span {% if plotting[blockchain] =='Active' %} class="text-success" {% endif %}>
                  {{ plotting[blockchain] }}
                </span>
              </h6>
            </div>
          </div>
          <div class="col-md-6" style="margin-top:5px; margin-bottom:5px;">
            <div class="h-20 p-2 bg-light border rounded-3">
              <h6 class="display-6 text-center">Farming:
                <span 
                  {% if farms[blockchain].display_status=='Active' %}
                    class="text-success"
                  {% elif farms[blockchain].display_status=='Offline' or farms[blockchain].display_status=='Not available' %} 
                    class="text-danger" 
                  {% else %}
                    class="text-warning"
                  {% endif %}
                >
                  {{ farms[blockchain].display_status }}
                </span>
              </h6>
            </div>
          </div>
        </div>

        <div class="row align-items-md-stretch">
          <div class="col-md-6" style="margin-top:5px; margin-bottom:5px;">
            <div class="h-100 p-2 text-white bg-dark rounded-3">
              <h4 class="display-4 text-center text-success" data-toggle="tooltip" data-placement="left"
                data-html="true" title="{{ farms[blockchain].daily_diff.plot_count }}">{{farms[blockchain].plot_count }}</h4>
              <h6 class="display-6 text-center">Total Plots</h6>
            </div>
          </div>
          <div class="col-md-6" style="margin-top:5px; margin-bottom:5px;">
            <div class="h-100 p-2 text-white bg-dark rounded-3">
              <h4 class="display-4 text-center text-success" data-toggle="tooltip" data-placement="left"
                data-html="true" title="{{ farms[blockchain].daily_diff.plots_size }}">{{farms[blockchain].plots_display_size }}</h4>
              <h6 class="display-6 text-center">Total Plots Size</h6>
            </div>
          </div>
        </div>

        <div class="row align-items-md-stretch">
          <div class="col-md-4" style="margin-top:5px; margin-bottom:5px;">
            <div class="h-100 p-2 text-white bg-dark rounded-3">
              <h4 class="display-4 text-center text-success" data-toggle="tooltip" data-placement="left"
                data-html="true" title="{{ farms[blockchain].daily_diff.wallet_balance }}">{{farms[blockchain].wallet_balance }}</h4>
              <h6 class="display-6 text-center">{{ farms[blockchain].currency_symbol }} Balance</h6>
            </div>
          </div>
          <div class="col-md-4" style="margin-top:5px; margin-bottom:5px;">
            <div class="h-100 p-2 text-white bg-dark rounded-3">
              <h4 class="display-4 text-center text-success" data-toggle="tooltip" data-placement="left"
                data-html="true" title="{{ farms[blockchain].daily_diff.total_coins }}">{{farms[blockchain].total_coins }}</h4>
              <h6 class="display-6 text-center">{{ farms[blockchain].currency_symbol }} Farmed</h6>
            </div>
          </div>
          <div class="col-md-4" style="margin-top:5px; margin-bottom:5px;">
            <div class="h-100 p-2 text-white bg-dark rounded-3"
              style="padding-top:12px !important; padding-bottom:12px !important;">
              <h4 class="display-4 text-center text-success" data-toggle="tooltip" data-placement="left"
                data-html="true" title="{{ farms[blockchain].daily_diff.netspace_size }}">{{farms[blockchain].netspace_display_size }}
              </h4>
              <h6 class="display-6 text-center">{{ blockchain|capitalize }} Netspace</h6>
            </div>
          </div>
        </div>

        {% if farms[blockchain].challenges.labels|length > 0 %}
        <div class="col-md-12" style="margin-top:5px; margin-bottom:5px;">
          <div class="h-100 p-2 text-white bg-dark rounded-3">
            <div class="position-relative">
              <div class="position-absolute top-0 end-0" style="z-index: 2000; margin-top: -10px; margin-right: -3px;">
                <a href="https://github.com/guydavis/machinaris/wiki/{{ blockchain|capitalize }}" target="_blank">
                  <i class="fs-4 bi-question-circle"></i>
                </a>
              </div>
            </div>
            <h6 class="display-6 text-center">{{blockchain|capitalize}} - Challenges from Harvesters</h6>
            <canvas id="{{blockchain}}_challenges_chart"></canvas>
          </div>
        </div>
        {% endif %}

        {% if farms[blockchain].partials.data|length > 0 %}
        <div class="col-md-12" style="margin-top:5px; margin-bottom:5px;">
          <div class="h-100 p-2 text-white bg-dark rounded-3">
            <div class="position-relative">
              <div class="position-absolute top-0 end-0" style="z-index: 2000; margin-top: -10px; margin-right: -3px;">
                <a href="https://github.com/guydavis/machinaris/wiki/Pooling" target="_blank">
                  <i class="fs-4 bi-question-circle"></i>
                </a>
              </div>
            </div>
            <h6 class="display-6 text-center">{{blockchain|capitalize}} - Partial Proofs for Pools</h6>
            <canvas id="{{blockchain}}_partials_chart"></canvas>
          </div>
        </div>
        {% endif %}
      </div>
      {% endfor %}
    </div>

    <button class="carousel-control-prev" style="align-items: initial; justify-content: left; padding-top: 10px; width: 5%; height: 60px;" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" style="align-items: initial; justify-content: right; padding-top: 10px; width: 5%; height: 60px;" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  {% endblock %}

  {% block scripts %}
  {% if global_config.farming_enabled %}
  <script>
    {% include 'views/index_script_block.js' %}
  </script>
  {% endif %}
  {% endblock %}