{% extends "base.html" %}

{% block content %}

<div class="position-relative">
    <div class="position-absolute top-0 end-0" style="z-index: 2000; margin-top: -18px; margin-right: -8px;">
      <a href="https://github.com/guydavis/machinaris/wiki/Keys" target="_blank">
        <i class="fs-4 bi-question-circle"></i>
      </a>
    </div>
  </div>

<style>
    a.active.nav-link {
        background-color: #3d3f42 !important
    }
    button.active.nav-link {
        background-color: #3d3f42 !important
    }
</style>

{% if keys.rows|length > 0 %}
<nav class="navbar navbar-expand-lg navbar-dark" style="padding-bottom: 0px;">
    <div class="h-100 p-2 text-white">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            {% for key in keys.rows %}
            <li class="nav-item" role="presentation">
                <button class="nav-link {% if key.blockchain == selected_blockchain %}active{% endif %}" id="{{key.blockchain}}-tab" data-bs-toggle="tab" data-bs-target="#{{key.blockchain}}"
                    type="button" role="tab" aria-controls="{{key.blockchain}}" aria-selected="{% if key.blockchain == selected_blockchain %}true{% else %}false{% endif %}">
                    {% if key.status == 'Connection Refused' %}
                        <i class="bi-dash-circle text-danger" title="{{key.status}} - key info is stale."></i>
                    {% endif %}
                    {{ key.blockchain }}</button>
            </li>
            {% endfor %}
        </ul>
        <div class="tab-content">
            {% for key in keys.rows %}
            <div class="tab-pane {% if key.blockchain == selected_blockchain %}active{% endif %}" id="{{key.blockchain}}" role="tabpanel" aria-labelledby="{{key.blockchain}}-tab">
                <br/>
                <pre>{{ key.details}}</pre>
                <br/><br/><br/>
                <p><b>{{_('NOTE: Machinaris will never display your private key here.')}}</b></p>
                <p>{{_('However, you may view it yourself by executing this from within the Docker container.')}}</p>
                <div style="padding-left: 50px;">
                    {% if key.blockchain == 'mmx' %}
                    <code>mmx wallet get seed</code>
                    {% else %}
                    <code>chia keys show --show-mnemonic-seed</code>
                    {% endif %}
                </div>
                <br />
                {% if key.blockchain != 'mmx' %}
                <h4>{{_('Best Practices')}}</h4>
                <ul>
                    {% autoescape false %}
                    <li>
                        {{_('Machinaris uses an online wallet for farming. It is strongly recommended that you use a cold wallet for your payout instructions. Tutorial on the %(wiki_link_open)swiki%(wiki_link_close)s. Please add "Setup a Cold Wallet" to your To-Do list!', 
                            wiki_link_open='<a target="_blank" href="https://github.com/guydavis/machinaris/wiki/Keys#using-a-cold-wallet">', wiki_link_close='</a>')}}
                    </li>
                    {% endautoescape %}
                </ul>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</nav>
{% else %}
<div class="text-center" style="padding-top:50 px; padding-bottom: 50px">
    <h6>{{_('No keys found from any farmers. Not added?')}}</h6>
    <h6>{{_('Try running "chia keys show" on your farmers to verify.')}}</h6>
</div>
{% endif %}

{% endblock %}