{% extends "base.html" %}

{% block content %}

<style>
    a.active.nav-link {
        background-color: #3d3f42 !important
    }
    button.active.nav-link {
        background-color: #3d3f42 !important
    }
</style>

{% if keys.rows|length > 0 %}
<nav class="navbar navbar-expand-lg navbar-dark" style="padding-bottom: 0px;">
    <div class="h-100 p-2 text-white">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            {% for key in keys.rows %}
            <li class="nav-item" role="presentation">
                <button class="nav-link {% if loop.index == 1 %}active{% endif %}" id="{{key.blockchain}}-tab" data-bs-toggle="tab" data-bs-target="#{{key.blockchain}}"
                    type="button" role="tab" aria-controls="{{key.blockchain}}" aria-selected="{% if loop.index == 1 %}true{% else %}false{% endif %}">{{ key.blockchain }}</button>
            </li>
            {% endfor %}
        </ul>
        <div class="tab-content">
            {% for key in keys.rows %}
            <div class="tab-pane {% if loop.index == 1 %}active{% endif %}" id="{{key.blockchain}}" role="tabpanel" aria-labelledby="{{key.blockchain}}-tab">
                <br/>
                <pre>{{ key.details}}</pre>
            </div>
            {% endfor %}
        </div>
    </div>
</nav>
{% else %}
<div class="text-center" style="padding-top:50 px; padding-bottom: 50px">
    <h6>No keys found from any farmers. Not added?</h6>
    <h6>Try running 'chia keys show' on your farmers to verify.</h6>
</div>
{% endif %}



<p><b>NOTE: Machinaris will never display your private key here.</b></p>

<p>However, you may view it yourself by executing this from within the Docker container.</p>

<div style="padding-left: 50px;">
    <code>chia keys show --show-mnemonic-seed</code>
</div>

<br />


<p>Also, you may view the key file(s) on the host, which you mounted within the Docker container:</p>

<ul>
    {% for key_path in key_paths: %}
    <li>{{ key_path }}</li>
    {% endfor %}
</ul>

{% endblock %}