{% extends "base.html" %}

{% block content %}

<div class="position-relative">
  <div class="position-absolute top-0 end-0" style="z-index: 2000; margin-top: -18px; margin-right: -8px;">
    <a href="https://github.com/guydavis/machinaris/wiki/Pooling" target="_blank">
      <i class="fs-4 bi-question-circle"></i>
    </a>
  </div>
</div>

<div>
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category, message in messages %}
  {% if category == 'message' %}
  <div class="alert alert-warning" role="alert">
      {% else %}
      <div class="alert alert-{{ category }}" role="alert">
          {% endif %}
          {{ message }}
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
  </div>

  <style>
      a.active.nav-link {
          background-color: #3d3f42 !important
      }

      button.active.nav-link {
          background-color: #3d3f42 !important
      }
  </style>

  {% if pools.blockchains|length > 0 %}
  <nav class="navbar navbar-expand-lg navbar-dark" style="padding-bottom: 0px; display: block">
      <div class="h-100 p-2 text-white">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            {% for blockchain in pools.blockchains.keys()|sort %}
              <li class="nav-item" role="presentation">
                  <button class="nav-link {% if blockchain == selected_blockchain %}active{% endif %}"
                      id="{{blockchain}}-tab" data-bs-toggle="tab"
                      data-bs-target="#{{blockchain}}" type="button" role="tab"
                      aria-controls="{{blockchain}}"
                      aria-selected="{% if blockchain == selected_blockchain %}true{% else %}false{% endif %}">{{ blockchain
                      }}</button>
              </li>
              {% endfor %}
          </ul>
          <div class="tab-content">
            {% for blockchain in pools.blockchains.keys()|sort %}
            <div class="tab-pane {% if blockchain == selected_blockchain %}active{% endif %}" id="{{blockchain}}"
                role="tabpanel" aria-labelledby="{{blockchain}}-tab">
              {% for pool in pools.blockchains[blockchain] %}
              <div class="col-md-6" style="margin-top:5px; margin-bottom:5px;">
                <div class="h-20 p-2 bg-light border rounded-3">
                  <h6 class="display-7">{{_('Pool:')}}
                    <span class="text-success">
                      {% if pool.pool_state.pool_config.pool_url %}
                        {{ pool.pool_state.pool_config.pool_url }}
                      {% else %}
                        {{_('SELF_POOL')}}
                      {% endif %}
                    </span>
                  </h6>
                  <ul>
                    <li>{{_('Status:')}} {{pool.status}}</li>
                    <li>{{_('Current Difficulty:')}} {{pool.pool_state.current_difficulty}}</li>
                    <li>{{_('Current Points Balance:')}} {{pool.pool_state.current_points}}</li>
                    <li>{{_('Points Found Since Start:')}} {{pool.pool_state.points_found_since_start}}</li>
                    <li>{{_('Points Found in Last 24 Hours:')}} {{pool.pool_state.points_found_24h|length}}</li>
                    <li>{{_('Points Successful in Last 24 Hours:')}} {{ pool.points_successful_last_24h }}</li>
                    <li>{{_('Number of Plots:')}} {{pool.num_plots}}</li>
                  </ul>
                  <b>{{_('Launcher ID:')}}</b>
                  <span>
                    {% if pool.login_link %}
                    <a target="_blank" class="text-white" href="{{ pool.login_link }}">{{ pool.launcher_id }}</a>
                    {% else %}
                    {{ pool.launcher_id }}
                    {% endif %}
                  </span>
                </div>
              </div>
              {% endfor %}
            </div>
            {% endfor %}
          </div>
      </div>
  </nav>
  {% else %}
  <div class="text-center" style="padding-top:100 px; padding-bottom: 0px">
    <h6>{{_('No pools have been found yet. Perhaps the wallet is still syncing?')}}</h6>
    <h6>{{_('If you would like to join a pool, please select the "Settings | Pools" page to get started.')}}</h6>
    <h6>{{_('For more, see the Machinaris')}} <a href="https://github.com/guydavis/machinaris/wiki/Pooling"
        target="_blank">wiki.</a></h6>
  </div>
  {% endif %}

  {% endblock %}

  {% block scripts %}
  <script>
    $(document).ready(function () {
      $('[data-toggle="tooltip"]').tooltip();
    })
  </script>
  {% endblock %}