<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='3rd_party/bootstrap.min.css') }}" rel="stylesheet"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='3rd_party/icons/bootstrap-icons.css') }}">
    <script src="{{ url_for('static', filename='3rd_party/jquery.min.js') }}"></script>
    <title>Machinaris</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {% if blockchain_download_size %}
    <meta http-equiv="refresh" content="10">
    {% endif %}
</head>

<body>

    <main>
        <div class="container py-4">

            <div class="p-5 mb-4 bg-light rounded-5">
                <div class="container-fluid py-5">
                    <img src="{{ url_for('static', filename='machinaris.png') }}"
                        style="height:128px; width:128px; float:left; margin-left:50px" />
                    <div class="text-center" style="margin-top: 20px">
                        <div class="display-4">{{_('Welcome to Machinaris!')}}</div>
                        <div style="margin-top: 20px">{{_('An easy-to-use WebUI for Chia%(trademark)s plotting and farming.', trademark='™')}}</div>
                    </div>
                    <br clear="all" />
                    <hr class="my-4">

                    <div>
                        {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                        {% for category, message in messages %}
                        {% if category == 'message' %}
                        <div class="alert alert-warning" role="alert">
                            {% else %}
                            <div class="alert alert-{{ category }}" role="alert">
                                {% endif %}
                                {{ message|safe }}
                            </div>
                            {% endfor %}
                            {% endif %}
                            {% endwith %}
                        </div>

                        {% if blockchain_download_size %}
                        <br />
                        <p style="text-center"><b>{{_('Downloaded and unzipped %(size)s so far...', size=blockchain_download_size)}}</b></p>
                        <br />
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" 
                                role="progressbar" aria-valuenow="{{download_percentage}}" aria-valuemin="0" aria-valuemax="100" 
                                style="width: {{download_percentage}}%"></div>
                        </div>
                        <br />
                        <br />

                        {% autoescape false %}
                        <p>{{_(
                            'On very first launch, the Chia compressed blockchain database %(compressed)s is being downloaded from %(dl_link)s, then unzipped. At about %(uncompressed)s in uncompressed size, this will take a while. However an hour or two now, will save you multiple days of blockchain syncing later. Please be patient!', 
                            compressed="(~75 GB)", uncompressed="127 GB",
                            dl_link='<a target="_blank" href="https://www.chia.net/downloads/">https://www.chia.net/downloads/</a>'
                        )}}</p>
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <p class="small">{{_(
                                'NOTE: If you would prefer to allow Chia to sync the blockchain over many days, see the %(init_link)s for details. Similarly, you may instead %(import_link_open)s import your own blockchain %(import_link_close)s if you have one from a previous Chia install.',
                                init_link='<a href="https://github.com/guydavis/machinaris/wiki/Keys#blockchain-initialization" target="_blank">Wiki</a>',
                                import_link_open='<a href="https://github.com/guydavis/machinaris/wiki/Keys#blockchain-import" target="_blank">', import_link_close='</a>'
                        )}}</p>
                        {% endautoescape %}

                        {% else %}

                        <p>{{_('To get started with Machinaris as a Chia%(trademark)s fullnode, either import your existing 24-word mnemonic seed phrase', trademark='™')}}: </p>
                        <!-- "placeholder" is an example mnemonic to hint required format with, key long since thrown-away -->
                        <form id="main-form" method="POST">
                            <input class="form-control me-2" id="mnemonic" name="mnemonic" type="text" autocomplete="off"
                                placeholder="north divorce holiday whisper inquiry toy rare minute father ostrich surprise runway ill episode dance rather unaware concert sunset maid gather grain gift wire"
                                aria-label="Import Key">
                            <br />
                            <button class="btn btn-outline-success" type="submit" id="btnImport">{{_('Import Existing Key')}}</button>
                            <h3 style="padding-top: 25px;">{{_('OR')}}</h3>

                            <p>{{_('You can generate a brand-new mnemonic phrase that will be written to this in-container path')}}:
                                {{ key_paths[0] }}
                            </p>
                            <button class="btn btn-outline-success" type="submit" id="btnGenerate">{{_('Generate New Key')}}</button>
                        </form>

                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />

                        {% autoescape false %}
                        <p class="small">
                            {{_('NOTE: If you would prefer to instead import your mnemonic seed phrase yourself at the command-line, see the %(wiki_link)s for details.', 
                            wiki_link='<a href="https://github.com/guydavis/machinaris/wiki/Keys" target="_blank">Wiki</a>')}}
                        </p>
                        {% endautoescape %}
                        
                        {% endif %}
                    </div>
                </div>
            </div>
    </main>

    <script src="{{ url_for('static', filename='3rd_party/bootstrap.bundle.min.js') }}"></script>

    <script>
        $(document).ready(function () {
            $("#btnImport").click(function () {
                var mnemonic = $('#mnemonic').val().trim().toLowerCase();
                if (!mnemonic) {
                    alert("Please provide a non-empty mnemonic seed phrase to import.");
                    return;
                }
                if (mnemonic.split(' ').length != 24) {
                    alert("Please exactly 24 words in the mnemonic seed phrase to import.");
                    return;
                }
                $(this).prop("disabled", true);
                $(this).html(
                    `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Importing...`
                );
                $('#main-form').append('<input type="hidden" id="action" name="action" value="import" />');
                $("#main-form").submit();
            });
        })
        $(document).ready(function () {
            $("#btnGenerate").click(function () {
                $(this).prop("disabled", true);
                $(this).html(
                    `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Generating...`
                );
                $('#main-form').append('<input type="hidden" id="action" name="action" value="generate" />');
                $("#main-form").submit();
            });
        })
    </script>

</body>

</html>
