{% extends "base.html" %}

{% block content %}

<div class="position-relative">
    <div class="position-absolute top-0 end-0" style="z-index: 2000; margin-top: -18px; margin-right: -8px;">
      <a href="https://github.com/guydavis/machinaris/wiki/Summary" target="_blank">
        <i class="fs-4 bi-question-circle"></i>
      </a>
    </div>
  </div>

<style>
    a.active.nav-link {
        background-color: #3d3f42 !important
    }
    button.active.nav-link {
        background-color: #3d3f42 !important
    }
</style>

{% if summaries.rows|length > 0 %}
<form method="POST" id="blockchain-form" style="padding-bottom: 10px; padding-top: 15px">
    <table id="data" class="table table-dark">
        <thead>
            <tr>
                <th scope="col" class="text-success">{{_('Blockchain')}}</th>
                <th scope="col" class="text-success">{{_('Status')}}</th>
                <th scope="col" class="text-success">{{_('Height')}}</th>
                <th scope="col" class="text-success">{{_('Plots')}}</th>
                <th scope="col" class="text-success">{{_('Workers')}}</th>
                <th scope="col" class="text-success">{{_('Max Resp.')}}</th>
                <th scope="col" class="text-success">{{_('Partials')}}</th>
                <th scope="col" class="text-success">{{_('ETW')}}</th>
                <!--th scope="col" class="text-success">Farmed</th-->
                <th scope="col" class="text-success">{{_('Wallet')}}</th>
                <th scope="col" class="text-success">{{_('EDV')}}</th>
                <th scope="col" class="text-success">{{_('EDV US')}}</th>
                <!--th scope="col" class="text-success">Drives</th-->
                <!--th scope="col" class="text-success">Effort</th-->
            </tr>
        </thead>
        <tbody>
            {% for summary in summaries.rows %}
            <tr>
                <td>{{summary.blockchain}}</td>
                <td>
                    {% if summary.status == 'Offline' %}
                      <i class="bi-dash-circle text-danger"></i>
                    {% elif summary.status.lower().startswith('synced') %}
                        <i class="bi-check-circle text-success"></i>
                    {% else %}
                      <i class="bi-exclamation-triangle text-warning"></i>
                    {% endif %} &nbsp;
                    {{summary.status}}
                </td>
                <td>{{summary.height}}</td>
                <td>{{summary.plots}}</td>
                <td>{{summary.harvesters}}</td>
                <td>{{summary.max_resp}}</td>
                <td>{{summary.partials_per_hour}}</td>
                <td>{{summary.etw}}</td>
                <!--td>{{summary.farmed}}</td-->
                <td>{{summary.wallet}}</td>
                <td>{{summary.edv}}</td>
                <td>{{summary.edv_usd}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</form>

{% else %}
<div class="text-center" style="padding-top:50 px; padding-bottom: 50px">
    <h6>{{_('No blockchains found from any farmers. Just starting up?')}}</h6>
    <h6>{{_('Please allow at least 15 minutes for blockchains to get started.')}}</h6>
</div>
{% endif %}

{% endblock %}

{% block scripts %}
<script>
$(document).ready(function () {
    $('#data').DataTable({
        {% if lang != 'en' %}
        "language": {
            "url": "{{ url_for('static', filename='3rd_party/i18n/datatables.'+lang+'.json') }}"
        },
        {% endif %}
        "pageLength": 25,
        "columnDefs": [
            { 
                targets: [4], "orderable": true, 
                "render": function ( data, type, row, meta ) {
                    if (data && data.includes('/')) {
                        arr = data.split("/");
                        responding = arr[0].trim();
                        total = arr[1].trim();
                        if (responding == 0) {
                            return "<span class='text-danger'>" + data + "</span>";
                        }
                        if (responding < total) {
                            return "<span class='text-warning'>" + data + "</span>";
                        }
                    }
                    return data;
                }
            },
            { 
                targets: [5], "orderable": true, 
                "render": function ( data, type, row, meta ) {
                    if (data && data.endsWith('secs')) {
                        arr = data.split(" ");
                        response_seconds = Number(arr[0].trim());
                        if (response_seconds > 30) {
                            return "<span class='text-danger'>" + data + "</span>";
                        }
                        if (response_seconds > 10) {
                            return "<span class='text-warning'>" + data + "</span>";
                        }
                    }
                    return data;
                }
            },
            { 
                targets: [6], "orderable": true, 
                "render": function ( data, type, row, meta ) {
                    if (data && data.includes('/')) {
                        arr = data.split("/");
                        partials = arr[0].trim();
                        if (partials == '0.00') {
                            return "<span class='text-danger'>" + data + "</span>";
                        }
                    }
                    return data;
                }
            },
        ],
    });
})
</script>
{% endblock %}