{% extends "base.html" %}

{% block content %}

<div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    {% if category == 'message' %}
    <div class="alert alert-warning" role="alert">
      {% else %}
      <div class="alert alert-{{ category }}" role="alert">
        {% endif %}
        {{ message|safe }}
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
    </div>

<div class="modal fade" id="settingsModal" tabindex="-1" aria-labelledby="settingsModalLabel" aria-hidden="true">
    <div class="modal-dialog bg-dark rounded-3 modal-sm">
      <div class="modal-content bg-dark">
        <div class="modal-header bg-dark">
          <h5 class="modal-title" id="settingsModalLabel">{{_('Settings')}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body bg-dark">
          <form method="POST" id="settings-form">
            <div class="mb-3">
              <label for="local_currency" class="col-form-label">{{_('Local Currency:')}}</label>
              <select type="text" class="form-control" id="local_currency_field" name="local_currency">
                {% for rate in exchange_rates %}
                  {% if exchange_rates[rate]['type'] == 'fiat' %}
                    <option {% if local_currency == rate %} selected {% endif %}
                        value="{{rate}}">{{exchange_rates[rate]['name']}} ({{exchange_rates[rate]['unit']}})</option>
                    {% endif %}
                {% endfor %}
              </select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id="btnCancel" data-bs-dismiss="modal">{{_('Cancel')}}</button>
          <button type="button" class="btn btn-outline-success" id="btnSave">{{_('Save')}}</button>
        </div>
      </div>
    </div>
  </div>

  <div class="position-relative">
    <div class="position-absolute top-0 end-0" style="z-index: 2000; margin-top: -20px; margin-right: -8px;">
      <a href="#" title="{{_('Settings')}}" data-bs-toggle="modal" data-bs-target="#settingsModal" target="_blank"><i class="fs-4 bi-gear"></i></a>
      &nbsp;
      <a href="https://github.com/guydavis/machinaris/wiki/Summary" target="_blank"><i class="fs-4 bi-question-circle"></i></a>
    </div>
  </div>

<style>
    a.active.nav-link {
        background-color: #3d3f42 !important
    }
    button.active.nav-link {
        background-color: #3d3f42 !important
    }
</style>

{% if summaries.rows|length > 0 %}
<form method="POST" id="blockchain-form" style="padding-bottom: 10px; padding-top: 15px">
    <table id="data" class="table table-dark">
        <thead>
            <tr>
                <th scope="col" class="text-success">{{_('Blockchain')}}</th>
                <th scope="col" class="text-success">{{_('Status')}}</th>
                <th scope="col" class="text-success">{{_('Height')}}</th>
                <th scope="col" class="text-success">{{_('Plots')}}</th>
                <th scope="col" class="text-success">{{_('Workers')}}</th>
                <th scope="col" class="text-success">{{_('Max Resp.')}}</th>
                <th scope="col" class="text-success">{{_('Partials')}}</th>
                <th scope="col" class="text-success">{{_('ETW')}}</th>
                <!--th scope="col" class="text-success">Farmed</th-->
                <th scope="col" class="text-success">{{_('Wallet')}}</th>
                <th scope="col" class="text-success">{{_('EDV')}}</th>
                <th scope="col" class="text-success">{{_('EDV')}} {{local_cur_sym|upper}}</th>
                <!--th scope="col" class="text-success">Drives</th-->
                <!--th scope="col" class="text-success">Effort</th-->
            </tr>
        </thead>
        <tbody>
            {% for summary in summaries.rows %}
            <tr>
                <td>{{summary.blockchain}}</td>
                <td>
                    {% if summary.status == 'Offline' %}
                      <i class="bi-dash-circle text-danger"></i> {{_('Offline')}}
                    {% elif summary.status.lower().startswith('synced') %}
                        <i class="bi-check-circle text-success"></i> {{_('Synced')}}
                    {% elif summary.status.lower().startswith('syncing') %}
                        <i class="bi-check-circle text-warning"></i> {{_('Syncing')}}
                    {% elif summary.status.lower().startswith('not synced') %}
                        <i class="bi-check-circle text-danger"></i> {{_('Not Synced')}}
                    {% else %}
                      <i class="bi-exclamation-triangle text-warning"></i> {{summary.status}}
                    {% endif %} &nbsp;
                </td>
                <td>{{summary.height}}</td>
                <td>{{summary.plots}}</td>
                <td>{{summary.harvesters}}</td>
                <td>{{summary.max_resp}}</td>
                <td>{{summary.partials_per_hour}}</td>
                <td>{{summary.etw}}</td>
                <!--td>{{summary.farmed}}</td-->
                <td>{{summary.wallet}}</td>
                <td>{{summary.edv}}</td>
                <td>{{summary.edv_fiat}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</form>

{% else %}
<div class="text-center" style="padding-top:50 px; padding-bottom: 50px">
    <h6>{{_('No blockchains found from any farmers. Just starting up?')}}</h6>
    <h6>{{_('Please allow at least 15 minutes for blockchains to get started.')}}</h6>
</div>
{% endif %}

{% endblock %}

{% block scripts %}
<script>
$(document).ready(function () {
    $("#btnSave").click(function () {
        $("#btnCancel").prop("disabled", true);
        $(this).prop("disabled", true);
        $(this).html(
            `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Saving...`
        );
        $("#settings-form").submit();
    });
    $('#data').DataTable({
        {% if lang != 'en' %}
        "language": {
            "url": "{{ url_for('static', filename='3rd_party/i18n/datatables.'+lang+'.json') }}"
        },
        {% endif %}
        "pageLength": 25,
        "columnDefs": [
            { 
                targets: [4], "orderable": true, 
                "render": function ( data, type, row, meta ) {
                    if (data && data.includes('/')) {
                        arr = data.split("/");
                        responding = arr[0].trim();
                        total = arr[1].trim();
                        if (responding == 0) {
                            return "<span class='text-danger'>" + data + "</span>";
                        }
                        if (responding < total) {
                            return "<span class='text-warning'>" + data + "</span>";
                        }
                    }
                    return data;
                }
            },
            { 
                targets: [5], "orderable": true, 
                "render": function ( data, type, row, meta ) {
                    if (data && data.endsWith('secs')) {
                        arr = data.split(" ");
                        response_seconds = Number(arr[0].trim());
                        if (response_seconds > 30) {
                            return "<span class='text-danger'>" + data + "</span>";
                        }
                        if (response_seconds > 10) {
                            return "<span class='text-warning'>" + data + "</span>";
                        }
                    }
                    return data;
                }
            },
            { 
                targets: [6], "orderable": true, 
                "render": function ( data, type, row, meta ) {
                    if (data && data.includes('/')) {
                        arr = data.split("/");
                        partials = arr[0].trim();
                        if (partials == '0.00') {
                            return "<span class='text-danger'>" + data + "</span>";
                        }
                    }
                    return data;
                }
            },
        ],
    });
})
</script>
{% endblock %}