<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='3rd_party/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='3rd_party/icons/bootstrap-icons.css') }}">
    <script src="{{ url_for('static', filename='3rd_party/jquery.min.js') }}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Worker Launch</title>
    <style>
        body {
            background-color: #15171a;
            color: #c7c7c7;
        }

        pre {
            font-size: 1em !important;
        }

        .rounded-2 {
            border-radius: .5rem !important;
            background-color: #212529 !important;
            -webkit-box-shadow: 0px 1px 0px 0px #000;
            box-shadow: 0px 1px 0px 0px #000;
            border: 0 !important;
            margin: 10px;
            padding: 10px;
            padding-top: 20px;
        }

        .rounded-3 {
            border-radius: .5rem !important;
            background-color: #212529 !important;
            -webkit-box-shadow: 0px 1px 0px 0px #000;
            box-shadow: 0px 1px 0px 0px #000;
            border: 0 !important;
            margin: 10px;
            padding: 10px;
            padding-top: 20px;
            overflow-y: auto;
        }
    </style>
    <script>
        function volumeAdd() {
            var cur_vols = $('#volumes').children().length
            var new_vol_row = `<div class="row mb-3 volume">
                    <div class="col-md">
                        <label for="volume_host_path0" class="form-label">{{_('Host Path')}}</label>
                        <input type="text" class="form-control" placeholder="/mnt/disk1" onkeyup="updateDocker()"
                            name="volume_host_path" id="volume_host_path0" aria-label="volume_host_path0">
                    </div>
                    <div class="col-sm">
                        <label for="volume_container_path0" class="form-label">{{_('Container Path')}}</label>
                        <input type="text" class="form-control" placeholder="/plots" onkeyup="updateDocker()"
                            name="volume_container_path" id="volume_container_path0" aria-label="volume_container_path0">
                    </div>
                    <div class="col-auto">
                        <label for="volume_type0" class="form-label">{{_('Used for:')}}</label>
                        <select class="form-select" id="volume_type0" name="volume_type" aria-label="volume_type0"
                            onchange="updateDocker()">
                            <option value="plots" selected>{{_('Final Plots')}}</option>
                            <option value="plotting">{{_('Plotting Temp')}}</option>
                            <option value="other">{{_('Other')}}</option>
                          </select>
                    </div>
                    <div class="col-auto volume_location" style="display:none">
                        <label for="volume_location0" class="form-label">{{_('Location')}}</label>
                        <select class="form-select" id="volume_location0" name="volume_location" aria-label="volume_location0"
                            onchange="updateDocker()">
                            <option value="local" selected>{{_('Local')}}</option>
                            <option value="remote">{{_('Remote')}}</option>
                        </select>
                    </div>
                </div>`;
            new_vol_row = new_vol_row.replaceAll('0', cur_vols)
            var os = getRadioButtonValue('os');
            if (os == 'windows') {
                new_vol_row = new_vol_row.replaceAll('style="display:none"', '');
            }
            $('#volumes').append(new_vol_row);
            setTimeout(updateDocker, 1000);
        }
        function volumeRemove() {
            $('.volume').last().remove()
            setTimeout(updateDocker, 1000);
        }
        function togglePlottingKeysVisibility() {
            if (document.getElementById('mode-plotter').checked) {
                $('#plotting_keys_row').show()
            } else {
                $('#plotting_keys_row').hide()
            }
            toggleControllerAddressVisibility();
        }
        function toggleFarmerAddressVisibility() {
            if (document.getElementById('mode-harvester').checked) {
                $('#blockchains_row').show()
            } else {
                $('#blockchains_row').hide()
            }
            toggleControllerAddressVisibility();
        }
        function toggleControllerAddressVisibility() {
            if (!document.getElementById('mode-plotter').checked && !document.getElementById('mode-harvester').checked) {
                $('#controller_address_row').hide()
            } else {
                $('#controller_address_row').show()
            }
        }
        function getRadioButtonValue(name) {
            var radios = document.getElementsByName(name);
            for (var i = 0, length = radios.length; i < length; i++) {
                if (radios[i].checked) {
                    return radios[i].value
                }
            }
        }
        function updateVolumes() {
            var os = getRadioButtonValue('os')
            if (os == 'windows') {
                document.getElementById('volume_host_path0').placeholder = "C:/my_chia_plots or //192.168.1.100/myshare";
                document.getElementById('volume_host_path1').placeholder = "C:/my_chia_plotting";
                $('#windows_volume_mount_warning').show();
                $('.volume_location').show();
            } else if (os == 'macintosh') {
                document.getElementById('volume_host_path0').placeholder = "/Volumes/disk1";
                document.getElementById('volume_host_path1').placeholder = "/Volumes/temp1";
                $('#windows_volume_mount_warning').hide();
                $('.volume_location').hide();
            } else {
                document.getElementById('volume_host_path0').placeholder = "/mnt/disk1";
                document.getElementById('volume_host_path1').placeholder = "/mnt/temp1";
                $('#windows_volume_mount_warning').hide();
                $('.volume_location').hide();
            }
        }
        function updateDocker() {
            var errors = [];
            compose = updateDockerCompose(errors);
            if (errors.length > 0) {
                msg = "<ul style='margin-bottom:0'>";
                for (let i = 0; i < errors.length; i++) {
                    msg += "<li>" + errors[i] + "</li>";
                }
                msg += "</ul>";
                $('#errors').html(msg);
                $('#errors').show();
                $('#compose').html('');
            } else {
                $('#compose').html(compose);
                $('#errors').hide();
            }
        }

        function lookup_worker_port(blockchain) {
            if (blockchain == 'achi') {
                return 8960;
            }
            if (blockchain == 'apple') {
                return 8947;
            }
            if (blockchain == 'ballcoin') {
                return 8957;
            }
            if (blockchain == 'bpx') {
                return 8945;
            }
            if (blockchain == 'btcgreen') {
                return 8938;
            }
            if (blockchain == 'cactus') {
                return 8936;
            }
            if (blockchain == 'chia') {
                return 8927;
            }
            if (blockchain == 'chinilla') {
                return 8948;
            }
            if (blockchain == 'chives') {
                return 8931;
            }
            if (blockchain == 'coffee') {
                return 8954;
            }
            if (blockchain == 'cryptodoge') {
                return 8937;
            }
            if (blockchain == 'ecostake') {
                return 8942;
            }
            if (blockchain == 'flora') {
                return 8932;
            }
            if (blockchain == 'flax') {
                return 8928;
            }
            if (blockchain == 'gigahorse') {
                return 8959;
            }
            if (blockchain == 'gold') {
                return 8949;
            }
            if (blockchain == 'greenbtc') {
                return 8955;
            }
            if (blockchain == 'hddcoin') {
                return 8930;
            }
            if (blockchain == 'littlelambocoin') {
                return 8946;
            }
            if (blockchain == 'maize') {
                return 8933;
            }
            if (blockchain == 'mint') {
                return 8950;
            }
            if (blockchain == 'mmx') {
                return 8940;
            }
            if (blockchain == 'moon') {
                return 8953;
            }
            if (blockchain == 'nchain') {
                return 8929;
            }
            if (blockchain == 'one') {
                return 8956;
            }
            if (blockchain == 'petroleum') {
                return 8943;
            }
            if (blockchain == 'pipscoin') {
                return 8958;
            }
            if (blockchain == 'profit') {
                return 8944;
            }
            if (blockchain == 'shibgreen') {
                return 8939;
            }
            if (blockchain == 'silicoin') {
                return 8941;
            }
            if (blockchain == 'staicoin') {
                return 8934;
            }
            if (blockchain == 'stor') {
                return 8935;
            }
            if (blockchain == 'tad') {
                return 8951;
            }
            if (blockchain == 'wheat') {
                return 8952;
            }
            alert("Unknown blockchain fork of selected: " + blockchain);
        }

        function lookup_farmer_port(blockchain) {
            if (blockchain == 'achi') {
                return 9977;
            }
            if (blockchain == 'apple') {
                return 26667;
            }
            if (blockchain == 'ballcoin') {
                return 38891;
            }
            if (blockchain == 'bpx') {
                return 27914;
            }
            if (blockchain == 'btcgreen') {
                return 18655;
            }
            if (blockchain == 'cactus') {
                return 11447;
            }
            if (blockchain == 'chia') {
                return 8447;
            }
            if (blockchain == 'chinilla') {
                return 43447;
            }
            if (blockchain == 'chives') {
                return 9647;
            }
            if (blockchain == 'coffee') {
                return 33847;
            }
            if (blockchain == 'cryptodoge') {
                return 16895;
            }
            if (blockchain == 'ecostake') {
                return 38441;
            }
            if (blockchain == 'flax') {
                return 6885;
            }
            if (blockchain == 'flora') {
                return 18647;
            }
            if (blockchain == 'gigahorse') {
                return 28745;
            }
            if (blockchain == 'gold') {
                return 14447;
            }
            if (blockchain == 'greenbtc') {
                return 23332;
            }
            if (blockchain == 'hddcoin') {
                return 28447;
            }
            if (blockchain == 'littlelambocoin') {
                return 18981;
            }
            if (blockchain == 'maize') {
                return 8647;
            }
            if (blockchain == 'mint') {
                return 29227;
            }
            if (blockchain == 'mmx') {
                return 11330;
            }
            if (blockchain == 'moon') {
                return 26882;
            }
            if (blockchain == 'nchain') {
                return 38447;
            }
            if (blockchain == 'one') {
                return 11113;
            }
            if (blockchain == 'petroleum') {
                return 33347;
            }
            if (blockchain == 'pipscoin') {
                return 16339;
            }
            if (blockchain == 'profit') {
                return 48447;
            }
            if (blockchain == 'shibgreen') {
                return 18974;
            }
            if (blockchain == 'silicoin') {
                return 22447;
            }
            if (blockchain == 'staicoin') {
                return 1692;
            }
            if (blockchain == 'stor') {
                return 8337;
            }
            if (blockchain == 'tad') {
                return 4447;
            }
            if (blockchain == 'wheat') {
                return 21447;
            }
            alert("{{_('Unknown blockchain fork of selected:')}} " + blockchain);
        }

        function updateDockerCompose(errors) {
            var line_end = '\n';
            var os = getRadioButtonValue('os')
            var gpu_type = $('#gpu_type').val()
            var gpu_blockchain = $('#gpu_blockchain').val()
            cmd = "version: '3.7'" + line_end;
            cmd += "services:"  + line_end + line_end;

            var blockchains = document.getElementsByName('blockchains');
            var worker_port = 8928;
            var is_first_loop_pass = true;
            for(var i = 0; i < blockchains.length; ++i) {
                if (blockchains[i].checked) {
                    var blockchain = blockchains[i].value
                    if (!document.getElementById('mode-harvester').checked &&
                            document.getElementById('mode-plotter').checked &&
                            blockchain != "chia" && blockchain != "chives" && blockchain != "gigahorse" && blockchain != "mmx") {
                        continue;  // Don't add plotter-only containers for forks beyond Chia & Chives & MMX & Gigahorse
                    }
                    if (blockchain == "chia") {
                        cmd += "    machinaris:" + line_end;
                        cmd += "        image: ghcr.io/guydavis/machinaris:latest" + line_end;
                        cmd += "        container_name: machinaris" + line_end;
                    } else {
                        cmd += "    machinaris-" + blockchain + ":" + line_end;
                        cmd += "        image: ghcr.io/guydavis/machinaris-" + blockchain + ":latest" + line_end;
                        cmd += "        container_name: machinaris-" + blockchain + line_end;
                    }
                    if (document.getElementById("worker_hostname").value) {
                        cmd += '        hostname: ' + document.getElementById("worker_hostname").value + line_end;
                    }
                    else if (is_first_loop_pass) {
                        errors.push("{{_('Missing worker hostname.  Please provide a short name to identify your worker.')}}");
                    }
                    cmd += '        restart: always' + line_end;
                    cmd += '        volumes:' + line_end;
                    if (blockchain == "chia") {
                        cmd += '            - ~/.machinaris:/root/.chia' + line_end;
                    } else {
                        cmd += '            - ~/.machinaris-' + blockchain + ':/root/.chia' + line_end;
                    }
                    var cur_vols = $('#volumes').children().length
                    var plots_dir = []
                    var remote_windows_shares = [];
                    $('#volumes').children().each((index, element) => {
                        volume_host_path = document.getElementById("volume_host_path" + index).value;
                        volume_container_path = document.getElementById("volume_container_path" + index).value;
                        if (os == 'windows' && ($('#volume_location' + index).val() == 'remote')) {
                            remote_windows_shares.push(volume_host_path + ':' + volume_container_path);
                        } else {
                            if (is_first_loop_pass) { // Record error on first pass
                                if (volume_host_path.endsWith(':')) {
                                    errors.push("{{_('Invalid host path ending with colon. Try adding a slash to the end like this')}} " + volume_host_path + '/');
                                }
                                if (!volume_host_path) {
                                    errors.push("{{_('Empty host path provided for volume at ')}}" + volume_container_path + "'. {{_('Please provide a host path.')}}");
                                } else if (!volume_container_path) {
                                    errors.push("{{_('Empty container path provided for volume at ')}}" + volume_host_path + "'. {{_('Please provide a container path.')}}");
                                }
                            }
                            if ((blockchain == "chives") && ($('#volume_type' + index).val() == 'plots')) {
                                volume_host_path += '/chives'
                            }
                            if ((blockchain == "gigahorse") && ($('#volume_type' + index).val() == 'plots')) {
                                volume_host_path += '/gigahorse'
                            }
                            if ((blockchain == "mmx") && ($('#volume_type' + index).val() == 'plots')) {
                                volume_host_path += '/mmx'
                            }
                            cmd += '            - "' + volume_host_path + ':' + volume_container_path + '"' + line_end;
                            if ($('#volume_type' + index).val() == 'plots') {
                                plots_dir.push(volume_container_path)
                            }
                        }
                    });
                    cmd += '        environment:' + line_end;
                    cmd += '            - TZ=' + Intl.DateTimeFormat().resolvedOptions().timeZone + line_end;
                    var mode = ""
                    if (document.getElementById('mode-harvester').checked) {
                        mode = "harvester";
                        cmd += '            - farmer_address=' + document.getElementById("controller_host").value + line_end;
                        var farmer_port = lookup_farmer_port(blockchain);
                        cmd += '            - farmer_port=' + farmer_port + line_end;
                    }
                    if ((blockchain == "chia" || blockchain == "chives" || blockchain == "gigahorse" || blockchain == "mmx") && (document.getElementById('mode-plotter').checked)) {
                        if (mode) {
                            mode += ',plotter';
                        }
                        else {
                            mode = 'plotter';
                        }
                        if (document.getElementById("farmer_pk").value) {
                            cmd += '            - farmer_pk=' + document.getElementById("farmer_pk").value + line_end;
                        }
                        if (document.getElementById("pool_pk").value) {
                            cmd += '            - pool_pk=' + document.getElementById("pool_pk").value + line_end;
                        }
                        if (document.getElementById("pool_contract_address").value) {
                            cmd += '            - pool_contract_address=' + document.getElementById("pool_contract_address").value + line_end;
                        }
                    }
                    if (mode) { // harvester, plotter, or harvester+plotter
                        cmd += '            - mode=' + mode + line_end;
                        cmd += '            - controller_host=' + document.getElementById("controller_host").value + line_end;
                        cmd += '            - controller_api_port=' + document.getElementById("controller_api_port").value + line_end;
                    } else if (is_first_loop_pass) { // fullnode
                        errors.push("{{_('Neither Harvester or Plottter mode selected.  Please choose one or both.')}}");
                    }
                    if (document.getElementById("ip_addr").value) {
                        cmd += '            - worker_address=' + document.getElementById("ip_addr").value + line_end;
                    }
                    else if (is_first_loop_pass) {
                        errors.push("{{_('Missing worker IP address.  Please provide the IP the controller will connect to for commands.')}}");
                    }
                    var worker_port = lookup_worker_port(blockchain);
                    cmd += '            - worker_api_port=' + worker_port + line_end;
                    cmd += '            - plots_dir=' + plots_dir.join(':') + line_end;
                    cmd += '            - blockchains=' + blockchain + line_end;
                    var auto_plot = getRadioButtonValue('auto_plot');
                    if ((blockchain == "chia") && (auto_plot == "true")) {
                        cmd += '            - AUTO_PLOT=' + auto_plot + line_end;
                    }
                    if (remote_windows_shares.length > 0) {
                        cmd += '            - remote_shares=' + remote_windows_shares.join() + line_end;
                    }
                    // Add new environment variables above this section as it has both env vars and runtime and devices etc
                    if (blockchain == gpu_blockchain) {
                        if (gpu_type == 'nvidia') {
                            cmd += '            - OPENCL_GPU=nvidia' + line_end;
                            cmd += '            - NVIDIA_VISIBLE_DEVICES=all' + line_end;
                            cmd += '            - NVIDIA_DRIVER_CAPABILITIES=compute,utility' + line_end;
                            cmd += '        runtime: nvidia' + line_end;
                        }
                        else if (gpu_type == 'amd') {
                            if (gpu_blockchain == 'chia') {
                                errors.push("{{_('Currently Chia and Bladebit require a Nvidia GPU.  Other cards are not supported unfortunately.')}}");
                            }
                            else {
                                cmd += '            - OPENCL_GPU=amd' + line_end;
                                cmd += '            - ROC_ENABLE_PRE_VEGA=1' + line_end;
                                cmd += '        devices:' + line_end;
                                cmd += '            - "/dev/kfd:/dev/kfd"' + line_end;
                                cmd += '            - "/dev/dri/:/dev/dri/"' + line_end;
                            }
                        }
                        else if (gpu_type == 'intel') {
                            if (gpu_blockchain == 'chia') {
                                errors.push("{{_('Currently Chia and Bladebit require a Nvidia GPU.  Other cards are not supported unfortunately.')}}");
                            }
                            else if (gpu_blockchain == 'gigahorse') {
                                errors.push("{{_('Currently Gigahorse requires a Nvidia or AMD GPU.  Intel cards are not supported unfortunately.')}}");
                            }
                            else {
                                cmd += '            - OPENCL_GPU=intel' + line_end;
                                cmd += '        devices:' + line_end;
                                cmd += '            - "/dev/dri/:/dev/dri/"' + line_end;
                            }
                        }
                    }
                    cmd += '        ports:' + line_end;
                    if (blockchain == "chia") {
                        cmd += '            - 8926:8926' + line_end;
                    }
                    var worker_port = lookup_worker_port(blockchain);
                    cmd += '            - ' + worker_port + ':' + worker_port + line_end;
                    if (remote_windows_shares.length > 0) {
                        cmd += '        cap_add:' + line_end;
                        cmd += '            - SYS_ADMIN' + line_end;
                        cmd += '            - DAC_READ_SEARCH' + line_end;
                    }
                    cmd += line_end;
                    is_first_loop_pass = false;
                }
            }
            return cmd;
        }
        function valid_ip_addr(ipaddress) {
            if (/^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/.test(ipaddress)) {
                return (true)
            }
            return (false)
        }
        $(document).ready(function () {
            $('#plotting_keys_row').hide();
            //$('#farmer_address_row').hide()
            if (valid_ip_addr(location.hostname)) {
                $('#farmer_address').val(location.hostname)
                $('#controller_host').val(location.hostname)
            }
            updateDocker();
        });
    </script>
</head>

<body>
    <form>
        <div class="rounded-2">
            <h2>{{_('Machinaris Worker - Launch Config')}}</h2>
            <p>{{_('Complete the form below to run new harvesters/plotters on other computers across your network. Save the generated docker-compose.yml file to a folder named "machinaris", then execute "docker-compose up" from a shell.')}}</p>
            <div class="alert alert-warning" role="alert" id='errors'></div>
            <div class="row mb-3">
                <div class="col offset">
                    <label for="inputState" class="form-label">{{_('Operating System')}}</label>
                    <div class="row">
                        <div class="col">
                            <input class="form-check-input" type="radio" name="os" id="os-linux" value="linux" checked
                                onclick="updateVolumes(); updateDocker()">
                            <label class="form-check-label" for="os-linux">
                                {{_('Linux')}}
                            </label>
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="radio" name="os" id="os-macintosh" value="macintosh"
                                onclick="updateVolumes(); updateDocker()">
                            <label class="form-check-label" for="os-macintosh">
                                {{_('Macintosh')}}
                            </label>
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="radio" name="os" id="os-windows" value="windows"
                                onclick="updateVolumes(); updateDocker()">
                            <label class="form-check-label" for="os-windows">
                                {{_('Windows')}}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col offset">
                    <label for="inputState" class="form-label">{{_('Machinaris Mode')}}</label>
                    <div class="row">
                        <div class="col">
                            <input class="form-check-input" type="checkbox" checked name="mode" id="mode-harvester"
                                onclick="toggleFarmerAddressVisibility();updateDocker();">
                            <label class="form-check-label" for="mode-harvester">
                                {{_('Harvester')}}
                            </label>
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" name="mode" id="mode-plotter"
                                onclick="togglePlottingKeysVisibility();updateDocker();">
                            <label class="form-check-label" for="mode-plotter">
                                {{_('Plotter')}}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3" id="plotting_keys_row">
                <div class="col">
                    <label for="farmer_pk" class="form-label">{{_('Farmer Public Key')}}</label>
                    <input type="text" class="form-control" aria-label="farmer_pk" value="{{farmer_pk}}" id="farmer_pk"
                        onclick="updateDocker()">
                </div>
                <div class="col">
                    <label for="pool_pk" class="form-label">{{_('Pool Public Key')}}</label>
                    <input type="text" class="form-control" aria-label="pool_pk" value="{{pool_pk}}" id="pool_pk"
                        onkeyup="updateDocker()">
                </div>
                <div class="col">
                    <label for="pool_contract_address" class="form-label">{{_('Pool Contract Address')}}</label>
                    <input type="text" class="form-control" aria-label="pool_contract_address"
                        value="{{pool_contract_address}}" id="pool_contract_address" onkeyup="updateDocker()">
                </div>
                <div class="col offset">
                    <label for="inputState" class="form-label">{{_('Plot on Startup')}}</label>
                    <div class="row">
                        <div class="col">
                            <input class="form-check-input" type="radio" name="auto_plot" id="auto-plot-true"
                                onclick="updateDocker()" value="true">
                            <label class="form-check-label" for="auto-plot-true">
                                {{_('True')}}
                            </label>
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="radio" name="auto_plot" id="auto-plot-false" checked
                                onclick="updateDocker()" value="false">
                            <label class="form-check-label" for="auto-plot-false">
                                {{_('False')}}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3" id="controller_address_row">
                <div class="col offset">
                    <label for="controller_host" class="form-label">{{_('Controller IP Address')}}</label>
                    <input type="text" class="form-control" placeholder="" aria-label="controller_host"
                        id='controller_host' onkeyup="updateDocker()">
                </div>
                <div class="col">
                    <label for="controller_api_port" class="form-label">{{_('Controller API Port')}}</label>
                    <input type="text" class="form-control" value="8927" aria-label="controller_api_port"
                        id='controller_api_port' onkeyup="updateDocker()">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col offset">
                    <label for="worker_hostname" class="form-label">{{_('Worker Hostname')}}</label>
                    <input type="text" class="form-control" placeholder="myhostname" aria-label="worker_hostname"
                        id='worker_hostname' onkeyup="updateDocker()">
                </div>
                <div class="col">
                    <label for="ip_addr" class="form-label">{{_('Worker IP Address')}}</label>
                    <input type="text" class="form-control" placeholder="192.168.1.100" aria-label="ip_addr"
                        id='ip_addr' onkeyup="updateDocker()">
                </div>
            </div>
            <div class="row mb-3" id="blockchains_row">
                <div class="col offset">
                    <label for="inputState" class="form-label">{{_('Blockchains to Farm')}} <a href="https://alltheblocks.net" target="_blank"><i class="fs-4 bi-box-arrow-up-right text-white"></i></a></label>
                    <div class="row">
                        <div class="col">
                            <input class="form-check-input" type="checkbox" name="blockchains"
                                id="blockchain-achi" onclick="updateDocker()" value="achi">
                            <label class="form-check-label" for="blockchain-achi" onclick="updateDocker()">
                                Achi
                            </label>
                        </div>                        
                        <div class="col">
                            <input class="form-check-input" type="checkbox" name="blockchains"
                                id="blockchain-apple" onclick="updateDocker()" value="apple">
                            <label class="form-check-label" for="blockchain-apple" onclick="updateDocker()">
                                Apple
                            </label>
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" name="blockchains"
                                id="blockchain-ballcoin" onclick="updateDocker()" value="ballcoin">
                            <label class="form-check-label" for="blockchain-ballcoin" onclick="updateDocker()">
                                Ballcoin
                            </label>
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" name="blockchains"
                                id="blockchain-btcgreen" onclick="updateDocker()" value="btcgreen">
                            <label class="form-check-label" for="blockchain-btcgreen" onclick="updateDocker()">
                                BTCGreen
                            </label>
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" name="blockchains"
                                id="blockchain-cactus" onclick="updateDocker()" value="cactus">
                            <label class="form-check-label" for="blockchain-cactus" onclick="updateDocker()">
                                Cactus
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input class="form-check-input" type="checkbox" checked name="blockchains"
                                id="blockchain-chia" onclick="updateDocker()" value="chia">
                            <label class="form-check-label" for="blockchain-chia" onclick="updateDocker()">
                                Chia
                            </label>
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" name="blockchains"
                                id="blockchain-chinilla" onclick="updateDocker()" value="chinilla">
                            <label class="form-check-label" for="blockchain-chinilla" onclick="updateDocker()">
                                Chinilla
                            </label>
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" name="blockchains"
                                id="blockchain-chives" onclick="updateDocker()" value="chives">
                            <label class="form-check-label" for="blockchain-chives">
                                Chives
                            </label>
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" name="blockchains"
                                id="blockchain-coffee" onclick="updateDocker()" value="coffee">
                            <label class="form-check-label" for="blockchain-coffee">
                                Coffee
                            </label>
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" name="blockchains"
                                id="blockchain-cryptodoge" onclick="updateDocker()" value="cryptodoge">
                            <label class="form-check-label" for="blockchain-cryptodoge">
                                Cryptodoge
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input class="form-check-input" type="checkbox" name="blockchains"
                                id="blockchain-ecostake" onclick="updateDocker()" value="ecostake">
                            <label class="form-check-label" for="blockchain-ecostake">
                                Ecostake
                            </label>
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" name="blockchains"
                                id="blockchain-flax" onclick="updateDocker()" value="flax">
                            <label class="form-check-label" for="blockchain-flax">
                                Flax
                            </label>
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" name="blockchains"
                                id="blockchain-flora" onclick="updateDocker()" value="flora">
                            <label class="form-check-label" for="blockchain-flora">
                                Flora
                            </label>
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" name="blockchains"
                                id="blockchain-gigahorse" onclick="updateDocker()" value="gigahorse">
                            <label class="form-check-label" for="blockchain-gigahorse">
                                Gigahorse
                            </label>
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" name="blockchains"
                                id="blockchain-gold" onclick="updateDocker()" value="gold">
                            <label class="form-check-label" for="blockchain-gold">
                                Gold
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input class="form-check-input" type="checkbox" name="blockchains"
                                id="blockchain-greenbtc" onclick="updateDocker()" value="greenbtc">
                            <label class="form-check-label" for="blockchain-greenbtc">
                                GreenBTC
                            </label>
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" name="blockchains"
                                id="blockchain-hddcoin" onclick="updateDocker()" value="hddcoin">
                            <label class="form-check-label" for="blockchain-hddcoin">
                                HDDCoin
                            </label>
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" name="blockchains"
                                id="blockchain-littlelambocoin" onclick="updateDocker()" value="littlelambocoin">
                            <label class="form-check-label" for="blockchain-littlelambocoin">
                                LittleLamboCoin
                            </label>
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" name="blockchains"
                                id="blockchain-maize" onclick="updateDocker()" value="maize">
                            <label class="form-check-label" for="blockchain-maize">
                                Maize
                            </label>
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" name="blockchains"
                                id="blockchain-mint" onclick="updateDocker()" value="mint">
                            <label class="form-check-label" for="blockchain-mint">
                                Mint
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input class="form-check-input" type="checkbox" name="blockchains"
                                id="blockchain-mmx" onclick="updateDocker()" value="mmx">
                            <label class="form-check-label" for="blockchain-mmx">
                                MMX
                            </label>
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" name="blockchains"
                                id="blockchain-moon" onclick="updateDocker()" value="moon">
                            <label class="form-check-label" for="blockchain-moon">
                                Moon
                            </label>
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" name="blockchains"
                                id="blockchain-one" onclick="updateDocker()" value="one">
                            <label class="form-check-label" for="blockchain-one">
                                One
                            </label>
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" name="blockchains"
                                id="blockchain-petroleum" onclick="updateDocker()" value="petroleum">
                            <label class="form-check-label" for="blockchain-petroleum">
                                Petroleum
                            </label>
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" name="blockchains"
                                id="blockchain-pipscoin" onclick="updateDocker()" value="pipscoin">
                            <label class="form-check-label" for="blockchain-pipscoin">
                                Pipscoin
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input class="form-check-input" type="checkbox" name="blockchains"
                                id="blockchain-profit" onclick="updateDocker()" value="profit">
                            <label class="form-check-label" for="blockchain-profit">
                                Profit
                            </label>
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" name="blockchains"
                                id="blockchain-shibgreen" onclick="updateDocker()" value="shibgreen">
                            <label class="form-check-label" for="blockchain-shibgreen">
                                SHIBGreen
                            </label>
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" name="blockchains"
                                id="blockchain-staicoin" onclick="updateDocker()" value="staicoin">
                            <label class="form-check-label" for="blockchain-staicoin">
                                Staicoin
                            </label>
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" name="blockchains"
                                id="blockchain-tad" onclick="updateDocker()" value="tad">
                            <label class="form-check-label" for="blockchain-tad">
                                Tad
                            </label>
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" name="blockchains"
                                id="blockchain-wheat" onclick="updateDocker()" value="wheat">
                            <label class="form-check-label" for="blockchain-wheat">
                                Wheat
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <h4>{{_('Volume Mounts')}}</h4>
            <div class="row mb-3" id="volumes">
                <div class="row mb-3 volume">
                    <div class="col-md">
                        <label for="volume_host_path0" class="form-label">{{_('Host Path')}}</label>
                        <input type="text" class="form-control" placeholder="/mnt/disk1" onkeyup="updateDocker()"
                            name="volume_host_path" id="volume_host_path0" aria-label="volume_host_path0">
                    </div>
                    <div class="col-sm">
                        <label for="volume_container_path0" class="form-label">{{_('Container Path')}}</label>
                        <input type="text" class="form-control" value="/plots1" aria-label="volume_container_path0"
                            name="volume_container_path" id="volume_container_path0" onkeyup="updateDocker()">
                    </div>
                    <div class="col-auto">
                        <label for="volume_type0" class="form-label">{{_('Used for:')}}</label>
                        <select class="form-select" id="volume_type0" name="volume_type" aria-label="volume_type0"
                            onchange="updateDocker()">
                            <option value="plots" selected>{{_('Final Plots')}}</option>
                            <option value="plotting">{{_('Plotting Temp')}}</option>
                            <option value="other">{{_('Other')}}</option>
                        </select>
                    </div>
                    <div class="col-auto volume_location" style="display:none">
                        <label for="volume_location0" class="form-label">{{_('Location')}}</label>
                        <select class="form-select" id="volume_location0" name="volume_location" aria-label="volume_location0"
                            onchange="updateDocker()">
                            <option value="local" selected>{{_('Local')}}</option>
                            <option value="remote">{{_('Remote')}}</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-3 volume">
                    <div class="col-md">
                        <label for="volume_host_path1" class="form-label">{{_('Host Path')}}</label>
                        <input type="text" class="form-control" placeholder="/mnt/temp1" onkeyup="updateDocker()"
                            name="volume_host_path" id="volume_host_path1" aria-label="volume_host_path1">
                    </div>
                    <div class="col-sm">
                        <label for="volume_container_path1" class="form-label">{{_('Container Path')}}</label>
                        <input type="text" class="form-control" value="/plotting" aria-label="volume_container_path1"
                            name="volume_container_path" id="volume_container_path1" onkeyup="updateDocker()">
                    </div>
                    <div class="col-auto">
                        <label for="volume_type1" class="form-label">{{_('Used for:')}}</label>
                        <select class="form-select" id="volume_type1" name="volume_type" aria-label="volume_type1"
                            onchange="updateDocker()">
                            <option value="plots">{{_('Final Plots')}}</option>
                            <option value="plotting" selected>{{_('Plotting Temp')}}</option>
                            <option value="other">{{_('Other')}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                </div>
                <div class="col-auto">
                    <a href="#volumes" onclick="volumeAdd();" title="{{_('Add New Volume')}}"><i
                            class="fs-4 bi-plus text-white text-right"></i></a><a href="#volumes"
                        onclick="volumeRemove();" title="{{_('Remove Last Volume')}}"><i
                            class="fs-4 bi-dash text-white text-right"></i></a>
                </div>
            </div>
            <div class="row mb-3" id="gpus_row">
                <div class="col offset">
                    <h4>{{_('Graphics Devices')}} <a href="https://github.com/guydavis/machinaris/wiki/GPUs" target="_blank"><i class="fs-4 bi-question-circle text-white"></i></a></h4>
                    <p>{{_('Optionally, if your system has an available and supported GPU, you can pass it thru to the blockchain\'s Docker container. Only Chia, Gigahorse, and MMX blockchains support certain GPUs.')}}</p>
                    <div class="row">
                        <div class="col">
                            <label for="gpu_type" class="form-label">{{_('GPU Type')}}:</label>
                            <select class="form-select" id="gpu_type" name="gpu_type" aria-label="gpu_type" onchange="updateDocker()">
                                <option value="none" selected>{{_('None')}}</option>
                                <option value="nvidia">{{_('Nvidia')}}</option>
                                <option value="amd">{{_('AMD')}}</option>
                                <option value="intel">{{_('Intel')}}</option>
                            </select>
                        </div>
                        <div class="col">
                            <label for="gpu_blockchain" class="form-label">{{_('Blockchain')}}:</label>
                            <select class="form-select" id="gpu_blockchain" name="gpu_blockchain" aria-label="gpu_blockchain" onchange="updateDocker()">
                                <option value="none" selected>{{_('None')}}</option>
                                <option value="chia">{{_('Chia')}}</option>
                                <option value="gigahorse">{{_('Gigahorse')}}</option>
                                <option value="mmx">{{_('MMX')}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="rounded-3 small" id="docker_compose">
        <a style="float:right;" href="#" title="{{_('Copy')}}"
            onclick="copyTextToClipboard(document.getElementById('compose').innerHTML); return false">
            <i class="fs-4 bi-clipboard text-white"></i>
        </a>
        <h2>{{_('Docker Compose')}}</h2>
        <pre id="compose"></pre>
        <br/>
    </div>

    <script src="{{ url_for('static', filename='3rd_party/bootstrap.bundle.min.js') }}"></script>
    <script>
        function copyTextToClipboard(text) {
            console.log(text)
            var textArea = document.createElement("textarea");

            //
            // *** This styling is an extra step which is likely not required. ***
            //
            // Why is it here? To ensure:
            // 1. the element is able to have focus and selection.
            // 2. if the element was to flash render it has minimal visual impact.
            // 3. less flakyness with selection and copying which **might** occur if
            //    the textarea element is not visible.
            //
            // The likelihood is the element won't even render, not even a
            // flash, so some of these are just precautions. However in
            // Internet Explorer the element is visible whilst the popup
            // box asking the user for permission for the web page to
            // copy to the clipboard.
            //

            // Place in the top-left corner of screen regardless of scroll position.
            textArea.style.position = 'fixed';
            textArea.style.top = 0;
            textArea.style.left = 0;

            // Ensure it has a small width and height. Setting to 1px / 1em
            // doesn't work as this gives a negative w/h on some browsers.
            textArea.style.width = '2em';
            textArea.style.height = '2em';

            // We don't need padding, reducing the size if it does flash render.
            textArea.style.padding = 0;

            // Clean up any borders.
            textArea.style.border = 'none';
            textArea.style.outline = 'none';
            textArea.style.boxShadow = 'none';

            // Avoid flash of the white box if rendered for any reason.
            textArea.style.background = 'transparent';


            textArea.value = text;

            document.body.appendChild(textArea);
            textArea.focus();
            textArea.select();

            try {
                var successful = document.execCommand('copy');
                var msg = successful ? 'successful' : 'unsuccessful';
                console.log('Copying text command was ' + msg);
            } catch (err) {
                console.log('Oops, unable to copy');
            }

            document.body.removeChild(textArea);
        }
    </script>
</body>

</html>
