{% extends "base.html" %}

{% block content %}

<div class="position-relative">
  <div class="position-absolute top-0 end-0">
      <a href="https://github.com/guydavis/machinaris/wiki/Workers" target="_blank">
          <i class="fs-4 bi-question-circle"></i>
      </a>
  </div>
</div>

<header class="pb-3 mb-4 border-bottom">
  <span class="fs-4">{{_('Workers')}}</span>
</header>

<div>
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category, message in messages %}
  {% if category == 'message' %}
  <div class="alert alert-warning" role="alert">
    {% else %}
    <div class="alert alert-{{ category }}" role="alert">
      {% endif %}
      {{ message|safe }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
  </div>

  {% if workers.workers|length > 0 %}
  <form method="POST" id="workers-form" style="padding-bottom: 10px;">
    <fieldset>
      <table id="data" class="table table-dark">
        <thead>
          <tr>
            <th scope="col" class="text-success text-center">
              <input type="checkbox" name="unique_id_master" onclick="checkPage(this)"/>
            </th>
            <th scope="col" class="text-success">{{_('Hostname')}}</th>
            <th scope="col" class="text-success">{{_('Blockchain')}}</th>
            <th scope="col" class="text-success">{{_('Mode')}}</th>
            <th scope="col" class="text-success">{{_('Last Status Received')}}</th>
            <th scope="col" class="text-success">{{_('Last Ping')}}</th>
            <th scope="col" class="text-success">{{_('Last Successful Ping')}}</th>
            <th scope="col" class="text-success">{{_('Version')}}</th>
            <th scope="col" class="text-success">{{_('Logs')}}</th>
          </tr>
        </thead>
        <tbody>
          {% for worker in workers.workers %}
          <tr>
            <td class="text-center"><input type="checkbox" name="worker" value="{{ worker.hostname }}|{{ worker.blockchain }}" />
              <td><a class="text-white" href="{{ url_for('worker_route') }}?hostname={{worker.hostname}}&blockchain={{ worker.blockchain }}" data-toggle="tooltip" data-bs-placement="top" data-bs-html="true" 
                title="{{worker.hostname}}:{{worker.port}}">{{worker.displayname}}</a></td>
            <td>{{worker.blockchain}}</td>
            <td>{{worker.mode}}</td>
            <td data-toggle="tooltip" data-bs-placement="left" data-bs-html="true" 
              title="Time on Worker:<br/> {{worker.time_on_worker}}">{{worker.updated_at | datetimefilter}}</td>
            <td>
              {% if worker.latest_ping_result == 'Responding' %}
                <i class="bi-check-circle text-success"></i> {{_('Responding')}}
              {% elif worker.connection_status() == 'Connection Refused' %}
                <i class="bi-dash-circle text-danger"></i> {{_('Connection Refused')}}
              {% elif worker.connection_status() == 'Connection Timeout' %}
                <i class="bi-dash-circle text-danger"></i> {{_('Connection Timeout')}}
              {% elif worker.connection_status() == 'Connection Error' %}
                <i class="bi-dash-circle text-danger"></i> {{_('Connection Error')}}
              % elif worker.connection_status() == 'offline' %}
                <i class="bi-dash-circle text-danger"></i> {{_('Offline')}}
              {% else %}
                <i class="bi-exclamation-triangle text-warning" title="{{ worker.connection_status }}"></i>
                {{_(worker.latest_ping_result)}}
              {% endif %}
            </td>
            <td>{{worker.ping_success_at | datetimefilter}}</td>
            <td><a data-toggle="tooltip" data-bs-placement="left" data-bs-html="true" 
                title="{{worker.versions.components}}">{{worker.versions.machinaris}}</a></td>
            <td style="padding:0px">
              <a href="#" title="View Server Log" onclick='MachinarisLog("apisrv","{{ worker.hostname }}","{{ worker.blockchain }}");return false;'><i class="fs-4 bi-text-indent-left"></i></a>
              {% if worker.mode == "fullnode" and worker.blockchain == "chia" %}
              <a href="#" title="View Web Log" onclick='MachinarisLog("webui","{{ worker.hostname }}","{{ worker.blockchain }}");return false;'><i class="fs-4 bi-laptop"></i></a>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <fieldset>
            <button form="workers-form" type="submit" name="action" value="prune" class="btn btn-outline-success"
              id="btnPrune" title="Only deletes status of selected worker(s).">{{_('Prune Selected')}}</button>
            <button type="button" class="btn btn-outline-success"
              onclick="WorkerLaunch(); return false">{{_('New Worker')}}</button>
      </fieldset>
  </form>

  {% else %}

  {% autoescape false %}
  <div class="text-center" style="padding-top:100 px; padding-bottom: 0px">
    <h6>{{_('No Machinaris workers have reported status successfully.')}}</h6>
    <h6>{{_('Please check each expected worker\'s log files.')}}</h6>
    <h6>{{_('For more, see the Machinaris %(wiki_link_open)swiki%(wiki_link_close)s.', 
        wiki_link_open='<a href="https://github.com/guydavis/machinaris/wiki/Workers" target="_blank">',
        wiki_link_close='</a>')}}
    </h6>
  </div>
  {% endautoescape %}
  <br />
  <br />
  {% endif %}


  {% endblock %}

  {% block scripts %}
  <script>
    function WorkerLaunch(hostname) {
        var d = new Date();
        var height = 600;
        var width = 900;
        var top = (screen.height - height) / 2;
        var left = (screen.width - width) / 2;
        window.open("{{ url_for('worker_launch') }}", 'Worker Launch Config', 'resizeable=yes,scrollbars=yes,height=' + height + ',width=' + width + ',top=' + top + ',left=' + left).focus();
    }
    function MachinarisLog(type, hostname, blockchain) {
        var d = new Date();
        var height = 600;
        var width = 900;
        var top = (screen.height - height) / 2;
        var left = (screen.width - width) / 2;
        window.open("{{ url_for('logs') }}?log=" + type + "&hostname=" + hostname + "&blockchain=" + blockchain, 'Machinaris ' + type + '.log on ' + hostname, 'resizeable=yes,scrollbars=yes,height=' + height + ',width=' + width + ',top=' + top + ',left=' + left).focus();
    }
    $(document).ready(function () {
      $('#data').DataTable({
          "pageLength": 25,
          "lengthMenu": [ [25, 50, 100, 200, -1], [25, 50, 100, 200, "All"] ],
          "order": [[1, "asc"]],
          "columnDefs": [{ "orderable": false, targets: [0,8] }],
          {% if lang != 'en' %}
          "language": {
              "url": "{{ url_for('static', filename='3rd_party/i18n/datatables.'+lang+'.json') }}"
          },
          {% endif %}
      });
      $("#btnPrune").click(function () {
        $(this).prop("disabled", true);
        $(this).html(
          `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Pruning...`
        );
        $('#workers-form').append('<input type="hidden" id="action" name="action" value="prune" />');
        $("#workers-form").submit();
      });
      $('[data-toggle="tooltip"]').tooltip();
    })
    function checkPage(bx) {
      for (var tbls = document.getElementsByTagName("table"), i = tbls.length; i--;)
        for (var bxs = tbls[i].getElementsByTagName("input"), j = bxs.length; j--;)
          if (bxs[j].type == "checkbox")
            bxs[j].checked = bx.checked;
    }
  </script>
  {% endblock %}