{% extends "base.html" %}

{% block content %}

<div class="position-relative">
  <div class="position-absolute top-0 end-0">
      <a href="https://github.com/guydavis/machinaris/wiki/Workers" target="_blank">
          <i class="fs-4 bi-question-circle"></i>
      </a>
  </div>
</div>

<header class="pb-3 mb-4 border-bottom">
  <span class="fs-4">Machinaris - Workers</span>
</header>

<div>
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category, message in messages %}
  {% if category == 'message' %}
  <div class="alert alert-warning" role="alert">
    {% else %}
    <div class="alert alert-{{ category }}" role="alert">
      {% endif %}
      {{ message|safe }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
  </div>

  {% if workers.workers|length > 0 %}
  <form method="POST" id="workers-form" style="padding-bottom: 10px;">
    <fieldset>
      <table id="data" class="table table-dark">
        <thead>
          <tr>
            <th scope="col" class="text-success"></th>
            <th scope="col" class="text-success">Hostname</th>
            <th scope="col" class="text-success">System Type</th>
            <th scope="col" class="text-success">Last Status Received At</th>
            <th scope="col" class="text-success">Last Ping to Worker</th>
            <th scope="col" class="text-success">Last Successful Ping to Worker</th>
            <th scope="col" class="text-success">Version</th>
          </tr>
        </thead>
        <tbody>
          {% for worker in workers.workers %}
          <tr>
            <td class="text-center"><input type="checkbox" name="hostname" value="{{ worker.hostname }}" />
            {% if worker.hostname == worker.displayname %}
              <td><a class="text-white" href="{{ url_for('worker_route') }}?hostname={{worker.hostname}}">{{worker.displayname}}</a></td>
            {% else %} 
              <td><a class="text-white" href="{{ url_for('worker_route') }}?hostname={{worker.hostname}}" data-toggle="tooltip" data-bs-placement="top" data-bs-html="true" 
                title="Pinged at: {{worker.hostname}}">{{worker.displayname}}</a></td>
            {% endif %}
            <td>{{worker.mode}}</td>
            <td data-toggle="tooltip" data-bs-placement="left" data-bs-html="true" 
              title="Time on Worker:<br/> {{worker.time_on_worker}}">{{worker.updated_at | datetimefilter}}</td>
            <td>{{worker.latest_ping_result}}</td>
            <td>{{worker.ping_success_at | datetimefilter}}</td>
            <td><a data-toggle="tooltip" data-bs-placement="left" data-bs-html="true" 
                title="{{worker.versions.components}}">{{worker.versions.machinaris}}</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <fieldset>
            <button form="workers-form" type="submit" name="action" value="prune" class="btn btn-outline-success"
              id="btnPrune" title="Only deletes status of selected worker(s).">Prune Selected</button>
            <button type="button" class="btn btn-outline-success"
              onclick="WorkerLaunch(); return false">New Worker</button>
      </fieldset>
  </form>

  {% else %}

  <div class="text-center" style="padding-top:100 px; padding-bottom: 0px">
    <h6>No Machinaris workers have reported status successfully.</h6>
    <h6>Please check each expected worker's log files.</h6>
    <h6>For more, see the Machinaris <a href="https://github.com/guydavis/machinaris/wiki/Workers"
        target="_blank">wiki.</a></h6>
  </div>
  <br />
  <br />
  {% endif %}


  {% endblock %}

  {% block scripts %}
  <script>
    function WorkerLaunch(hostname) {
        var d = new Date();
        var height = 600;
        var width = 900;
        var top = (screen.height - height) / 2;
        var left = (screen.width - width) / 2;
        window.open("{{ url_for('worker_launch') }}", 'Worker Launch Config', 'resizeable=yes,scrollbars=yes,height=' + height + ',width=' + width + ',top=' + top + ',left=' + left).focus();
    }
    $(document).ready(function () {
      $('#data').DataTable();
      $("#btnPrune").click(function () {
        $(this).prop("disabled", true);
        $(this).html(
          `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Pruning...`
        );
        $('#workers-form').append('<input type="hidden" id="action" name="action" value="prune" />');
        $("#workers-form").submit();
      });
      $('[data-toggle="tooltip"]').tooltip();
    })
  </script>
  {% endblock %}