<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">Farmer</th>
        <th scope="col">Challenge</th>
        <th scope="col">Plots Passed Filter</th>
        <th scope="col">Proofs Found</th>
        <th scope="col">Time Taken</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
      {% for challenge in challenges.rows %}
      <tr>
        <td>{{challenge.hostname}}</td>
        <td>{{challenge.challenge_id}}</td>
        <td>{{challenge.plots_past_filter}}</td>
        <td>{{challenge.proofs_found}}</td>
        <td>{{challenge.time_taken}}</td>
        <td>{{challenge.created_at}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>