{% extends "base.html" %}

{% block content %}

<div class="position-relative">
    <div class="position-absolute top-0 end-0" style="z-index: 2000;">
        <a href="https://github.com/guydavis/machinaris/wiki/Chia" target="_blank">
            <i class="fs-4 bi-question-circle"></i>
        </a>
    </div>
</div>


<header class="pb-3 mb-4 border-bottom">
    <span class="fs-4">{{_('Farming')}} - config.yaml </span>
</header>

<div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    {% if category == 'message' %}
    <div class="alert alert-warning" role="alert">
        {% else %}
        <div class="alert alert-{{ category }}" role="alert">
            {% endif %}
            {{ message|safe }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    <div class="alert alert-warning" style="display:none" role="alert" id='errors'></div>
    <form method="POST" id="settings-form">
        <fieldset>
            <div class="row mb-3">
                <label for="worker" class="col-sm-1 col-form-label-lg text-end p-1">{{_('Worker')}}</label>
                <div class="col-sm-3">
                    <select id="worker" name="worker" class="form-select" onchange="update_blockchain_options(this.value);">
                        {% for host in workers() %}
                        <option {% if host.hostname==selected_worker %}selected{% endif %}
                            value="{{ host.hostname }}">{{ host.displayname }}</option>
                        {% endfor %}
                    </select>
                </div>
                <label for="blockchain" class="col-sm-1 col-form-label-lg text-end p-1">{{_('Blockchain')}}</label>
                <div class="col-sm-3">
                    <select id="blockchain" name="blockchain" class="form-select">
                    </select>
                </div>
                <div class="col-sm-3">
                    <div id="loading_div" class="text-center">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-3" id="texteditor">
                <textarea style="background: #D3D3D3; font-family: monospace; font-size: 80%;" class="form-control" id="config" name="config" rows="35"
                    style="height:100%;"></textarea>
            </div>
            <button type="submit" class="btn btn-outline-success"
            id="btnSave">{{_('Save')}}</button>
            <button type="button" class="btn btn-outline-success"
            id="btnDownload">{{_('Download')}}</button>
    </fieldset>
    </form>

    {% endblock %}

    {% block scripts %}
    <script>
        $(document).ready(function () {
            function load_config(worker, blockchain) {
                $('#loading_div').show();
                $("#config").prop('disabled', true);
                $("#btnSave").prop('disabled', true);
                $("#btnDownload").prop('disabled', true);
                $.ajax({
                    type: "GET",
                    url: "{{ url_for('views_settings_config') }}?type=farming&worker=" + worker + "&blockchain=" + blockchain,
                })
                    .done(function (data) {
                        var target_addresses = new Set();
                        var reg = /_target_address\:\s?\w+/g;
                        var matches = data.match(reg);
                        if (matches) {
                            for (match of matches){
                                target_addresses.add(match.split(':')[1].trim())
                            }
                        }
                        warn_if_target_address_is_unknown(blockchain, target_addresses);
                        $("#config").val(data)
                        $('#loading_div').hide();
                        $("#config").prop('disabled', false);
                        $("#btnSave").prop('disabled', false);
                        $("#btnDownload").prop('disabled', false);
                    }).fail(function (jqXHR, textStatus, errorThrown) {
                        $('#loading_div').hide();
                        console.log(jqXHR, textStatus, errorThrown);
                        alert("Failed to retrieve configuration in a timely fashion.  Please check server load and refresh this page.");
                    });
            }
            update_blockchain_options("{{selected_worker}}");
            //Call the function when #input is clicked
            $(document).on("change", "#worker", function (e) {
                load_config($("#worker").val(), $("#blockchain").val())
                update_blockchain_options($("#worker").val());
            });
            $(document).on("change", "#blockchain", function (e) {
                load_config($("#worker").val(), $("#blockchain").val())
            });
            //Call the function when the page loads
            load_config("{{selected_worker}}", "{{selected_blockchain}}");
        });
        function warn_if_target_address_is_unknown(blockchain, target_addresses) {
            const hot_addresses = new Map(); {% 
        for hot_address_blockchain in hot_addresses.keys() %}
            hot_addresses.set('{{hot_address_blockchain}}', '{{','.join(hot_addresses[hot_address_blockchain])}}'); {%
         endfor %}
            const cold_addresses = new Map(); {% 
        for cold_address_blockchain in cold_addresses.keys() %}
            cold_addresses.set('{{cold_address_blockchain}}', '{{','.join(cold_addresses[cold_address_blockchain])}}'); {% 
        endfor %}
            var unknown_target_addresses = [];
            for (target_address of target_addresses) {
                if (!hot_addresses.has(blockchain) || hot_addresses.get(blockchain).includes(target_address)) {
                    continue;
                }
                if (!cold_addresses.has(blockchain) || cold_addresses.get(blockchain).includes(target_address)) {
                    continue;
                }
                unknown_target_addresses.push(target_address);
            }
            if (unknown_target_addresses.length) {
                var msg = "{{_('Config file contains target_address that is neither in your hot wallet (keys), nor in your configured cold wallet addresses.')}}";
                msg += ' <ul>';
                for (unknown_target_address of unknown_target_addresses) {
                    msg += "<li>" + unknown_target_address + "</li>";
                }
                msg += '</ul>';
                msg += "{{_('Your hot wallet key(s):')}}" + ' ' + hot_addresses.get(blockchain) + "<br/>";
                msg += "{{_('Your cold wallet key(s):')}}" + ' ' + cold_addresses.get(blockchain) + "<br/>";
                msg += "{{_('Please check your hot wallet addresses on the Keys page, and your cold wallet addresses on the Wallets page.')}}";
                $('#errors').html(msg);
                $('#errors').show();
            }
            else {
                $('#errors').hide();
            }
        }
        function update_blockchain_options(hostname) {
            var hostsMap = {};
            {% for worker in workers() %}
            hostsMap["{{worker.hostname}}"] = [
                {% for container in worker.workers %} 
                    "{{ container.blockchain }}",
                {% endfor %}
            ];
            {% endfor %}

            var $el = $("#blockchain");
            $el.empty(); // remove old options
            for (i in hostsMap[hostname]) {
                var option = $("<option></option>").attr("value", hostsMap[hostname][i]);
                if (hostsMap[hostname][i] == "{{ selected_blockchain }}") {
                    option.attr("selected", "selected")
                }
                option.text(hostsMap[hostname][i]);
                $el.append(option);
            };
        }
        $("#btnSave").click(function () {
            $(this).prop("disabled", true);
            $(this).html(
                `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> {{_('Saving...')}}`
            );
            $("#settings-form").submit();
        });
        $("#btnDownload").click(function () {
            worker = $("#worker").val()
            blockchain = $("#blockchain").val()
            window.location.href = '/settings/config/' + worker + '_' + blockchain + 'dog_config.yaml?type=alerts&worker=' + worker + "&blockchain=" + blockchain
        });
    </script>
    {% endblock %}