{% extends "base.html" %}

{% block content %}

<style>
    pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
</style>
<div class="position-relative">
    <div class="position-absolute top-0 end-0">
        <a href="https://github.com/guydavis/machinaris/wiki/Pooling" target="_blank">
            <i class="fs-4 bi-question-circle"></i>
        </a>
    </div>
</div>

<header class="pb-3 mb-4 border-bottom">
    <span class="fs-4">Pools - chia plotnft</span>
</header>

<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog bg-dark rounded-3">
        <div class="modal-content bg-dark">
            <div class="modal-header bg-dark">
                <h5 class="modal-title" id="confirmModalLabel">Confirm Pool Change</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body bg-dark">
                This action will switch your current pooling selection, possibly resulting in a small charge (mojos of
                XCH) against your wallet. Continue anyway?
            </div>
            <div class="modal-footer bg-dark">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal"
                    id="btnConfirmSave">Save</button>
            </div>
        </div>
    </div>
</div>

<div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    {% if category == 'message' %}
    <div class="alert alert-warning" role="alert">
        {% else %}
        <div class="alert alert-{{ category }}" role="alert">
            {% endif %}
            {{ message|safe }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

    <form method="POST" id="pooling-form">
        <div class="p-1 mb-4 bg-light border rounded-3">
            <div class="container">
                <h3>Chia Pooling</h3>
                <br />
                <p>Join a pool and get consistent XCH farming rewards. The average returns are the same,<br />
                    but it is much less volatile. You can easily switch pools without having to re-plot.</p>
                <br />
                <div class="row  g-3">
                    <div class="col-12">
                        <input class="form-check-input" type="radio" name="choice" id="self_pool" value="self" 
                        {% if not current_pool_url %} checked {% endif %}>
                        <label class="form-check-label" for="self_pool">
                            Self pool. When you win a block, you will earn XCH rewards.
                        </label>
                    </div>
                </div>
                <div class="row mt-1 g-3">
                    <div class="col-lg-2 d-flex align-items-center">
                        <input class="form-check-input" type="radio" name="choice" id="join_pool" value="join"
                        {% if current_pool_url %} checked {% endif %}>
                        &nbsp;
                        <label class="form-check-label" for="join_pool">
                        {% if current_pool_url %} Connected to pool: {% else %} Connect to pool: {% endif %} 
                        </label>
                    </div>
                    <div class="col-lg-3">
                        <input class="form-control" id="pool_url" name="pool_url" type="text"
                            placeholder="https://myfave.pool.org" 
                            {% if current_pool_url %} value="{{ current_pool_url }}" {% endif %}>
                    </div>
                    <div class="col-lg-1"></div>
                    <div class="col-auto d-flex align-items-center">
                        <a href="https://chiapool.directory/" target='_blank' class="text-white">Compare Pools</a>
                        &nbsp;|&nbsp;
                        <a href="https://faucet.chia.net/" target="_blank" class="text-white">Get Mojos</a>
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col-sm">
                        <br />
                        <br />
                        <button type="button" data-bs-toggle="modal" data-bs-target="#confirmModal"
                            class="btn btn-outline-success" id="btnSave">Save</button>
                    </div>
                </div>
            </div>
            <br />
        </div>
    </form>

    <div class="p-1 mb-4 bg-light border rounded-3">
        {% if plotnfts.rows|length > 0 %}
        {% for plotnft in plotnfts.rows %}
        <div class="container-fluid">
            <span style="float:right">Updated at: {{plotnft.updated_at|datetimefilter}}</span>
            <h3>{{plotnft.displayname}} - {{plotnft.blockchain}}</h3>
            <pre>{{plotnft.details}}</pre>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="text-center" style="padding-top:50 px; padding-bottom: 50px">
        <h6>No plotnft info yet. Please refresh in a few minutes.</h6>
        <h6>Try running 'chia plotnft show' to verify.</h6>
    </div>
    {% endif %}

    {% if plotnft_log %}
    <div class="p-1 mb-4 bg-light border rounded-3">
        <div class="container-fluid">
            <h3>chia plotnft - log output</h3>
            <pre>{{plotnft_log}}</pre>
        </div>
    </div>
    {% endif %}

    {% endblock %}

    {% block scripts %}
    <script>
        $(document).ready(function () {
            $("#btnConfirmSave").click(function () {
                $('#btnSave').prop("disabled", true);
                $('#btnSave').html(
                    `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Saving...`
                );
                $('#pooling-form').append('<input type="hidden" id="action" name="action" value="save" />');
                $("#pooling-form").submit();
            });
        })
    </script>
    {% endblock %}