{% extends "base.html" %}

{% block content %}

<style>
    pre {
        white-space: pre-wrap;       /* Since CSS 2.1 */
        white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
        white-space: -pre-wrap;      /* Opera 4-6 */
        white-space: -o-pre-wrap;    /* Opera 7 */
        word-wrap: break-word;       /* Internet Explorer 5.5+ */
    }  
    a.active.nav-link {
        background-color: #3d3f42 !important
    }

    button.active.nav-link {
        background-color: #3d3f42 !important
    }
</style>
<div class="position-relative">
    <div class="position-absolute top-0 end-0" style="z-index: 2000;">
        <a href="https://github.com/guydavis/machinaris/wiki/Pooling" target="_blank">
            <i class="fs-4 bi-question-circle"></i>
        </a>
    </div>
</div>
<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog bg-dark rounded-3">
        <div class="modal-content bg-dark">
            <div class="modal-header bg-dark">
                <h5 class="modal-title" id="confirmModalLabel">{{_('Confirm Pool Change')}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body bg-dark">
                {{_('This action will switch your current pooling selection, resulting in a small fee charged against your wallet by the blockchain.')}}
                <div class="row mb-3 pt-3">
                    <label class="col-sm-3 col-form-label col-form-label-sm" for="fee_mojos">{{_('Fee in Mojos: ')}}</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" value="10" aria-label="fee_mojos" name="fee_mojos" id="fee_mojos"/>
                    </div>
                </div>
             </div>
            <div class="modal-footer bg-dark">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{_('Cancel')}}</button>
                <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal"
                    id="btnConfirmSave">{{_('Save')}}</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="unconfirmedModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="unconfirmedModalLabel" aria-hidden="true">
    <div class="modal-dialog bg-dark rounded-3">
        <div class="modal-content bg-dark">
          <form method="POST" id="unconfirmed-form">
            <input type="hidden" id="walletid" name="walletid" />
            <input type="hidden" name="action" value="deleteUnconfirmed"/>
            <div class="modal-header bg-dark">
                <h5 class="modal-title" id="unconfirmedModalLabel">{{_('Delete Unconfirmed Transactions?')}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body bg-dark">
              {% autoescape false %}
              {{_('Chia sometimes requires %(wikilink_open)sunconfirmed transaction cleanup%(wikilink_close)s to successfully change pool settings. If you encounter such errors, please try this transaction cleanup for Chia.', 
                wikilink_open='<a href="https://github.com/guydavis/machinaris/wiki/Pooling#unconfirmed-transaction-error-when-joining-a-pool" class="text-white" target="_blank">', wikilink_close='</a>')}}
              {% endautoescape %}
            </div>
            <div class="modal-footer bg-dark">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btnCancelUnconfirmed">{{_('Cancel')}}</button>
                <button type="button" class="btn btn-outline-success" id="btnDeleteUnconfirmed">{{_('Continue')}}</button>
            </div>
          </form>
        </div>
    </div>
</div>

<div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    {% if category == 'message' %}
    <div class="alert alert-warning" role="alert">
        {% else %}
        <div class="alert alert-{{ category }}" role="alert">
            {% endif %}
            {{ message|safe }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    
    {% if blockchains|length > 0 %}
    <nav class="navbar navbar-expand-lg navbar-dark" style="padding-bottom: 0px; display: block">
        <div class="h-100 p-2 text-white">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              {% for blockchain in blockchains %}
                <li class="nav-item" role="presentation">
                    <button class="nav-link {% if blockchain == selected_blockchain %}active{% endif %}"
                        id="{{blockchain}}-tab" data-bs-toggle="tab"
                        data-bs-target="#{{blockchain}}" type="button" role="tab"
                        aria-controls="{{blockchain}}" data-bs-blockchain="{{blockchain}}"
                        aria-selected="{% if blockchain == selected_blockchain %}true{% else %}false{% endif %}">{{ blockchain
                        }}</button>
                </li>
                {% endfor %}
            </ul>
            <div class="tab-content">
                {% for blockchain in blockchains %}
                <div class="tab-pane {% if blockchain == selected_blockchain %}active{% endif %}" id="{{blockchain}}" role="tabpanel" aria-labelledby="{{blockchain}}-tab">
                    <form method="POST" id="{{blockchain}}-pooling-form">
                    <input type="hidden" id="{{blockchain}}-fee_mojos" name="{{blockchain}}-fee_mojos" />
                    <div class="p-1 mb-4 bg-light border rounded-3">
                        <div class="container m-4">
                            {% autoescape false %}
                            <p>{{_('Join a pool and get consistent farming rewards. The average returns are the same, %(break)sbut it is much less volatile. You can easily switch pools without having to re-plot.', break='<br/>')}}</p>
                            {% endautoescape %}
                            {% if pool_configs[blockchain].warnings|length > 0 %}
                            <p>{{_('ERROR: Unable to join a pool because:')}}</p>
                            <ul>
                                {% for warning in pool_configs[blockchain].warnings %}
                                <li>{{ warning|safe }}</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            {% for plotnft in pool_configs[blockchain].plotnfts %}
                            <div class="row g-3">
                                {% if plotnft.wallet_num %}
                                <h6>Wallet ID: {{ plotnft.wallet_num }}</h6>
                                {% endif %}
                                {% if plotnft.details %}
                                <div class="container-fluid">
                                    <pre style="float:right; padding-right:20px">
                                        Updated at: {{plotnft.updated_at|datetimefilter}}
                                        {% if plotnft.blockchain == 'chia' %}<a href="#" class="text-white" data-bs-toggle="modal" data-bs-target="#unconfirmedModal" data-bs-walletid="{{ plotnft.wallet_num }}">{{_('Delete Unconfirmed Transactions')}}</a>{% endif %}
                                    </pre>
                                    <pre>{{plotnft.header}}</pre>
                                    <br/>
                                </div>
                                {% endif %}
                                <div class="col-12">
                                    <input class="form-check-input" type="radio" name="{{blockchain}}-choice-{{plotnft.wallet_num}}" 
                                        id="{{blockchain}}-{{plotnft.wallet_num}}-self_pool" value="self" 
                                    {% if not plotnft.current_pool_url() %} checked {% endif %}/>
                                    <label class="form-check-label" for="self_pool">
                                        {{_('Self pool. When you win a block, you will earn rewards.')}}
                                    </label>
                                </div>
                            </div>
                            <div class="row mt-1 g-3">
                                <div class="col-lg-2 d-flex align-items-center">
                                    <input class="form-check-input" type="radio" name="{{blockchain}}-choice-{{plotnft.wallet_num}}" 
                                        id="{{blockchain}}-{{plotnft.wallet_num}}-join_pool" value="join"
                                    {% if plotnft.current_pool_url() %} checked {% endif %}/>
                                    &nbsp;
                                    <label class="form-check-label" for="join_pool">
                                    {% if plotnft.current_pool_url() %} {{_('Connected to pool:')}} {% else %} {{_('Connect to pool:')}} {% endif %} 
                                    </label>
                                </div>
                                <div class="col-lg-3">
                                    <input class="form-control" id="{{blockchain}}-{{plotnft.wallet_num}}-pool_url" name="{{blockchain}}-pool_url" type="text"
                                        placeholder="https://myfave.pool.org" 
                                        {% if plotnft.current_pool_url() %} value="{{ plotnft.current_pool_url() }}" {% endif %}>
                                </div>
                                <div class="col-lg-1"></div>
                                <div class="col-auto d-flex align-items-center">
                                    <a href="{{pool_configs[blockchain].links.compare_pools}}" target='_blank' class="text-white">{{_('Compare Pools')}}</a>
                                    &nbsp;
                                    {% if pool_configs[blockchain].links.get_mojos %} |&nbsp;
                                    <a href="{{pool_configs[blockchain].links.get_mojos}}" target="_blank" class="text-white">{{_('Get Mojos')}}</a>
                                    {% endif %}
                                </div>
                                <input type="hidden" name="blockchain" value="{{blockchain}}"/>
                                <input type="hidden" name="{{blockchain}}-launcher_id" value="{{plotnft.launcher}}"/>
                                <input type="hidden" name="{{blockchain}}-wallet_num" value="{{plotnft.wallet_num}}"/>
                                <input type="hidden" name="{{blockchain}}-current_pool_url" value="{{plotnft.current_pool_url()}}"/>
                            </div>
                            {% if plotnft.details %}
                            <div class="row g-3">
                                <div class="container-fluid">
                                    <pre style="margin: 15px;">{{plotnft.details}}</pre>
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                        {% endif %}
                        </div>
                    </div>
                    <div class="row g-3">
                        <div class="col-sm">
                            <button type="button" data-bs-toggle="modal" data-bs-target="#confirmModal"
                                class="btn btn-outline-success m-2 btnSave" id="{{blockchain}}-btnSave">{{_('Save Changes')}}</button>
                        </div>
                        <div class="col-sm">
                            <button type="button" onclick='viewLogs("{{fullnodes_by_blockchain[blockchain].hostname}}","{{blockchain}}");return false;'
                                class="btn btn-outline-success m-2" id="{{blockchain}}-btnLog">{{_('View Log')}}</button>
                        </div>
                    </div>
                    </form>
                </div>
                {% endfor %}
          </div>
      </div>
  </nav>
  {% else %}
  <div class="text-center" style="padding-top:100 px; padding-bottom: 0px">
    <h6>{{_('No wallets found yet.  Perhaps this is a brand-new installation? If so, please wait for complete start-up.')}}</h6>
    <h6>{{_('For more on Pooling, see the Machinaris')}} <a href="https://github.com/guydavis/machinaris/wiki/Pooling" target="_blank">{{_('wiki')}}.</a></h6>
  </div>
  {% endif %}
  </form>
  {% endblock %}

    {% block scripts %}
    <script>
        $(document).ready(function () {
            $("#btnConfirmSave").click(function () {
                $('.btnSave').prop("disabled", true);
                $('.btnSave').html(
                    `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> {{_('Saving...')}}`
                );
                var selected_blockchain = $(".nav-link.active").attr('data-bs-blockchain');
                $('#' + selected_blockchain + '-fee_mojos').val($("#fee_mojos").val())
                $('#' + selected_blockchain + '-pooling-form').submit();
            });
            var exampleModal = document.getElementById('unconfirmedModal')
            exampleModal.addEventListener('show.bs.modal', function (event) {
                var button = event.relatedTarget
                var walletid = button.getAttribute('data-bs-walletid')
                $('#walletid').val(walletid)
            });
            $("#btnDeleteUnconfirmed").click(function () {
                $("#btnCancelUnconfirmed").prop("disabled", true);
                $(this).prop("disabled", true);
                $(this).html(
                    `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> {{_('Deleting...')}}`
                );
                $("#unconfirmed-form").submit();
            });
        })
        function viewLogs(hostname, blockchain) {
            var d = new Date();
            var height = 600;
            var width = 900;
            var top = (screen.height - height) / 2;
            var left = (screen.width - width) / 2;
            window.open("{{ url_for('logs') }}?log=pooling&hostname=" + hostname + "&blockchain=" + blockchain, '{{_('PlotNFT Log on ')}}' + hostname, 'resizeable=yes,scrollbars=yes,height=' + height + ',width=' + width + ',top=' + top + ',left=' + left).focus();
        }
    </script>
    {% endblock %}