{% extends "base.html" %}

{% block content %}

<header class="pb-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <span class="fs-4">Farming Status: {{ farming.display_status }}</span>
    </a>
</header>

<div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    {% if category == 'message' %}
    <div class="alert alert-warning" role="alert">
        {% else %}
        <div class="alert alert-{{ category }}" role="alert">
            {% endif %}
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

<h5>Found {{ plots.rows | length }} total plots. 
    {% if not global_config.plotting_only %}
    Current expected time to win: <span class="text-success">{{ farming.time_to_win }}</span>
    {% endif %}
</h5>

<div class="table-responsive">
    <table class="table table-dark">
        <thead>
            <tr>
                {% for column in plots.columns %}
                <th scope="col" class="text-success">{{ column }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in plots.rows %}
            <tr>
                {% for column in plots.columns %}
                {% if column == "size" %}
                <td>{{ row[column] | bytesfilter}}</td>
                {% else %}
                <td>{{ row[column] }}</td>
                {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}