{% extends "base.html" %}

{% block content %}

<header class="pb-3 mb-4 border-bottom">
    <span class="fs-4">Plotting Status: {{ plotting.display_status }}</span>
</header>

<div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    {% if category == 'message' %}
    <div class="alert alert-warning" role="alert">
        {% else %}
        <div class="alert alert-{{ category }}" role="alert">
            {% endif %}
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

    <div class="table-responsive">
        <table class="table table-dark">
            <thead>
                <tr>
                    {% for column in plotting.columns %}
                    <th scope="col" class="text-success">{{ column }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in plotting.rows %}
                <tr>
                    {% for column in plotting.columns %}
                    <td>{{ row[column] }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <form method="POST" id="main-form">
        {% if not plotting.plotman_running %}
        <fieldset>
            <input type="hidden" id="action" name="action" value="start" />
            <button type="submit" class="btn btn-outline-success" id="btnStart" title="Plotman is currently stopped.">Plot On!</button>
        </fieldset>
        {% else %} 
        <fieldset>
            <input type="hidden" id="action" name="action" value="stop" />
            <button type="submit" class="btn btn-outline-success" id="btnStop" title="Plotman is currently running.">Stop Plotman</button>
        </fieldset>
        {% endif %}
    </form>

    <script>
        $(document).ready(function () {
            $("#btnStart").click(function () {
                $(this).prop("disabled", true);
                $(this).html(
                    `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Starting...`
                );
                $("#main-form").submit();
            });
            $("#btnStop").click(function () {
                $(this).prop("disabled", true);
                $(this).html(
                    `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Stopping...`
                );
                $("#main-form").submit();
            });
        })
    </script>

    {% endblock %}