{% extends "base.html" %}

{% block content %}

<header class="pb-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <span class="fs-4">Plotman</span>
    </a>
</header>

<div class="table-responsive">
    <table class="table table-dark">
        <thead>
            <tr>
                {% for column in columns %}
                <th scope="col" class="text-success">{{ column }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
            <tr>
                {% for column in columns %}
                    <td>{{ row[column] }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
