{% extends "base.html" %}

{% block content %}

<header class="pb-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <span class="fs-4">Plotting Status: {{ plotting.display_status }}</span>
    </a>
</header>

<div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    {% if category == 'message' %}
    <div class="alert alert-warning" role="alert">
        {% else %}
        <div class="alert alert-{{ category }}" role="alert">
            {% endif %}
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

    <div class="table-responsive">
        <table class="table table-dark">
            <thead>
                <tr>
                    {% for column in plotting.columns %}
                    <th scope="col" class="text-success">{{ column }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in plotting.rows %}
                <tr>
                    {% for column in plotting.columns %}
                    <td>{{ row[column] }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        $(document).ready(function () {
            $("#btnFetch").click(function () {
                $(this).prop("disabled", true);
                $(this).html(
                    `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>Starting...`
                );
            });
        })
    </script>

    <form method="POST">
        <fieldset {% if plotting.display_status=="Active" %} disabled {% endif %}>
            <input type="hidden" id="action" name="action" value="plot_on" />
            <button type="submit" class="btn btn-outline-success" id="btnFetch">Plot On!</button>
        </fieldset>
    </form>

    {% endblock %}