<h2>Setup</h2>

<i>Coming soon...</i>

<p>For now, please edit the config files at these location in container:</p>

<ul>
    <li><b>/root/.chia/plotman/plotman.yaml</b></li>
    <li><b>/root/.chia/mainnet/config/config.yaml</b></li>
</ul>

<p>This is likely mapped to a folder on your Docker host like this example on Unraid:</p>

<ul>
    <b>/mnt/user/appdata/machinaris/plotman/plotman.yaml</b>
    <b>/mnt/user/appdata/machinaris/mainnet/config/config.yaml</b>
</ul>

<p>To get into the container, you can execute this or similar:</p>

<b>docker exec -it machinaris bash</b>

<p>More details <a href="https://github.com/orgs/Chia-Network/packages/container/package/chia">here</a>...</p>
