name: test-chives

on:
  push:
    branches:
      - 'integration'

jobs:
  chives:
    runs-on: ubuntu-20.04
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - 
        name: Login to DockerHub
        uses: docker/login-action@v2 
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Login to GitHub Container Registry
        uses: docker/login-action@v2 
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      -
        name: Build and push
        uses: docker/build-push-action@v4
        with:
          file: docker/dockerfile
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          build-args: |
            "UBUNTU_VER=focal"
            "MACHINARIS_STREAM=test"
            "CHIADOG_BRANCH=dev"
            "CHIVES_REPO=https://github.com/HiveProject2021/chives-blockchain.git"
            "CHIVES_BRANCH=1.5.3"
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/machinaris-chives:test
            ghcr.io/${{ secrets.DOCKERHUB_USERNAME }}/machinaris-chives:test

  chivesfoxy:
    runs-on: ubuntu-20.04
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      -
        name: Build and push
        uses: docker/build-push-action@v3
        with:
          file: docker/dockerfile
          context: .
          platforms: linux/amd64,linux/arm64
          provenance: false
          push: true
          build-args: |
            "UBUNTU_VER=focal"
            "MACHINARIS_STREAM=test"
            "CHIADOG_BRANCH=dev"
            "CHIVES_REPO=https://github.com/foxypool/chives-blockchain.git"
            "CHIVES_BRANCH=main"
            "PLOTMAN_BRANCH=development"
            "MADMAX_BRANCH=v0.9.9"
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/machinaris-chivesfoxy:test
            ghcr.io/${{ secrets.DOCKERHUB_USERNAME }}/machinaris-chivesfoxy:test
